<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>问道-2799新版礼包 免费福利火爆送</title>
		<script src="http://s.gyyx.cn/WebGame/PageStat.js" type="text/javascript"></script><!--统计代码 -->
		<script src="http://s.gyyx.cn/Lib/jquery.js"></script>
		<script src="http://www.gyyx.cn/inc/gyyx_statistics.js" type="text/javascript"></script>
	    <script src="http://s.gyyx.cn/publictop/jquery.publictop.js?webname=xinshouka" type="text/javascript"></script>
	    <script type="text/javascript" src="http://static.cn114.cn/action/wd2799/card/js/index.js"></script>
		<link rel="stylesheet" type="text/css" href="http://static.cn114.cn/action/wd2799/card/css/wd160802.css">
		<script>
		var _hmt = _hmt || [];
		(function() {
		  var hm = document.createElement("script");
		  hm.src = "//hm.baidu.com/hm.js?2b99f9fc4b78c0cff6c5c3e9c24489fa";
		  var s = document.getElementsByTagName("script")[0]; 
		  s.parentNode.insertBefore(hm, s);
		})();
		</script>
	</head>

	<body>
		<div class="public_nav_top"><script type="text/javascript">Showtop();</script></div>
		<div class="wd_top">
			<div class="wd_bottom">
				<div class="main">
					<div class="wd_nav">
						<a href="http://wd.gyyx.cn/index_wd_v5.htm" target="_blank">进入官网</a>|
						<a href="http://pay.gyyx.cn/" target="_blank">充值中心</a>|
						<a href="http://account.gyyx.cn/Member/Register" target="_blank">账号注册</a>|
						<a href="http://wd.gyyx.cn/download/" target="_blank">下载中心</a>
					</div>
					<div class="wd_link">
						<a style="cursor:default;" href="javascript:void(0)" class="a01"></a>
						<a style="cursor:default;" href="javascript:void(0)" class="a02"></a>
						<a style="cursor:default;" href="javascript:void(0)" class="a03"></a>
						<a style="cursor:default;" href="javascript:void(0)" class="a04"></a>
					</div>
					<div class="wd_box01 wd_box">
						<h2>2799呼风唤雨礼包激活</h2>
						<div class="wd_entry">
							<p class="beforeLogin"><label>领取请您先：</label>
								<a href="javascript:;" class="js_alertlogin_a">登陆</a>
							</p>
							<p class="afterLogin" data-islogin="" style="display: none;">欢迎您：
								<span></span>
								<a href="javascript:;" class="js_Logout">退出</a>
							</p>
							<p><label>选择服务器：</label>
								<select name="netType" id="ddlNetType">
									<option value="3">双线一区</option>
	                                <option value="1">网通</option>
	                                <option value="2">电信</option>
								</select>
								<select name="serverId" id="ddlGameServer"></select>
							</p>
							<p><label>新手卡号码：</label><input type="text" name="card" id="txtNoviceCard" /></p>
							<p><label>输入验证码：</label><input type="text" name="yzm" id="txtCheckcode" class="yzm"><img title="点击刷新" class="js_yzmImg" src="http://api.gyyx.cn/Captcha/CreateVJ.ashx?r=" width="80" height="26"></p>
							<p class="js_error" style="color: red;min-height:30px;"></p>
							
							<input type="hidden" value="36" id="batchNo" name="batchNo" />
	                        <input type="hidden" name="hdName" id="hdName" value="问道2799二〇一六新手卡" />
	                        <input type="hidden" name="activityId" id="activityId" value="382" />
						</div>
						<div class="wd_btn">
							<!--<a href="javascript:;" class="a01 js_sub">领取礼包</a>-->
							<input type="button" class="a01 js_sub" value="领取礼包" />
							<a href="http://account.gyyx.cn/Member/Register" target="_blank" class="a02">注册激活</a>
							<a href="http://wd.gyyx.cn/download/" target="_blank" class="a03">游戏下载</a>
						</div>
					</div>
					<div class="wd_box02 wd_box">
						<h2>礼包说明</h2>
						<ul class="wd_explain">
							<li><i>1</i>
								<p>本卡只能用于激活9月16日开启的双线一区“呼风唤雨”及之后开启的新服；</p>
							</li>
							<li><i>2</i>
								<p>激活相应服务器30天之内的帐号可以领取；</p>
							</li>
							<li><i>3</i>
								<p>同一服务器内，一个帐号只能领取一张卡；</p>
							</li>
							<li><i>4</i>
								<p>本激活页面还可激活问道微信礼包。</p>
							</li>
						</ul>
					</div>
					<div class="wd_box03 wd_box">
						<h2>2799呼风唤雨礼包列表</h2>
						<ul class="wd_list">
							<li>
								<p class="p_name">至尊礼包</p>
								<p class="p_txt">呼风唤雨</p>
								<p class="p_num">2799</p>
							</li>
							<li>
								<p class="p_name">尊享礼包</p>
								<p class="p_txt">呼风唤雨</p>
								<p class="p_num">2799</p>
							</li>
							<li>
								<p class="p_name">贵宾礼包</p>
								<p class="p_txt">呼风唤雨</p>
								<p class="p_num">2799</p>
							</li>
							<li>
								<p class="p_name">飞龙礼包</p>
								<p class="p_txt">呼风唤雨</p>
								<p class="p_num">2799</p>
							</li>
							<li>
								<p class="p_name">特权礼包</p>
								<p class="p_txt">呼风唤雨</p>
								<p class="p_num">2799</p>
							</li>
							<li>
								<p class="p_name">专属礼包</p>
								<p class="p_txt">呼风唤雨</p>
								<p class="p_num">2799</p>
							</li>
							<li>
								<p class="p_name">超级礼包</p>
								<p class="p_txt">呼风唤雨</p>
								<p class="p_num">2799</p>
							</li>
							<li>
								<p class="p_name">豪华礼包</p>
								<p class="p_txt">呼风唤雨</p>
								<p class="p_num">2799</p>
							</li>
							<li>
								<p class="p_name">微信礼包</p>
								<p class="p_txt">呼风唤雨</p>
								<p class="p_num">2799</p>
							</li>
							<li>
								<p class="p_name">特供礼包</p>
								<p class="p_txt">呼风唤雨</p>
								<p class="p_num">2799</p>
							</li>
							<li>
								<p class="p_name">专享礼包</p>
								<p class="p_txt">呼风唤雨</p>
								<p class="p_num">2799</p>
							</li>
							<li>
								<p class="p_name">飞天礼包</p>
								<p class="p_txt">呼风唤雨</p>
								<p class="p_num">2799</p>
							</li>
							<li>
								<p class="p_name">专供礼包</p>
								<p class="p_txt">呼风唤雨</p>
								<p class="p_num">2799</p>
							</li>
							<li>
								<p class="p_name">玄黄礼包</p>
								<p class="p_txt">呼风唤雨</p>
								<p class="p_num">2799</p>
							</li>
							<li>
								<p class="p_name">至圣礼包</p>
								<p class="p_txt">呼风唤雨</p>
								<p class="p_num">2799</p>
							</li>
							<li>
								<p class="p_name">荣耀礼包</p>
								<p class="p_txt">呼风唤雨</p>
								<p class="p_num">2799</p>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		
    <div class="public_nav_bottom"><script type="text/javascript">ShowBottom()</script></div>
		
	</body>
</html>