<!DOCTYPE html>
<html class="app">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="author" content="Layout:luochongfei" />
    <title>问道9周年祝福图片和祝福语审核</title>
	
    <link href="/action-oa/resources/style/projectStyle.css" rel="stylesheet" />
    <script src="http://oa.gyyx.cn/Script/js/jquery.min.js"></script>
    <script src="http://oa.gyyx.cn/Script/app.v2.js"></script>
    <script src="http://oa.gyyx.cn/Script/js/jquery.validate.js"></script>
    <script src="http://oa.gyyx.cn/Script/js/alertMsg.js"></script>
    <script src="http://oa.gyyx.cn/Script/js/jquery.functions.js"></script>
    <script src="http://oa.gyyx.cn/Script/js/getUserInfo.js"></script>
    <script src="http://oa.gyyx.cn/Script/js/te_data.js"></script>
    <script src="/action-oa/resources/script/jquery-ui.dialog.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        document.write(teheadstr);
    </script>
		<script type="text/javascript">
		$(document).ready(function(){
			$('#checkStatus option[value="$!{checkStatus}"]').attr('selected',true);
		});
	</script>
    <link href="/action-oa/resources/style/jquery-ui.css" rel="stylesheet" />
	
</head>
<body>
    <section class="vbox">
        <header class="bg-dark dk header navbar navbar-fixed-top-xs js_template_top"></header>
        <section>
            <section class="hbox stretch">
                <aside class="bg-dark lter aside-md hidden-print js_template_left" id="nav"></aside>
                <section id="content">
                    <section class="vbox js_template_right">
                        <!--顶部标题导航 begin-->
                        <header class="header bg-white b-b clearfix">
                            <div class="row m-t-sm"> 
								<form id="queryByStatus"  method="get">
									<div class="col-sm-2 m-b-xs">
										<div class="input-group">
											<select id="checkStatus" name="checkStatus" class="input-sm form-control" style="width: 160px">
												<option value="uncheck">未审核</option>
												<option value="checked">审核通过</option>
												<option value="checkfail">审核未通过</option>
											</select>
										</div>
									</div>
									<span class="input-group-btn">
										<input class="btn btn-sm btn-default" type="submit" value="查询" />
									</span>
								</form>   
                            </div> 
                        </header>
                        <!--顶部标题导航 end-->
                        <!--主体内容 begin-->
                        <section class="scrollable padder">
                            <div class="m-b-md"> </div>
                            <!--数据表格  begin -->
                            <section class="panel panel-default" id = "inner">
<div class="table-responsive">
	<script type="text/javascript">
		function show(code){
			$("#pictureCode"+code).show();
		}
		function hide(code){
			$("#pictureCode"+code).hide();
		}
    </script>
	<style type="text/css">  
		.pictureClass{    
			position:absolute;   
			top:34%;    
			left:50%;    
			width:500px;    
			height:300px;    
			margin-top:-150px;  
			margin-left:-300px;    
			background:#f5f5f5;    
			border:6px solid #89cc97; 
			z-index:100;
			display:none;
		}  
    </style>  
		<table class="table table-striped m-b-none">
			<thead>
				<tr>
					<th>用户ID</th>
					<th>图片URL</th>
					<th>祝福语</th>
					<th>祝福时间</th>
					<th>审核状态</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>										
				#foreach ( $!{wishBean} in $!{wishBeanList} )
                <tr>
                    <td>$!{wishBean.userId}</td>
					<td>
						$!{wishBean.pictureURL}
                        <div class="pictureClass" id="pictureCode$!{wishBean.code}">
							<div style="width:290px;height:300px;float:left;">
								<img width="290px" height="288px" src="$!{wishBean.pictureURL}"/>
							</div>
							<div style="width:190px;height:300px;float:right; padding:8px;">
                                <span style="float:right;">$!{wishBean.strWishTime}</span>
								<br/>
								<span style="font-size:18px;">
								用户ID：$!{wishBean.userId}<br/>
								祝福语：$!{wishBean.content}<span><br/>
								<span style="color:#e56ffe">
								审核状态：
								#if($!{wishBean.checkStatus} == "checked")
        							审核通过
        						#elseif($!{wishBean.checkStatus} == "uncheck")
        							未审核
        						#else
        							审核未通过
        						#end<br/>
                                </span>
							</div>
						</div>
					</td>
					<td>$!{wishBean.content}</td>
                    <td>$!{wishBean.strWishTime}</td>
                    <td>
						#if($!{wishBean.checkStatus} == "checked")
							审核通过
						#elseif($!{wishBean.checkStatus} == "uncheck")
							未审核
						#else
							审核未通过
						#end
					</td>
                    <td  onmouseover="show($!{wishBean.code})" onmouseout="hide($!{wishBean.code})">
					#if ($wishBean.checkStatus.equals("checked"))
						<a class="btn btn-xs btn-info js_editRole" data-toggle="tooltip" data-title="取消通过"  title="" href="updateWishStatus?code=$!{wishBean.code}&checkStatus=uncheck&currentStatus=$!{checkStatus}&page=$!{page}" >取消审核</a>
					#elseif ($wishBean.checkStatus.equals("checkfail"))
						<a class="btn btn-xs btn-info js_editRole" data-toggle="tooltip" data-title="取消通过"  title="" href="updateWishStatus?code=$!{wishBean.code}&checkStatus=uncheck&currentStatus=$!{checkStatus}&page=$!{page}" >取消审核</a>
                    #else
                        <a class="btn btn-xs btn-info js_editRole" data-toggle="tooltip" data-title="通过审核"  title="" href="updateWishStatus?code=$!{wishBean.code}&checkStatus=checked&currentStatus=$!{checkStatus}&page=$!{page}" >审核通过</a>
                        <a class="btn btn-xs btn-info js_editRole" data-toggle="tooltip" data-title="审核不通过"  title="" href="updateWishStatus?code=$!{wishBean.code}&checkStatus=checkfail&currentStatus=$!{checkStatus}&page=$!{page}" >审核不通过</a>
					#end
					</td>
                </tr>
				#end
   			</tbody>
		</table>
</div>
<div>
	<div class="col-sm-3">
    	 <div class="text-center">
            <ul class="pagination">
                <li><a href="queryByStatus?page=1&checkStatus=$!{checkStatus}" data-placement="left" data-toggle="tooltip" data-original-title="首页"><i class="fa fa-chevron-left"></i></a></li>
				#foreach($!{index} in $!{pageModel.pageList})
					#if($!{pageModel.currentPage} == $!{index})
						<li><a href="queryByStatus?page=${index}&checkStatus=$!{checkStatus}" style="background-color: #3fb4b5;color:#fff;">${index}</a></li>
					#else
						<li><a href="queryByStatus?page=${index}&checkStatus=$!{checkStatus}">${index}</a></li>
					#end
				#end
                <li><a href="queryByStatus?page=${pageModel.pageTotal}&checkStatus=$!{checkStatus}" data-placement="right" data-toggle="tooltip" data-original-title="尾页"><i class="fa fa-chevron-right"></i></a></li>
            </ul>
        </div>
		
	</div>	
	<div class="col-sm-8">
		 <div style="margin: 24px 0;font-size:14px;float:right;">
			共有数据
			<span style="color:red;">$!{pageModel.dataTotal}</span>
			条,
			总共有
			<span style="color:red;">$!{pageModel.pageTotal}</span>
			页,
			现处于第
			<span style="color:red;">$!{pageModel.currentPage}</span>
			页
		 </div>
    </div>
								
</div>


							</section>
                            <!--数据表格  end -->
                        </section>
                        <!--主体内容 end-->
						<!-- 页脚内容begin-->
						<!--<footer class="footer bg-white b-t">
						</footer> -->
						<!-- 页脚内容end-->
                    </section>
                </section>
            </section>
        </section>
    </section>

    <!--添加网络组件弹层 begin-->
    <div id="addPop">
        <div class="row">
            <div class="col-sm-3 text-right m-t-xs">所属项目集</div>
            <div class="col-sm-6">
                <select class="form-control">
                    <option>请选择项目集</option>
                    <option>项目集1</option>
                </select>
            </div>
            <div class="col-sm-1">
                <span class="required">*</span>
            </div>
        </div>
        <div class="row m-t">
            <div class="col-sm-3 text-right m-t-xs">所属项目</div>
            <div class="col-sm-6">
                <select class="form-control">
                    <option>请选择项目集</option>
                    <option>项目集1</option>
                </select>
            </div>
            <div class="col-sm-1">
                <span class="required">*</span>
            </div>
        </div>
        <div class="row m-t">
            <div class="col-sm-3 text-right m-t-xs">网络组件名称</div>
            <div class="col-sm-6">
                <input type="text" class="form-control" />
            </div>
            <div class="col-sm-1">
                <span class="required">*</span>
            </div>
        </div>
        <div class="row m-t">
            <div class="col-sm-3 text-right m-t-xs">说明</div>
            <div class="col-sm-8">
                <textarea cols="30" rows="2" class="form-control"></textarea>
            </div>
            <div class="col-sm-1">
                <span class="required">*</span>
            </div>
        </div>
    </div>
    <!--添加网络组件弹层 begin-->

    <!--编辑网络组件弹层 begin-->
    <div id="editPop">
        <div class="row">
            <div class="col-sm-3 text-right m-t-xs">所属项目集</div>
            <div class="col-sm-6">
                <select class="form-control">
                    <option>请选择项目集</option>
                    <option>项目集1</option>
                </select>
            </div>
            <div class="col-sm-1">
                <span class="required">*</span>
            </div>
        </div>
        <div class="row m-t">
            <div class="col-sm-3 text-right m-t-xs">所属项目</div>
            <div class="col-sm-6">
                <select class="form-control">
                    <option>请选择项目集</option>
                    <option>项目集1</option>
                </select>
            </div>
            <div class="col-sm-1">
                <span class="required">*</span>
            </div>
        </div>
        <div class="row m-t">
            <div class="col-sm-3 text-right m-t-xs">网络组件名称</div>
            <div class="col-sm-6">
                <input type="text" class="form-control" />
            </div>
            <div class="col-sm-1">
                <span class="required">*</span>
            </div>
        </div>
        <div class="row m-t">
            <div class="col-sm-3 text-right m-t-xs">说明</div>
            <div class="col-sm-8">
                <textarea cols="30" rows="2" class="form-control"></textarea>
            </div>
        </div>
    </div>
    <!--编辑网络组件弹层 end-->

    <script>
        $(function () {
            //准备添加网络组件弹层
            $("#addPop").dialog({
                //标题【必须，否则为空】
                title: "添加一个网络组件",
                autoOpen: false,
                width: 550,
                modal: true,
                btnWrapTextAlign: "right",
                show: {
                    effect: "drop",
                    distance: 300,
                    direction: "up",
                    duration: 300
                },
                hide: {
                    effect: "drop",
                    distance: 100,
                    direction: "up",
                    duration: 200

                },
                buttons: [
                    {
                        text: "取消",
                        click: function () {
                            $(this).dialog("close");
                        },
                        btnCls: "btn btn-default"
                    },
                    {
                        text: "确认",
                        click: function () {
                            alert("提交成功！");
                        },
                        btnCls: "btn-info btn-s-md"
                    }
                ]
            });

            //准备编辑网络组件弹层
            $("#editPop").dialog({
                //标题【必须，否则为空】
                title: "编辑网络组件",
                autoOpen: false,
                width: 550,
                modal: true,
                btnWrapTextAlign: "right",
                show: {
                    effect: "drop",
                    distance: 300,
                    direction: "up",
                    duration: 300
                },
                hide: {
                    effect: "drop",
                    distance: 100,
                    direction: "up",
                    duration: 200

                },
                buttons: [
                    {
                        text: "取消",
                        click: function () {
                            $(this).dialog("close");
                        },
                        btnCls: "btn btn-default"
                    },
                    {
                        text: "确认",
                        click: function () {
                            alert("提交成功！");
                        },
                        btnCls: "btn-info btn-s-md"
                    }
                ]
            });

            //点击开启添加网络组件弹层
            $("#btn").click(function (event) {
                $("#addPop").dialog("open");
                event.preventDefault();
            });

            //点击开启编辑网络组件弹层
            $(".js_editNet").click(function (event) {
                $("#editPop").dialog("open");
                event.preventDefault();
            });

        });
    </script>

</body>
</html>