<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="" >
    <meta name="description" content="">
    <title>光宇-次元突破</title>

    <link rel="stylesheet" href="http://static.cn114.cn/action/wd10yearcoser/css/index.css" />
    <script  type="text/javascript">
        var rc = "${rc.contextPath}";
 	</script>
	<script src="http://s.gyyx.cn/Lib/jquery.js"></script>
	<script src="http://s.gyyx.cn/publictop/jquery.publictop.js?webname=shequ" type="text/javascript"></script>
    <script type="text/javascript" src="http://s.gyyx.cn/common/Statistics/gyyx_statistics.js"></script> <!--光宇统计-->
    <script src="http://s.gyyx.cn/WebGame/PageStat.js" type="text/javascript"></script>
    <script src="http://static.cn114.cn/action/wd10yearcoser/script/public.js" type="text/javascript"></script>
	<script type="text/javascript" src="http://static.cn114.cn/action/wd10yearcoser/script/jquery.ajaxpage-2.2.js"></script>
</head>
<style>
.ManagementUpload_gl{    margin-right: 20px !important;
    margin-left: 40px;}
</style>
<body>
	<div class="public_nav_top">
		<script type="text/javascript">Showtop();</script>
	</div>
    <div class="wrap" style="height:1240px;">
        <div class="TwoPageCos_main">
            <div class="top_link">
                <a href="http://wd.gyyx.cn/index_wd_v5.htm" target="_blank">问道官网</a>
                <a href="http://account.gyyx.cn/Member/Register" target="_blank">账号注册</a>
                <a href="http://wd.gyyx.cn/download/" target="_blank">下载中心</a>
                <a href="http://kf.gyyx.cn/" target="_blank">客服中心</a>
                <a href="http://bbs.gyyx.cn/portal.php" target="_blank">游戏论坛</a>
            </div>
            <div style="margin-top: 22px;margin-left: 28px;"><img src="http://static.cn114.cn/action/wd10yearcoser/images/logo.png"/></div>
            <div style="margin-left: 69px;"><img src="http://static.cn114.cn/action/wd10yearcoser/images/title.png"/></div>
            <div class="TwoPageCos_SignIn" style="height:996px;">
                <!-- step_01 -->
                <div class="step_01"></div>
                <!-- step_01 -->

                <!-- search -->
                <div class="search">
                	<input type="hidden" id="type" value="MUSIC" />
                    <input class="search_input" id="name" type="text" placeholder="请输入关键字搜索" />
                    <a class="search_a"></a>
                </div>
                <!-- search -->

                <div class="Music_main">
                    <table class="musicTable">
                        <tr>
                            <th>
                                播放
                            </th>
                            <th>
                                歌曲名称
                            </th>
                            <th>
                                歌曲类型
                            </th>
                            <th>
                                歌曲作者
                            </th>
                            <th>
                                歌曲人气
                            </th>
                            <th>
                                赞一个
                            </th>
                        </tr>
                    </table>
                    <!-- <div>
                        <ul class="music_ul" >
                            <li class="list_01">
                                <span class="list_01_play">播放</span>
                                <span class="list_01_name">歌曲名称</span>
                                <span class="list_01_type">歌曲类型</span>
                                <span class="list_01_author">歌曲作者</span>
                                <span class="list_01_Popularity">歌曲人气</span>
                                <span class="list_01_Zambia">赞一个</span>
                            </li>
                        </ul>
                    </div> -->
                </div>

                <!-- 分页 -->
				<div class="row dataTables_wrapper pageCut" style="margin-top:40px;">
		        	<footer class="footer bg-white b-t">
		            	<div class="row dataTables_wrapper">
		                	<div class="col-sm-6">
		                    	<div id="DataTables_Table_0_info" class="dataTables_info"></div>
		                    </div>
		                    <div class="col-sm-6">
		                    	<div id="DataTables_Table_0_paginate" class="dataTables_paginate paging_full_numbers"></div>
		                    </div>
		                </div>
		             </footer>
		       </div>
		       <!--分页 -->
            </div>
        </div>
    </div>
    <!-- 左侧浮动窗口 -->
    #parse("wd10yearcoser/left_navigater.vm")
    <!-- 左侧浮动窗口  end -->
    <!-- 登录弹层 start -->
    <div class="SignIn_Mask" style="height:1600px;">
        <div class="SignIn_main">
            <h3 class="SignIn_Title">参与活动前请先登录
                <a class="SignIn_close">x</a>
            </h3>
            <div class="SignIn_btn">
                <a class="SignIn_btn_dl js_alertlogin_a"></a>
                <a class="SignIn_btn_zc info_mli_a no_lo_a" href="http://account.gyyx.cn/Member/Register" target="_blank" statistics="true"></a>
            </div>
        </div>
    </div>
    <!-- 登录弹层 end -->
<div class="WinningSituation_Mask"></div>
   <audio id="audioPlay" src=""></audio>

    <div class="public_nav_bottom">
		<script type="text/javascript">ShowBottom()</script>
	</div>

    <!-- <script src="http://static.cn114.cn/action/runningman/js/awardRotate.js" type="text/javascript"></script>
    <script src="http://static.cn114.cn/action/runningman/js/index.js" type="text/javascript"></script> -->
    <script>
    $(function () {
    
    	//获取地址栏参数
        function getQuery(name, str) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)"),
                r = !str ? window.location.search.substr(1).match(reg) : str.substr(1).match(reg);
            if (r != null) {
                return unescape(r[2]);
            }
            return null;
        }
        var par = decodeURIComponent(window.location.search);

        var typeName = getQuery("type", par);
        var search = location.search;
        var urltype = search.split("=")[1];
        getPage();
        function getPage(){
            $(".COS_main").ajaxPage({
                url: rc + "/wd10coserresource/otherlist",
                type: "POST",
                pageObj: $("#DataTables_Table_0_paginate"),
                pageIndex: 1,//默认起始页为第一页
                pageSize: 10,//一页12个
                curPageCls: "paginate_active",
                pageInfo: {
                        obj: $("#DataTables_Table_0_info"),
                        content: ""
                      },
                      paramObj: {type :urltype,
                          name : $("#name").val()},
                      dataFn:function(data,$this){
                    	  data.list = data.data;
                    	  var Music_html = "<tr><th>播放</th><th>歌曲名称</th><th>歌曲类型</th><th>歌曲作者</th><th>歌曲人气</th><th>赞一个</th></tr>";
                          if (data.list.length > 0) {
                              for (var i = 0; i < data.list.length; i++) {
                              	//获取资源
                              	var resource = data.list[i];
                              	//资源code
                              	var code = resource.code;
                              	//资源图片
                              	var music_pic = resource.works.split(",");
                              	//标题图片
                              	var head_pic = "";
                              	if (resource.works !='') {
                              		if (resource.works.indexOf(",") > 0) {
                              			music_pic = resource.works.split(",");
                                  		head_pic = resource.works.split(",")[0];
                              		} else {
                              			music_pic = resource.works;
                              			head_pic = resource.works;
                              		}
                              	}
                              	//点赞量
                              	var favorite_num = resource.favoriteNum;
                                var favorite_flag = resource.flag;
                                var lightclass = (favorite_flag == true) ? "zanCurs" : "TwoPage_COS_zans";//点亮效果增加
                              	var name = resource.username;
                              	if(name.length>4){
                              		name = name.substring(0,2)+"****"+name.substring(name.length-2,name.length);
                              	}
                                Music_html += '' + '<tr>' +
                                                    '<td class="playOnMu"><img musicurl='+resource.works+' isBf=0  src="http://static.cn114.cn/action/wd10yearcoser/images/TwoPage_Music.png" /></td>' +
                                                    '<td class="js_musicName" taName="' + resource.name + '" taUrl="'+rc+'/wd10coserresource/talist?taUserCode='+ resource.userCode +'&taUsername='+ resource.username+'&type='+typeName+'">' + resource.name + '</td>' +
                                                    '<td class="">' + resource.attrs + '</td>' +
                                                    '<td class="">' + resource.username + '</td>' +
                                                    '<td class="clickNum">' + resource.clickNum + '</td>' +
                                                    '<td class="_favoriteNum" sourceCode="' + resource.userCode + '" data-code="' + code + '"><i class="'+ lightclass + '"></i>' + resource.favoriteNum + '</td></tr>'

      		                 };


    	  		          $(".musicTable").empty().append(Music_html);
    	  		          return Music_html;
                      }else{
                    	  $(".musicTable").html("<p style='text-align:center;font-size:20px; padding-top:200px; color: #d28669;'>没有数据哦亲~</p>");
                      };

              }
        	})
        }
        $(".search_a").click(function(){
            getPage();
        });
     
       
        
        $(".Music_main").on("mouseenter",".js_musicName",function(){
        	 var tempUrl = $(this).attr("taUrl");
             $(this).html("<a href='" + tempUrl + "'>去看他</a>");

        });
        $(".Music_main").on("mouseleave",".js_musicName",function(){
        	
        	  var taName = $(this).attr("taName");
              $(this).html(taName);

        });

        if(navigator.userAgent.indexOf("MSIE")<0||navigator.userAgent.indexOf("MSIE 9.0")>0){ 
      
        				 $(".musicTable").on("click",".playOnMu",function(){
        					 var $this=$(this);
        					 var dataCod=$(this).siblings("._favoriteNum").attr("data-code");
        					var clickNums=parseInt($(this).siblings(".clickNum").html());
        					
        					 var timeL=$(this).siblings(".js_musicName").attr("timeIn","0");
        					 $(this).parents("tr").siblings().find(".playOnMu img").attr("isBf",0);
        					 var zt=$(this).find("img").attr("isBf");
        					 var muSrc=$(this).find("img").attr("musicurl");
        					 $("#audioPlay").attr("src",muSrc);
        					 if(zt==0)
        						 {

        			       		    $("#audioPlay").get(0).play();
        			       		 $(this).parents("tr").siblings().find(".playOnMu img").attr("src","http://static.cn114.cn/action/wd10yearcoser/images/TwoPage_Music.png");
        			       		 
        			       		 var sMusicOff=setInterval(function(){
        			       		
        			       			if($("#audioPlay").get(0).ended)
        			       			{
        			       			 
        			       			  $(".musicTable img[isbf=1]").attr("src","http://static.cn114.cn/action/wd10yearcoser/images/TwoPage_Music.png");
        			       		     
        			       			  $(".musicTable img[isbf=1]").attr("isBf",0);
        			       		       clearInterval(sMusicOff);
        			       			}
         			       		 },8000)

        			       		   $(this).find("img").attr("isBf",1);

        			       		 $(this).find("img").attr("src","http://static.cn114.cn/action/wd10yearcoser/images/play_02.png");
        			       		 var times=0;
        			       		 var sTis=setInterval(function(){
        			       		    times++;
        			       		    if(times>5)
	        			       		 {
        			       		    	
	        			       		   $this.siblings(".js_musicName").attr("ajax",1);
	        			       		   var ss=clickNums+1;
	        			       		 
	        			       		   $this.siblings(".clickNum").html(ss);
		        			       		 $.ajax({
		            						 url:rc+"/wd10coserresource/click",
		            						 type:"post",
		            						 data:{"code":dataCod},
		            						 dataType:"json"
		            					 });
	        			       		   clearInterval(sTis);
	        			       		 }
        			       		 },1000)

        			       		 }else if(zt==1){
        			       			 $("#audioPlay").get(0).pause();
        			       			 $(this).find("img").attr("isBf",0);

        			       			 $(this).find("img").attr("src","http://static.cn114.cn/action/wd10yearcoser/images/TwoPage_Music.png");
        			       			 $(this).siblings(".js_musicName").attr("ajax",0);

        			       		 }else{
        			       			 return false;
        			       		 }
        			    });
        	    
        }else{
        	alert("您的浏览器版本过低，可能导致音乐无法播放！");
        };

    })

    </script>
    <script>
	var _hmt = _hmt || [];
	(function() {
	  var hm = document.createElement("script");
	  hm.src = "//hm.baidu.com/hm.js?721aa8e4c061f8d07da948608d9e2658";
	  var s = document.getElementsByTagName("script")[0]; 
	  s.parentNode.insertBefore(hm, s);
	})();
	</script>
</body>
</html>
