<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="" >
    <meta name="description" content="">
    <title>光宇-次元突破</title>

    <link rel="stylesheet" href="http://static.cn114.cn/action/wd10yearcoser/css/index.css" />
    <script  type="text/javascript">
        var rc = "${rc.contextPath}";
 	</script>
	<script src="http://s.gyyx.cn/Lib/jquery.js"></script>
	<script src="http://s.gyyx.cn/publictop/jquery.publictop.js?webname=shequ" type="text/javascript"></script>
    <script type="text/javascript" src="http://s.gyyx.cn/common/Statistics/gyyx_statistics.js"></script> <!--光宇统计-->
    <script src="http://s.gyyx.cn/WebGame/PageStat.js" type="text/javascript"></script>
    <script src="http://static.cn114.cn/action/wd10yearcoser/script/public.js" type="text/javascript"></script>


    <!--图片上传-->
    <script src="http://static.cn114.cn/action/wd10yearcoser/script/swfupload.js" type="text/javascript"></script>
    <script src="http://static.cn114.cn/action/wd10yearcoser/script/SWFInitialize.js" type="text/javascript" charset="GB2312"></script>
    <script src="http://static.cn114.cn/action/wd10yearcoser/script/Handlers.js" type="text/javascript" charset="GB2312"></script>
</head>
<style>
.ManagementUpload_gl{    margin-right: 20px !important;
    margin-left: 40px;}
</style>
<body>
    <style>
 /*样式修改*/
       .ActivityNotice span{color:#000;}
         
    </style>
	<div class="public_nav_top">
		<script type="text/javascript">Showtop();</script>
	</div>
    <div class="wrap" style="height:1600px;">
        <div class="TwoPageCos_main">
            <div class="top_link">
                <a href="http://wd.gyyx.cn/index_wd_v5.htm" target="_blank">问道官网</a>
                <a href="http://account.gyyx.cn/Member/Register" target="_blank">账号注册</a>
                <a href="http://wd.gyyx.cn/download/" target="_blank">下载中心</a>
                <a href="http://kf.gyyx.cn/" target="_blank">客服中心</a>
                <a href="http://bbs.gyyx.cn/portal.php" target="_blank">游戏论坛</a>
            </div>  
            <div style="margin-top: 22px;margin-left: 28px;"><img src="http://static.cn114.cn/action/wd10yearcoser/images/logo.png"/></div> 
            <div style="margin-left: 69px;"><img src="http://static.cn114.cn/action/wd10yearcoser/images/title.png"/></div>        
            <div class="TwoPageCos_SignIn">
                <!-- step_01 -->
                <div class="step_01">
                    <!--<div class="LoginWindowCos">
                        <span>欢迎您：登录后可查看</span>
                        <a class="signin_a">登录</a>
                    </div>
                    <div class="LuckDrawCos">
                        <span>剩余抽奖次数：hhhhhh</span>
                        <a class="LuckDrawCos_signin_a">查询我的奖品 >></a>
                    </div>
                    <div>
                        <a class="ManagementUpload_gl" href="Manage_My_Upload.html">管理已上传 >></a>
                        <a class="ManagementUpload_zp" href="Manage_Upload.html">上传作品 >></a>                    
                    </div>-->
                </div>
                <!-- cos start -->
                <div class="zj_tabCont mt20">
                    <div class="Manage_Upload_main js_COS js_ManPainting zj_part01" style="display:block;">  
                        <form id="photoInfoForm" method="post">
                        	<!-- 隐藏传递类型  -->
                        	<input  type="hidden" name="type" value="COS_PIC"/>
                        	<input id="works" name="works" value="" type="hidden"/>           
                            <div class="COS_ClassificationWorks">
                                <span>作品归类：</span>
                                <span style="margin-left:14px;">Cos</span>
                            </div>
                            <div class="COS_NameWork zj_p01">
                                <span>作品名称：</span>
                                <input class="cos_nameTitle" id="name" type="text" placeholder="必须在10个字之内" maxlength="10" name="name"/>
                            </div>
                    
                            <div class="COS_UploadWork">     
                                <div style="overflow:hidden;">                
                                    <span style="float: left;">上传作品：</span>
                                    <!--上传作品前--starp -->
                                    <div class="COS_UploadWork_Front  swfupload uploadimg" id="Div1" style=" float: left;display:block;" type="application/x-shockwave-flash" data="http://up.gyyx.cn/flash/swfupload_f9.swf?swfuploadrnd=656488015" title="Adobe Flash Player">
                                     
                                        <input type="hidden"  name="hid_addImgUrl" id="btnUpload">
                                        <input type="hidden" id="hid_addImgUrl" name="hid_addthumbImgUrl">
                                        <input type="hidden" id="hid_addthumbImgUrl" name="hid_addthumbImgUrl" />
                                        
                                        
                                    </div>
                                </div>
                                
                                <p>
                                        <label style="visibility: hidden;">图片封面<span class="red">*</span></label>
                                        <span class="titleimgs zj_upload" id="divFileProgressContainer">
                                        
                                        </span>
                                </p>
                                <span class="zj_txt COS_UploadWork_Requirement">最多上传9张,默认第一张为封面,单张大小不超过5M,建议尺寸493px*365px  支持格式jpg、png、bmp</span>
                                
                                
                            </div>
                   
                            <div class="COS_IntroductionWorks">
                                <span>作品介绍：</span>
                                <textarea class="cos_jieshao" type="text"  id="profile" name="description"></textarea>
                            </div>
                             #parse("wd10yearcoser/check_code.vm")
                           <!--  <div class="COS_VerificationCode">
                                <span>验证码：</span>
                                <input class="yzm" type="text" placeholder="请输入下图验证码" name="veCode"/>   
                                <div>                    
                                    <img src="http://static.cn114.cn/action/wd10yearcoser/images/Select_Picture.png" class="COS_VerificationCode_yzm"/>
                                    <a class="COS_VerificationCode_word">看不清，换一张</a>  
                                </div>                     
                                <span class="COS_VerificationCode_zm" >作品一经上传，则默认上传作者同意光宇游戏通过合法途径对作品进行使用</span>
                            </div> -->
                            <div class="COS_tj">
                                <a class="COS_tj_a zjSubmit"><img src="http://static.cn114.cn/action/wd10yearcoser/images/Manage_Upload_tj.png" /></a>
                                <a class="COS_tx_a zjReset"><img src="http://static.cn114.cn/action/wd10yearcoser/images/Manage_Upload_tx.png" /></a>
                            </div>
                        </form>
                    </div>
                </div>
                <!--  cos end -->            
                </div>
        </div>           
    </div>
    <!-- 左侧浮动窗口 -->
    #parse("wd10yearcoser/left_navigater.vm")
    <!-- 登录弹层 start -->
    <div class="SignIn_Mask"  style="height: 1850px;">
        <div class="SignIn_main">
            <h3 class="SignIn_Title">参与活动前请先登录
                <a class="SignIn_close">x</a>
            </h3>
            <div class="SignIn_btn">
                <a class="SignIn_btn_dl js_alertlogin_a"></a>
                <a class="SignIn_btn_zc info_mli_a no_lo_a" href="http://account.gyyx.cn/Member/Register" target="_blank" statistics="true"></a>
            </div>
        </div>
    </div>
    <!-- 登录弹层 end -->
    <!--上传成功  待审核 -- 弹框  start-->
    <div class="Continue_Mask">
        <div class="Continue_main">
            <h3 class="Continue_Title">上传成功  待审核
                <a class="Continue_close">x</a>
            </h3>
            <div class="Continue_btn">
                <a class="Continue_btn_sc" href="javascript:;">继续上传 </a>
                <a class="Continue_btn_zp" href="ManageMy_Upload .html">管理我的作品</a>
            </div>
        </div>
    </div>
    <!--上传成功  待审核--弹框  end  -->
<div class="WinningSituation_Mask" style="height:1950px;">
       
    </div>
    <div class="public_nav_bottom">
		<script type="text/javascript">ShowBottom()</script>
	</div>
    <!-- <script src="http://static.cn114.cn/action/runningman/js/awardRotate.js" type="text/javascript"></script>
    <script src="http://static.cn114.cn/action/runningman/js/index.js" type="text/javascript"></script>
 -->
    <!--上传图片-->
  
    <!--上传图片-->
    <script>


   function lengthS(ob,bytesL){
	   var ob=$(ob).val();
       //初始中文长度
       var s=0;
       //默认总长度字符
       var allL=0;
       for(var i=0;i<ob.replace(/\s+/g,"").length;i++)
       {
           if( /.*[\u4e00-\u9fa5]+.*$/.test(ob.replace(/\s+/g,"").charAt(i))){
               s++;
           };
       }
       //英文个数总长
       var chi= ob.replace(/\s+/g,"").length-s;
       //总长
       allL=chi+s*2;
       if(allL>bytesL)
       {
           return false;
       }
       return true;
   }
   
        $(function () {
            //弹层中点击继续上传
            //$(".Continue_btn_sc").bind(click,(function () {
            //    $(".Continue_Mask").css("display", "none");
            //    $(".Continue_main").css("display", "none");
            //    window.location.href = "Upload_Cos.html";

            //}));
        	$(function () {
                //图片上传
                UPLOADURL = "http://up.gyyx.cn/Image/WebSiteSaveToTemp.ashx?group=official_site&width=200&height=200";
                FLASHURL = "http://up.gyyx.cn/flash/swfupload_f9.swf";
                FILESIZE = "5120";
                FILETYPE = "*.jpg;*.gif;*.png";
                TYPESDESCRIPTION = "*";
                UPLOADLIMIT = "9";
                QUEUELIMIT = 0;
                DEBUG = false;
                UPLOADTARGET = "divFileProgressContainer";
                SAVEELEMENT = "FileCode";

                if ($("#btnUpload").length > 0) {
                    Initialize();
                }

                $("#check_code").click(function () {
                	$("#code_pic").attr("src","http://api.gyyx.cn/Captcha/CreateVJ.ashx?r=" + Math.random());
                });
               

                $(".zjSubmit").click(function () {
                    //验证是否为空，为空获得焦点
                    if ($("#name").val().trim() == "" || $("#name").val().trim() == "请输入图片名称") {
                        alert("作品名称不能为空！");
                        $("#name").focus();
                    } else if ($("#profile").val().trim() == "" || $("#profile").val().trim() == "请输入内容") {
                        alert("作品介绍不能为空！");
                        $("#profile").focus();
                    } else if ($(".cos_yzm").val() == "") {
                        alert("验证码不能为空！")
                    }else if ($(".js_showImg ").length == 0) {
                        alert("上传作品不能为空！");
                    }else if(!lengthS($("#profile"),100))
                    	{
                    	  alert("作品介绍不能超过50个汉字")
                    	}else {
                    	var arrays = [];
                    	$(".js_showImg ").each(function(){
                    		arrays.push($(this).find("#js_uploadimg").attr("src"));                    		
                    	});
                    	var works = arrays.join(",");
                    	$("#works").val(works);
                        $.ajax({
                            url: rc + '/wd10coserresource/save',
                            type: 'POST',
                            data: $("#photoInfoForm").serialize(),
                            dataType: 'json',
                            success: function (d) {
                                if (d.isSuccess) {
                                	alert(d.message);
                                    window.location.href = rc + "/wd10coserresource/mylist?souce=cos";
                                } else {
                                	alert(d.message);
                                }
                            },
                            error: function () {
                                alert("网络连接超时！")
                            }
                        })
                    };
                });

            });
		
        });

    </script>
   
</body>
</html>