<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.gyyx.action.dao.noviceoa.NoviceServerBeanMapper" >
  <resultMap id="BaseResultMap" type="cn.gyyx.action.beans.noviceoa.NoviceServerBean" >
    <constructor >
      <idArg column="code" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="batch_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="game_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="server_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="server_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="net_type_code" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="is_delete" jdbcType="BIT" javaType="java.lang.Boolean" />
      <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    code, batch_id,game_id, server_id, server_name,net_type_code, is_delete, create_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from novice_server_tb
    where code = #{code,jdbcType=INTEGER}
  </select>
  <insert id="insertSelective" useGeneratedKeys="true"
	keyProperty="code" parameterType="cn.gyyx.action.beans.noviceoa.NoviceServerBean">
	insert into novice_server_tb
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="batchId != null" >
        batch_id,
      </if>
      <if test="gameId != null" >
        game_id,
      </if>
      <if test="serverId != null" >
        server_id,
      </if>
      <if test="serverName != null" >
        server_name,
      </if>
      <if test="netTypeCode != null" >
        net_type_code,
      </if>
      <if test="isDelete != null" >
        is_delete,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="batchId != null" >
        #{batchId,jdbcType=INTEGER},
      </if>
      <if test="gameId != null" >
        #{gameId,jdbcType=INTEGER},
      </if>
      <if test="serverId != null" >
        #{serverId,jdbcType=INTEGER},
      </if>
      <if test="serverName != null" >
        #{serverName,jdbcType=VARCHAR},
      </if>
      <if test="netTypeCode != null" >
        #{netTypeCode,jdbcType=INTEGER},
      </if>
      <if test="isDelete != null" >
        #{isDelete,jdbcType=BIT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.gyyx.action.beans.noviceoa.NoviceServerBean" >
    update novice_server_tb
    <set >
      <if test="batchId != null" >
        batch_id = #{batchId,jdbcType=INTEGER},
      </if>
      <if test="gameId != null">
        game_id = #{gameId,jdbcType=INTEGER},
      </if>
      <if test="serverId != null" >
        server_id = #{serverId,jdbcType=INTEGER},
      </if>
      <if test="serverName != null" >
        server_name = #{serverName,jdbcType=VARCHAR},
      </if>
      <if test="netTypeCode != null" >
        net_type_code = #{netTypeCode,jdbcType=INTEGER},
      </if>
      <if test="isDelete != null" >
        is_delete = #{isDelete,jdbcType=BIT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where code = #{code,jdbcType=INTEGER}
  </update>
  <select id="selectByBatchId" resultMap="BaseResultMap">
    select code,batch_id,game_id,server_id,server_name,net_type_code,is_delete,create_time from novice_server_tb where batch_id=#{batchId} and is_delete=0
  </select>
  <select id="selectByServerId" resultMap="BaseResultMap">
    select code,batch_id,game_id,server_id,server_name,net_type_code,is_delete,create_time from novice_server_tb where server_id=#{serverId} and game_id = #{gameId}
  </select>
  <select id="selectMaxServer" resultMap="BaseResultMap">
    select code,batch_id,game_id,server_id,server_name,net_type_code,is_delete,create_time from novice_server_tb where game_id = #{gameId} and is_delete=0 order by server_id desc limit 1
  </select>

  <select id="selectServerIdsByGameId" resultType="Integer">
    select server_id from novice_server_tb where game_id=#{gameId} and is_delete=0 order by server_id
  </select>
</mapper>