<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>问道-2499元 1.57天书奇谭 新版礼包</title>
    <link href="http://static.cn114.cn/action/heavenlybookbag/css/wd150810.css" rel="stylesheet" type="text/css" />
    <style>.ui-icon{display:none;}</style>
	<script type="text/javascript">
	    var rc = {
	        GETSERVERSURL: 'getServers',
	        GETPAGURL: 'receive'
	    };
	</script>
    <link href="http://static.cn114.cn/action/heavenlybookbag/css/jquery-ui-1.8.13.custom.css" rel="stylesheet" />
    <script src="http://s.gyyx.cn/Lib/jquery.js" type="text/javascript"></script>
    <script src="http://s.gyyx.cn/WebGame/PageStat.js" type="text/javascript"></script>
    <!--统计代码 -->
    <script src="http://s.gyyx.cn/publictop/jquery.publictop.js?webname=wendao" type="text/javascript"></script>
    <script src="http://static.cn114.cn/action/heavenlybookbag/js/jquery-ui-1.8.16.custom.min.js"></script>
    <script src="http://static.cn114.cn/action/heavenlybookbag/js/index.js"></script>
</head>
<body>
    <input type="hidden" value="261" id="activityId" name="activityId">
    <input type="hidden" value="30" id="batchNo" name="batchNo">
    <input type="hidden" name="hdName" id="hdName" value="天书奇谭官方新手礼包领取活动">
    <div class="public_nav_top">
        <script type="text/javascript">Showtop();</script>
    </div>
    <div class="wrap">
        <div class="main">
            <div class="wd_nav"><a href="http://wd.gyyx.cn/index_wd_v5.htm" target="_blank">进入官网</a>|<a href="http://pay.gyyx.cn/" target="_blank">充值中心</a>|<a href="http://account.gyyx.cn/Member/Register/" target="_blank">账号注册</a>|<a href="http://wd.gyyx.cn/download/" target="_blank">下载中心</a></div>
            <ul class="btn clear">
                <li><a href="http://account.gyyx.cn/Member/Register" target="_blank" class="a01">01</a></li>
                <li><a class="btn_down01" href="http://wd.gyyx.cn/download/" target="_blank">游戏下载</a><a class="btn_down02" href="http://download.gyyx.cn/Default.ashx?typeid=664&netType=1">完整客户端</a><a href="http://hd.gyyx.cn/gameDownload/Default.aspx?typeid=13&netType=1&file=asktao_mini_setup.exe" class="a02">02</a></li>
                <li><a href="javascript:;" id="openPopBtn3" onclick="alertFn(null, null, true); return false;" class="a03">03</a></li>
                <li><a href="javascript:;" id="openPopBtn4" class="a04">04</a></li>
            </ul>
            <div class="content">
                <ul class="menu">
                    <li><a href="javascript:;">10级</a></li>
                    <li><a href="javascript:;">20级</a></li>
                    <li><a href="javascript:;">40级</a></li>
                    <li><a href="javascript:;">60级</a></li>
                    <li><a href="javascript:;">80级</a></li>
                    <li><a href="javascript:;">100级</a></li>
                    <li><a href="javascript:;">120级</a></li>
                    <li><a href="javascript:;">140级</a></li>
                </ul>
                <div class="tablist">
                    <div class="tabcon" style="display: block;">
                        <div class="tabbox">
                            <span class="box_L">道具</span>
                            <ul class="box_R">
                                <li>
                                    <img src="http://static.cn114.cn/action/heavenlybookbag/images/xlk.jpg"><p>仙灵卡</p>
                                </li>
                                <li>
                                    <img src="http://static.cn114.cn/action/heavenlybookbag/images/cjbgyyl.jpg"><p>超级八卦阴阳令</p>
                                </li>
                                <li>
                                    <img src="http://static.cn114.cn/action/heavenlybookbag/images/xsj.jpg"><p>驯兽诀</p>
                                </li>
                                <li>
                                    <img src="http://static.cn114.cn/action/heavenlybookbag/images/xhk.jpg"><p>鲜花卡</p>
                                </li>
                                <li>
                                    <img src="http://static.cn114.cn/action/heavenlybookbag/images/tshy.jpg"><p>天神护佑*1</p>
                                </li>
                            </ul>
                        </div>
                        <div class="line"></div>
                        <div class="tabbox">
                            <span class="box_L">道具</span>
                            <ul class="box_R">
                                <li>
                                    <img src="http://static.cn114.cn/action/heavenlybookbag/images/cjqqk.jpg"><p>超级穷奇卡*2</p>
                                </li>
                                <li>
                                    <img src="http://static.cn114.cn/action/heavenlybookbag/images/cjgck.jpg"><p>超级勾陈卡*2</p>
                                </li>
                            </ul>
                        </div>
                        <div class="line"></div>
                        <div class="tabbox">
                            <span class="box_L">卷轴</span>
                            <ul class="box_R">
                                <li>
                                    <img src="http://static.cn114.cn/action/heavenlybookbag/images/jz1.jpg"><p>卷轴·拜师</p>
                                </li>
                                <li>
                                    <img src="http://static.cn114.cn/action/heavenlybookbag/images/jz1.jpg"><p>卷轴·幸运大使</p>
                                </li>
                                <li>
                                    <img src="http://static.cn114.cn/action/heavenlybookbag/images/jz1.jpg"><p>卷轴·采购</p>
                                </li>
                                <li>
                                    <img src="http://static.cn114.cn/action/heavenlybookbag/images/jz2.jpg"><p>卷轴·天神降临</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="tabcon">
                        <div class="tabbox">
                            <span class="box_L">道具</span>
                            <ul class="box_R">
                                <li>
                                    <img src="http://static.cn114.cn/action/heavenlybookbag/images/jctq.jpg"><p>金蝉脱壳</p>
                                </li>
                                <li>
                                    <img src="http://static.cn114.cn/action/heavenlybookbag/images/yht.jpg"><p>烟花筒</p>
                                </li>
                                <li>
                                    <img src="http://static.cn114.cn/action/heavenlybookbag/images/tshy.jpg"><p>天神护佑*1</p>
                                </li>
                                <li>
                                    <img src="http://static.cn114.cn/action/heavenlybookbag/images/xzjs.jpg"><p>袖珍晶石*3</p>
                                </li>
                                <li>
                                    <img src="http://static.cn114.cn/action/heavenlybookbag/images/xzls.jpg"><p>袖珍灵石*3</p>
                                </li>
                            </ul>
                        </div>
                        <div class="line"></div>
                        <div class="tabbox">
                            <span class="box_L">道具</span>
                            <ul class="box_R">
                                <li>
                                    <img src="http://static.cn114.cn/action/heavenlybookbag/images/cjflk.jpg"><p>超级飞廉卡*2</p>
                                </li>
                                <li>
                                    <img src="http://static.cn114.cn/action/heavenlybookbag/images/cjyzk.jpg"><p>超级英招卡*2</p>
                                </li>
                                <li>
                                    <img src="http://static.cn114.cn/action/heavenlybookbag/images/cjgbk.jpg"><p>超级龟宝卡*2</p>
                                </li>
                            </ul>
                        </div>
                        <div class="line"></div>
                        <div class="tabbox">
                            <span class="box_L">卷轴</span>
                            <ul class="box_R">
                                <li>
                                    <img src="http://static.cn114.cn/action/heavenlybookbag/images/jz1.jpg"><p>卷轴·除暴任务</p>
                                </li>
                                <li>
                                    <img src="http://static.cn114.cn/action/heavenlybookbag/images/jz1.jpg"><p>卷轴·捉宠</p>
                                </li>
                                <li>
                                    <img src="http://static.cn114.cn/action/heavenlybookbag/images/jz1.jpg"><p>卷轴·妖魔道</p>
                                </li>
                                <li>
                                    <img src="http://static.cn114.cn/action/heavenlybookbag/images/jz2.jpg"><p>卷轴·报效师门</p>
                                </li>
                                <li>
                                    <img src="http://static.cn114.cn/action/heavenlybookbag/images/jz2.jpg"><p>卷轴·遥领天机</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="tabcon">
                        <div class="tabbox">
                            <span class="box_L">道具</span>
                            <ul class="box_R">
                                <li>
                                    <img src="http://static.cn114.cn/action/heavenlybookbag/images/wxhyl.jpg"><p>五行合缘露</p>
                                </li>
                                <li>
                                    <img src="http://static.cn114.cn/action/heavenlybookbag/images/yjxsd.jpg"><p>易经洗髓丹</p>
                                </li>
                                <li>
                                    <img src="http://static.cn114.cn/action/heavenlybookbag/images/yqd.jpg"><p>元气丹</p>
                                </li>
                                <li>
                                    <img src="http://static.cn114.cn/action/heavenlybookbag/images/tshy.jpg"><p>天神护佑*1</p>
                                </li>
                                <li>
                                    <img src="http://static.cn114.cn/action/heavenlybookbag/images/xzjs.jpg"><p>袖珍晶石*4</p>
                                </li>
                                <li>
                                    <img src="http://static.cn114.cn/action/heavenlybookbag/images/xzls.jpg"><p>袖珍灵石*4</p>
                                </li>
                            </ul>
                        </div>
                        <div class="line"></div>
                        <div class="tabbox">
                            <span class="box_L">装备</span>
                            <ul class="box_R">
                                <li>
                                    <img src="http://static.cn114.cn/action/heavenlybookbag/images/ss35.jpg"><p>35级限时首饰*2</p>
                                </li>
                                <li>
                                    <img src="http://static.cn114.cn/action/heavenlybookbag/images/jqllb.jpg"><p>汉钟离玲珑笔</p>
                                </li>
                            </ul>
                        </div>
                        <div class="line"></div>
                        <div class="tabbox">
                            <span class="box_L">卷轴</span>
                            <ul class="box_R">
                                <li>
                                    <img src="http://static.cn114.cn/action/heavenlybookbag/images/jz1.jpg"><p>卷轴·强化</p>
                                </li>
                                <li>
                                    <img src="http://static.cn114.cn/action/heavenlybookbag/images/jz1.jpg"><p>卷轴·押镖</p>
                                </li>
                                <li>
                                    <img src="http://static.cn114.cn/action/heavenlybookbag/images/jz1.jpg"><p>卷轴·加入帮派</p>
                                </li>
                                <li>
                                    <img src="http://static.cn114.cn/action/heavenlybookbag/images/jz2.jpg"><p>卷轴·聚沙成塔*5</p>
                                </li>
                                <li>
                                    <img src="http://static.cn114.cn/action/heavenlybookbag/images/jz2.jpg"><p>卷轴·古道热肠</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="tabcon">
                        <div class="tabbox">
                            <span class="box_L">道具</span>
                            <ul class="box_R">
                                <li>
                                    <img src="http://static.cn114.cn/action/heavenlybookbag/images/thl.jpg"><p>果仁糖葫芦</p>
                                </li>
                                <li>
                                    <img src="http://static.cn114.cn/action/heavenlybookbag/images/bbss.jpg"><p>宝宝圣水</p>
                                </li>
                                <li>
                                    <img src="http://static.cn114.cn/action/heavenlybookbag/images/shs.jpg"><p>兽魂散*1</p>
                                </li>
                                <li>
                                    <img src="http://static.cn114.cn/action/heavenlybookbag/images/hyjj.jpg"><p>火眼金睛</p>
                                </li>
                                <li>
                                    <img src="http://static.cn114.cn/action/heavenlybookbag/images/tshy.jpg"><p>天神护佑*1</p>
                                </li>
                                <li>
                                    <img src="http://static.cn114.cn/action/heavenlybookbag/images/xyxdb.jpg"><p>小游戏代币*3</p>
                                </li>
                            </ul>
                        </div>
                        <div class="line"></div>
                        <div class="tabbox">
                            <span class="box_L">道具</span>
                            <ul class="box_R">
                                <li>
                                    <img src="http://static.cn114.cn/action/heavenlybookbag/images/xzjs.jpg"><p>袖珍晶石*5</p>
                                </li>
                                <li>
                                    <img src="http://static.cn114.cn/action/heavenlybookbag/images/xzls.jpg"><p>袖珍灵石*5</p>
                                </li>
                                <li>
                                    <img src="http://static.cn114.cn/action/heavenlybookbag/images/qfmy.jpg"><p>清风沐雨套时装</p>
                                </li>
                            </ul>
                        </div>
                        <div class="line"></div>
                        <div class="tabbox">
                            <span class="box_L">装备</span>
                            <ul class="box_R">
                                <li>
                                    <img src="http://static.cn114.cn/action/heavenlybookbag/images/ss60.jpg"><p>60级限时首饰*2</p>
                                </li>
                            </ul>
                        </div>
                        <div class="line"></div>
                        <div class="tabbox">
                            <span class="box_L">卷轴</span>
                            <ul class="box_R">
                                <li>
                                    <img src="http://static.cn114.cn/action/heavenlybookbag/images/jz1.jpg"><p>卷轴·切磋</p>
                                </li>
                                <li>
                                    <img src="http://static.cn114.cn/action/heavenlybookbag/images/jz1.jpg"><p>卷轴·绑定</p>
                                </li>
                                <li>
                                    <img src="http://static.cn114.cn/action/heavenlybookbag/images/jz1.jpg"><p>卷轴·日常任务</p>
                                </li>
                                <li>
                                    <img src="http://static.cn114.cn/action/heavenlybookbag/images/jz1.jpg"><p>卷轴·仙人指路</p>
                                </li>
                                <li>
                                    <img src="http://static.cn114.cn/action/heavenlybookbag/images/jz2.jpg"><p>卷轴·神工砺兵</p>
                                </li>
                                <li>
                                    <img src="http://static.cn114.cn/action/heavenlybookbag/images/jz2.jpg"><p>卷轴·仙界悬赏</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="tabcon">
                        <div class="tabbox">
                            <span class="box_L">道具</span>
                            <ul class="box_R">
                                <li>
                                    <img src="http://static.cn114.cn/action/heavenlybookbag/images/tshy.jpg"><p>天神护佑</p>
                                </li>
                                <li>
                                    <img src="http://static.cn114.cn/action/heavenlybookbag/images/yjxsd.jpg"><p>易经洗髓丹</p>
                                </li>
                                <li>
                                    <img src="http://static.cn114.cn/action/heavenlybookbag/images/shs.jpg"><p>兽魂散</p>
                                </li>
                                <li>
                                    <img src="http://static.cn114.cn/action/heavenlybookbag/images/sls.jpg"><p>兽灵散</p>
                                </li>
                                <li>
                                    <img src="http://static.cn114.cn/action/heavenlybookbag/images/tj.jpg"><p>糖浆</p>
                                </li>
                                <li>
                                    <img src="http://static.cn114.cn/action/heavenlybookbag/images/zy.jpg"><p>纸鸢</p>
                                </li>
                            </ul>
                        </div>
                        <div class="line"></div>
                        <div class="tabbox">
                            <span class="box_L">道具</span>
                            <ul class="box_R">
                                <li>
                                    <img src="http://static.cn114.cn/action/heavenlybookbag/images/cjks.jpg"><p>赤金矿石*5</p>
                                </li>
                                <li>
                                    <img src="http://static.cn114.cn/action/heavenlybookbag/images/gjzqkb.jpg"><p>高级战棋卡包*1</p>
                                </li>
                                <li>
                                    <img src="http://static.cn114.cn/action/heavenlybookbag/images/hyq.jpg"><p>鸿运签</p>
                                </li>
                                <li>
                                    <img src="http://static.cn114.cn/action/heavenlybookbag/images/wwmj.jpg"><p>娃娃随机秘笈</p>
                                </li>
                            </ul>
                        </div>
                        <div class="line"></div>
                        <div class="tabbox">
                            <span class="box_L">装备</span>
                            <ul class="box_R">
                                <li>
                                    <img src="http://static.cn114.cn/action/heavenlybookbag/images/ss80.jpg"><p>80级限时首饰*2</p>
                                </li>
                                <li>
                                    <img src="http://static.cn114.cn/action/heavenlybookbag/images/yd80.jpg"><p>80级限时腰带</p>
                                </li>
                            </ul>
                        </div>
                        <div class="line"></div>
                        <div class="tabbox">
                            <span class="box_L">卷轴</span>
                            <ul class="box_R">
                                <li>
                                    <img src="http://static.cn114.cn/action/heavenlybookbag/images/jz1.jpg"><p>卷轴·副本任务</p>
                                </li>
                                <li>
                                    <img src="http://static.cn114.cn/action/heavenlybookbag/images/jz1.jpg"><p>卷轴·仙魔录</p>
                                </li>
                                <li>
                                    <img src="http://static.cn114.cn/action/heavenlybookbag/images/jz1.jpg"><p>卷轴·日常任务</p>
                                </li>
                                <li>
                                    <img src="http://static.cn114.cn/action/heavenlybookbag/images/jz2.jpg"><p>卷轴·神行千里</p>
                                </li>
                                <li>
                                    <img src="http://static.cn114.cn/action/heavenlybookbag/images/jz2.jpg"><p>卷轴·遥领天机</p>
                                </li>
                                <li>
                                    <img src="http://static.cn114.cn/action/heavenlybookbag/images/jz2.jpg"><p>卷轴·仙界悬赏</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="tabcon">
                        <div class="tabbox">
                            <span class="box_L">道具</span>
                            <ul class="box_R">
                                <li>
                                    <img src="http://static.cn114.cn/action/heavenlybookbag/images/zdbtk.jpg"><p>自动摆摊卡</p>
                                </li>
                                <li>
                                    <img src="http://static.cn114.cn/action/heavenlybookbag/images/hyjj.jpg"><p>火眼金睛</p>
                                </li>
                                <li>
                                    <img src="http://static.cn114.cn/action/heavenlybookbag/images/bbss.jpg"><p>宝宝圣水</p>
                                </li>
                                <li>
                                    <img src="http://static.cn114.cn/action/heavenlybookbag/images/xsj.jpg"><p>驯兽诀</p>
                                </li>
                                <li>
                                    <img src="http://static.cn114.cn/action/heavenlybookbag/images/jctq.jpg"><p>金蝉脱壳</p>
                                </li>
                                <li>
                                    <img src="http://static.cn114.cn/action/heavenlybookbag/images/tshy.jpg"><p>天神护佑*1</p>
                                </li>
                            </ul>
                        </div>
                        <div class="line"></div>
                        <div class="tabbox">
                            <span class="box_L">道具</span>
                            <ul class="box_R">
                                <li>
                                    <img src="http://static.cn114.cn/action/heavenlybookbag/images/xzssj.jpg"><p>袖珍圣水晶</p>
                                </li>
                                <li>
                                    <img src="http://static.cn114.cn/action/heavenlybookbag/images/xzfys.jpg"><p>袖珍封印石</p>
                                </li>
                                <li>
                                    <img src="http://static.cn114.cn/action/heavenlybookbag/images/cwwxd.jpg"><p>宠物武学丹</p>
                                </li>
                                <li>
                                    <img src="http://static.cn114.cn/action/heavenlybookbag/images/fw1.jpg"><p>随机1阶符文</p>
                                </li>
                                <li>
                                    <img src="http://static.cn114.cn/action/heavenlybookbag/images/cwdwd.jpg"><p>宠物顿悟丹</p>
                                </li>
                                <li>
                                    <img src="http://static.cn114.cn/action/heavenlybookbag/images/xfbd.jpg"><p>心法宝典</p>
                                </li>
                            </ul>
                        </div>
                        <div class="line"></div>
                        <div class="tabbox">
                            <span class="box_L">装备</span>
                            <ul class="box_R">
                                <li>
                                    <img src="http://static.cn114.cn/action/heavenlybookbag/images/ss100.jpg"><p>100限时首饰*2</p>
                                </li>
                                <li>
                                    <img src="http://static.cn114.cn/action/heavenlybookbag/images/hjs.jpg"><p>幻境石*2</p>
                                </li>
                            </ul>
                        </div>
                        <div class="line"></div>
                        <div class="tabbox">
                            <span class="box_L">卷轴</span>
                            <ul class="box_R">
                                <li>
                                    <img src="http://static.cn114.cn/action/heavenlybookbag/images/jz1.jpg"><p>卷轴·天罡地煞</p>
                                </li>
                                <li>
                                    <img src="http://static.cn114.cn/action/heavenlybookbag/images/jz1.jpg"><p>卷轴·门派比武</p>
                                </li>
                                <li>
                                    <img src="http://static.cn114.cn/action/heavenlybookbag/images/jz2.jpg"><p>卷轴·礼从天降</p>
                                </li>
                                <li>
                                    <img src="http://static.cn114.cn/action/heavenlybookbag/images/jz2.jpg"><p>卷轴·移花接木</p>
                                </li>
                                <li>
                                    <img src="http://static.cn114.cn/action/heavenlybookbag/images/jz2.jpg"><p>卷轴·醉梦八仙</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="tabcon">
                        <div class="tabbox">
                            <span class="box_L">道具</span>
                            <ul class="box_R">
                                <li>
                                    <img src="http://static.cn114.cn/action/heavenlybookbag/images/tshy.jpg"><p>天神护佑</p>
                                </li>
                                <li>
                                    <img src="http://static.cn114.cn/action/heavenlybookbag/images/hyjj.jpg"><p>火眼金睛</p>
                                </li>
                                <li>
                                    <img src="http://static.cn114.cn/action/heavenlybookbag/images/ryzdl.jpg"><p>如意战斗令*2</p>
                                </li>
                                <li>
                                    <img src="http://static.cn114.cn/action/heavenlybookbag/images/yhkql.jpg"><p>限时御魂孔雀翎</p>
                                </li>
                                <li>
                                    <img src="http://static.cn114.cn/action/heavenlybookbag/images/tjbgyyl.jpg"><p>特级八卦阴阳令</p>
                                </li>
                                <li>
                                    <img src="http://static.cn114.cn/action/heavenlybookbag/images/xfbd.jpg"><p>心法宝典*2</p>
                                </li>
                            </ul>
                        </div>
                        <div class="line"></div>
                        <div class="tabbox">
                            <span class="box_L">道具</span>
                            <ul class="box_R">
                                <li>
                                    <img src="http://static.cn114.cn/action/heavenlybookbag/images/xzssj.jpg"><p>袖珍圣水晶</p>
                                </li>
                                <li>
                                    <img src="http://static.cn114.cn/action/heavenlybookbag/images/xzths.jpg"><p>袖珍天换石</p>
                                </li>
                                <li>
                                    <img src="http://static.cn114.cn/action/heavenlybookbag/images/hty.jpg"><p>混沌玉</p>
                                </li>
                                <li>
                                    <img src="http://static.cn114.cn/action/heavenlybookbag/images/zbgms.jpg"><p>装备共鸣石</p>
                                </li>
                                <li>
                                    <img src="http://static.cn114.cn/action/heavenlybookbag/images/fw2.jpg"><p>随机2阶符文</p>
                                </li>
                                <li>
                                    <img src="http://static.cn114.cn/action/heavenlybookbag/images/sjsz.jpg"><p>随机时装一套</p>
                                </li>
                            </ul>
                        </div>
                        <div class="line"></div>
                        <div class="tabbox">
                            <span class="box_L">装备</span>
                            <ul class="box_R">
                                <li>
                                    <img src="http://static.cn114.cn/action/heavenlybookbag/images/ss120.jpg"><p>120限时首饰*2</p>
                                </li>
                                <li>
                                    <img src="http://static.cn114.cn/action/heavenlybookbag/images/zwxzhf.jpg"><p>紫微星召唤符</p>
                                </li>
                                <li>
                                    <img src="http://static.cn114.cn/action/heavenlybookbag/images/yssp.jpg"><p>绑定异兽碎片</p>
                                </li>
                            </ul>
                        </div>
                        <div class="line"></div>
                        <div class="tabbox">
                            <span class="box_L">卷轴</span>
                            <ul class="box_R">
                                <li>
                                    <img src="http://static.cn114.cn/action/heavenlybookbag/images/jz1.jpg"><p>卷轴·试道大会</p>
                                </li>
                                <li>
                                    <img src="http://static.cn114.cn/action/heavenlybookbag/images/jz1.jpg"><p>卷轴·宠物强化</p>
                                </li>
                                <li>
                                    <img src="http://static.cn114.cn/action/heavenlybookbag/images/jz2.jpg"><p>卷轴·蟾宫折桂</p>
                                </li>
                                <li>
                                    <img src="http://static.cn114.cn/action/heavenlybookbag/images/jz2.jpg"><p>卷轴·聚沙成塔</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="tabcon">
                        <div class="tabbox">
                            <span class="box_L">道具</span>
                            <ul class="box_R">
                                <li>
                                    <img src="http://static.cn114.cn/action/heavenlybookbag/images/tshy.jpg"><p>天神护佑</p>
                                </li>
                                <li>
                                    <img src="http://static.cn114.cn/action/heavenlybookbag/images/djtck.jpg"><p>道具套餐卡</p>
                                </li>
                                <li>
                                    <img src="http://static.cn114.cn/action/heavenlybookbag/images/cjcbt.jpg"><p>超级藏宝图</p>
                                </li>
                                <li>
                                    <img src="http://static.cn114.cn/action/heavenlybookbag/images/jctq.jpg"><p>金蝉脱壳</p>
                                </li>
                                <li>
                                    <img src="http://static.cn114.cn/action/heavenlybookbag/images/bgsf.jpg"><p>八卦神符</p>
                                </li>
                                <li>
                                    <img src="http://static.cn114.cn/action/heavenlybookbag/images/tdsf.jpg"><p>天道神符</p>
                                </li>
                            </ul>
                        </div>
                        <div class="line"></div>
                        <div class="tabbox">
                            <span class="box_L">道具</span>
                            <ul class="box_R">
                                <li>
                                    <img src="http://static.cn114.cn/action/heavenlybookbag/images/lbs.jpg"><p>蓝宝石*5</p>
                                </li>
                                <li>
                                    <img src="http://static.cn114.cn/action/heavenlybookbag/images/xzhsj.jpg"><p>袖珍黑水晶</p>
                                </li>
                                <li>
                                    <img src="http://static.cn114.cn/action/heavenlybookbag/images/tks.jpg"><p>天空石</p>
                                </li>
                                <li>
                                    <img src="http://static.cn114.cn/action/heavenlybookbag/images/fw3.jpg"><p>随机3阶符文</p>
                                </li>
                                <li>
                                    <img src="http://static.cn114.cn/action/heavenlybookbag/images/xfbd.jpg"><p>心法宝典*3</p>
                                </li>
                                <li>
                                    <img src="http://static.cn114.cn/action/heavenlybookbag/images/lhd.jpg"><p>炼魂丹</p>
                                </li>
                            </ul>
                        </div>
                        <div class="line"></div>
                        <div class="tabbox">
                            <span class="box_L">装备</span>
                            <ul class="box_R">
                                <li>
                                    <img src="http://static.cn114.cn/action/heavenlybookbag/images/ss140.jpg"><p>140限时首饰*2</p>
                                </li>
                                <li>
                                    <img src="http://static.cn114.cn/action/heavenlybookbag/images/wwjj.jpg"><p>娃娃随机绝技</p>
                                </li>
                            </ul>
                        </div>
                        <div class="line"></div>
                        <div class="tabbox">
                            <span class="box_L">卷轴</span>
                            <ul class="box_R">
                                <li>
                                    <img src="http://static.cn114.cn/action/heavenlybookbag/images/jz1.jpg"><p>卷轴·试道大会</p>
                                </li>
                                <li>
                                    <img src="http://static.cn114.cn/action/heavenlybookbag/images/jz1.jpg"><p>卷轴·门派比武</p>
                                </li>
                                <li>
                                    <img src="http://static.cn114.cn/action/heavenlybookbag/images/jz2.jpg"><p>卷轴·神行千里</p>
                                </li>
                                <li>
                                    <img src="http://static.cn114.cn/action/heavenlybookbag/images/jz2.jpg"><p>卷轴·遥领天机</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 弹出层新手礼包 -->
    <div class="go_cont" id="js_messageBox" style="display: none;">
        <a href="#" class="close js_close" id="close4"></a>
        <h3 class="hd_tit">新手升级福利礼包</h3>
        <div class="hd_cont">
            <div class="con_txt">
                <div class="red"><em class="blod">注</em>：玩家进入游戏即可获得新手福利礼包（此礼包可与2499天书奇谭礼包同时使用）</div>
                <p><span class="blod ptit">10级：</span><span class="pcon">驯兽诀、烟花筒、任务卷轴·采购、功能卷轴·神行千里</span></p>
                <p><span class="blod ptit">15级：</span><span class="pcon">血池、任务卷轴·捉宠、功能卷轴·礼从天降</span></p>
                <p><span class="blod ptit">20级：</span><span class="pcon">超级疆良卡、超级祝融卡、灵池、任务卷轴·摆摊、任务卷轴·钱庄、任务卷轴·力破千钧、功能卷轴·报效师门</span></p>
                <p><span class="blod ptit">25级：</span><span class="pcon">20级首饰一个(种类随机)（限40级前使用） 、天神护佑、袖珍晶石*6、任务卷轴·领双、功能卷轴·移花接木</span></p>
                <p><span class="blod ptit">30级：</span><span class="pcon">超级仙风散、BOSS卡、特级八卦阴阳令、任务卷轴·答题、功能卷轴·鸿运当头</span></p>
                <p><span class="blod ptit">35级：</span><span class="pcon">一级无天技3级御灵一只（限时7天）、任务卷轴·除暴任务、任务卷轴·天降大任、功能卷轴·天神降临</span></p>
                <p><span class="blod ptit">40级：</span><span class="pcon">随机属性玩家等级守护一只、宠风散、袖珍灵石*6、任务卷轴·妖魔道、功能卷轴·古道热肠</span></p>
                <p><span class="blod ptit">45级：</span><span class="pcon">特效仙风散、鲜花卡、水果卡、金蝉脱壳、任务卷轴·日常任务、任务卷轴·加入帮派、功能卷轴·乐于助人</span></p>
                <p><span class="blod ptit">50级：</span><span class="pcon">袖珍晶石*6、袖珍天换石*1、任务卷轴·守护神、任务卷轴·仙人指路、功能卷轴·易筋改气</span></p>
                <p><span class="blod ptit">55级：</span><span class="pcon">鲜花卡、水果卡、天神护佑、任务卷轴·降妖任务、任务卷轴·帮派任务、功能卷轴·聚沙成塔、功能卷轴·吉人天相</span></p>
                <p><span class="blod ptit">60级：</span><span class="pcon">随机铭牌（限时7天）、果仁糖葫芦、仙灵卡、任务卷轴·加锁、任务卷轴·绑定、任务卷轴·商城消费、功能卷轴·神工砺兵、功能卷轴·遥领天机</span></p>
                <p><span class="blod ptit">65级：</span><span class="pcon">纸鸢、中级灵池、中级血池效果、任务卷轴·押镖、任务卷轴·切磋、任务卷轴·炼丹、功能卷轴·遥领天机</span></p>
                <p><span class="blod ptit">70级：</span><span class="pcon">7级金色玄石*5、7级金色精铁*5、7级金色麟木*5、7级金色水铜*5、7级金色炎石*5、火眼金睛、超级神兽丹、任务卷轴·副本任务、任务卷轴·天罡地煞、任务卷轴·守护神、功能卷轴·蟾宫折桂</span></p>
                <p><span class="blod ptit">75级：</span><span class="pcon">仙灵卡、任务卷轴·仙魔录、功能卷轴·鸿运当头、功能卷轴·古道热肠、功能卷轴·聚沙成塔</span></p>
                <p><span class="blod ptit">80级：</span><span class="pcon">宠物武学丹、随机时装一套（限时7天）、道具套餐卡·体验、高级驯兽诀、喇叭、任务卷轴·试道大会、任务卷轴·结婚、任务卷轴·结拜、任务卷轴·宠物强化</span></p>
            </div>
        </div>
    </div>
    <!-- 弹出层领取成功 -->
    <div class="tc_suc" id="js_succ" style="display: none;">
        <a href="javascript:;" class="close js_popclose" id="close5"></a>
        <h3 class="hd_tit"><span></span>恭喜您领取成功！</h3>
        <div class="suc_con">
            <p class="mes">进入游戏即可获得新手福利礼包此礼包可与2499天书奇谭新手礼包同时使用</p>
            <a class="down_ten" href="http://hd.gyyx.cn/gameDownload/Default.aspx?typeid=13&netType=1&file=asktao_mini_setup.exe">10秒微端</a>
            <a class="down_all" href="http://download.gyyx.cn/Default.ashx?typeid=664&netType=1">完整客户端</a>
        </div>
    </div>
    <!-- 弹出层领取礼包 -->
    <div class="tc_get" id="js_dialogbox" style="display: none;">
        <a href="#" class="close js_popclose" id="close3"></a>
        <h3 class="hd_tit"><span></span>领取2499 天书奇谭系列礼包</h3>
        <div class="get_con">
            <div class="selec_box">
                <label>选择服务器:</label>
                <p class="selec">
                    <select name="select" id="sel_blocklist">
                        <option value="">请选择区组</option>
                    </select>&nbsp;&nbsp;
                     <select name="select" id="sel_serverlist">
                         <option value="0">请选择服务器</option>
                     </select>
                </p>
            </div>
            <p><span class="blod">1、</span>本卡只能用于激活9月11日开启的双线新服“龙御九天”及之后开启的新服；</p>
            <p><span class="blod">2、</span>激活相应服务器30天之内的帐号可以领取；</p>
            <p><span class="blod">3、</span>同一服务器内，一个帐号只能领取一次；</p>
            <p><span class="blod">4、</span>领取成功后，玩家在新服达到10级即可在天墉城-南极仙翁处领取礼包。</p>
         <!--   <p class="btnp"><input type="button" class="js_submit" /></p>-->
            <a class="btn_get js_submit" href="javascript:;">领取礼包</a>
        </div>
    </div>
    <div class="public_nav_bottom">
        <script type="text/javascript">ShowBottom();</script>
    </div>
    <script type="text/javascript" src="http://static.cn114.cn/action/heavenlybookbag/js/ymcore.min.js"></script>
    <script>
        //切换
        YM.UI.Tab({ container: 'div.content', animated: 'fade', index: 0, time: 0 });
    </script>
</body>
</html>
