<!DOCTYPE html>
<html class="app">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="author" content="Layout:luochongfei" />
    <title>主页</title>
    <link href="${rc.contextPath}/resources/style/projectStyle.css" rel="stylesheet" />
    <script src="http://oa.gyyx.cn/Script/js/jquery.min.js"></script>
    <script src="http://oa.gyyx.cn/Script/app.v2.js"></script>
    <script src="http://oa.gyyx.cn/Script/js/jquery.validate.js"></script>
    <script src="http://oa.gyyx.cn/Script/js/alertMsg.js"></script>
    <script src="http://oa.gyyx.cn/Script/js/jquery.functions.js"></script>
    <script src="http://oa.gyyx.cn/Script/js/getUserInfo.js"></script>
    <script src="http://oa.gyyx.cn/Script/js/te_data.js"></script>
    <script src="${rc.contextPath}/resources/script/jquery-ui.dialog.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        document.write(teheadstr);
    </script>
    <script type="text/javascript" charset="utf-8">
    function goCheckDiscuss(){
        window.location.href='goCheckDiscuss';
    }
    function goCheckImg(){
        window.location.href='goCheckImg';
    }
    
    </script>
    <link href="${rc.contextPath}/resources/style/jquery-ui.css" rel="stylesheet" />
	<!-- ************************************************************* -->
	<script type="text/javascript" charset="utf-8">	
	
	
	//通过
		 function passDis( commentCode ) {
	   		var nowpageNew = document.getElementById("nowpageNew").value;
			var cos = document.getElementById("commentStatus");
			var cosValue = cos.options[cos.selectedIndex].value;
			$.ajax
			({
				type:"POST",
				url:"${rc.contextPath}/checkDiscuss/passDis/"+commentCode,
				data: {
					"commentCode":commentCode,
					"nowpageNew": nowpageNew,
					"commentStatus":cosValue
				},
				success:function( data ) {
					$("#tableTemp").html(data);
				}
			});	
	   	 }
	
		 
	//取消通过
		function cancelDis( commentCode ) {
	   		var nowpageNew = document.getElementById("nowpageNew").value;
			var cos = document.getElementById("commentStatus");
			var cosValue = cos.options[cos.selectedIndex].value;
			$.ajax
			({
				type:"POST",
				url:"${rc.contextPath}/checkDiscuss/cancelDis/"+commentCode,
				data: {
					"commentCode":commentCode,
					"nowpageNew": nowpageNew,
					"commentStatus":cosValue
				},
				success:function( data ) {
					$("#tableTemp").html(data);
				}
			});	
	   	 }
		 //头form跳转
		function topBut1() {
			$("#topForm1").submit();
		}
		
		function topBut2() {
			$("#topForm2").submit();
		}
		
		//页码跳转
		function pageJump( nowPage ) {
			var cos = document.getElementById("commentStatus");
			var cosValue = cos.options[cos.selectedIndex].value;
			$.ajax 
			({
				type:"POST",
				url:"${rc.contextPath}/checkDiscuss/checkDisInfo/"+ nowPage,
				data:{
					"commentStatus":cosValue
				},
				success:function(data){
					$("#tableTemp").html(data);
				}
			});
		
		}
		//尾页跳转
		function lastPage() {
			var cos = document.getElementById("commentStatus");
			var cosValue = cos.options[cos.selectedIndex].value;
			var nowPage = document.getElementById("sumPageNum").value;
			$.ajax 
			({
				type:"POST",
				url:"${rc.contextPath}/checkDiscuss/checkDisInfo/"+ nowPage,
				data:{
					"commentStatus":cosValue
				},
				success:function(data){
					$("#tableTemp").html(data);
				}
			});
		}
		//首页跳转
		function homePage() {
			var cos = document.getElementById("commentStatus");
			var cosValue = cos.options[cos.selectedIndex].value;
			$.ajax 
			({
				type:"POST",
				url:"${rc.contextPath}/checkDiscuss/checkDisInfo/"+ "1",
				data:{
					"commentStatus":cosValue
				},
				success:function(data){
					$("#tableTemp").html(data);
				}
			});
		}
    </script>
	
	<!-- ************************************************************* -->
</head>
<body>
    <section class="vbox">
        <header class="bg-dark dk header navbar navbar-fixed-top-xs js_template_top"></header>
        <section>
            <section class="hbox stretch">
                <aside class="bg-dark lter aside-md hidden-print js_template_left" id="nav"></aside>
                <section id="content">
                    <section class="vbox js_template_right">
                        <!--顶部标题导航 begin-->
                        <header class="header bg-white b-b clearfix">
                            <div class="row m-t-sm"> 
                            <!-- action="${rc.contextPath}/checkDiscuss/checkDisInfo"顶部标签其中的form表单表示的是通过  服务器名字 大区名字 进行查询图片 如果对于某一个任务特别熟悉还可以通过某一个人物名字进行查询-->
                                <form action="${rc.contextPath}/lottery/verify/production/show" id="topForm1" method="post" >
                                    <div class="col-sm-2 m-b-xs">
                                        <div class="input-group">
                                            <select id="commentStatus" name="type" class="input-sm form-control" style="width: 160px">
                                                <option value="0" selected>照片</option>
                                                <option value="1">日记</option>
                                            </select>
                                        </div>
                                        <div class="input-group">
                                            <select id="commentStatus" name="status" class="input-sm form-control" style="width: 160px">
                                                <option value="2" >通过</option>
                                                <option value="1">未通过</option>
                                                <option value="0" selected>未审核</option>
                                            </select>
                                        </div>
                                    </div>
                                    <span class="input-group-btn">
                                        <input  class="btn btn-sm btn-default" type="button" value="查询1" onclick="topBut1()" ></button>
                                    </span>
                                </form>  
                                <form action="${rc.contextPath}/lottery/verify/evaluate/show" id="topForm2" method="post" >
                                    <div class="col-sm-2 m-b-xs" style="margin-left: 60px; margin-top: -30px;">
                                        <div class="input-group">
                                            <select id="commentStatus" name="type" class="input-sm form-control" style="width: 160px">
                                                <option value="picture" selected>照片评论</option>
                                                <option value="word">日记评论</option>
                                            </select>
                                        </div>
                                        <div class="input-group">
                                            <select id="commentStatus" name="status" class="input-sm form-control" style="width: 160px">
                                                <option value="2" >通过</option>
                                                <option value="1">未通过</option>
                                                <option value="0" selected>未审核</option>
                                            </select>
                                        </div>
                                    </div>
                                    <span class="input-group-btn">
                                        <input  class="btn btn-sm btn-default" type="button" value="查询2" onclick="topBut2()" style="margin-top: -30px;"></button>
                                    </span>
                                </form>  
                            </div> 
                        </header>
                        <!--顶部标题导航 end-->

                        <!--主体内容 begin-->
                        <section class="scrollable padder" style="margin-top: 20px;">
                            <div class="m-b-md"> </div>
                            <!--数据表格  begin -->
                            <section class="panel panel-default" id="tableTemp">
                               <div class="table-responsive" >
	<table class="table table-striped m-b-none" style="table-layout: fixed;">
		<form action="" method="post">
		<thead>
			<tr>
				<th width="40%">内容</th>
				<th width="10%">照片</th>
                <th width="10%">标题</th>
                <th width="10%">天气</th>
                <th width="15%">上传时间</th>
                <th width="15%">操作</th>
            </tr>
        </thead>
        <tbody>
                #if("$!loginFlag" == "no")
                <p style="font-size: 25px;color: red;margin-top: 16px;text-align: center;">您还未登录</p>
                #end
				#if ("$!typePara" == "evaluate" )
					#foreach ( $!{li} in $!{values} )
						<tr>
                     		<td>$li.content</td>
                     		<td></td>
                     		<td></td>
                     		<td>$!li.weather</td>
                     		<td>$!li.creatTimeStr</td>
                     		<td>
                     		#if("$!button" == "have")
								<a href="${rc.contextPath}/lottery/verify/evaluate/update/2/$!li.code" class="btn btn-xs btn-info js_editRole" data-toggle="tooltip" data-title="通过审核" style="height:22px;width:60px" >通过</a>
								<a href="${rc.contextPath}/lottery/verify/evaluate/update/1/$!li.code" class="btn btn-xs btn-info js_editRole" data-toggle="tooltip" data-title="通过审核" style="height:22px;width:60px" >取消通过</a>
							#end
                     		</td>
                </tr>
					#end
				#else
					#foreach ( $!{li} in $!{values} )
						<tr>
						    <td>$!li.Diary</td>
                     		<td><img class="p2" src="$!li.imageUrl"  /> </td>               		
                     		<td>$!li.title</td>
                     		<td>$!li.weather</td>
                     		<td>$!li.upTimeStr</td>
                     		<td>
                     		#if("$!button" == "have")
								<a href="${rc.contextPath}/lottery/verify/production/update/2/$!li.code" class="btn btn-xs btn-info js_editRole" data-toggle="tooltip" data-title="通过审核" style="height:22px;width:60px" >通过</a>
								<a href="${rc.contextPath}/lottery/verify/production/update/1/$!li.code" class="btn btn-xs btn-info js_editRole" data-toggle="tooltip" data-title="通过审核" style="height:22px;width:60px" >取消通过</a>
							#end
                     		</td>
                		</tr>
					#end
				#end          
                
        </tbody>
		</form>
     </table>
</div>
<div class="row dataTables_wrapper">
	<div class="col-sm-6">
		<div id="DataTables_Table_0_info" class="dataTables_info">共$!{sumDisNum}条</div>
			<input type="hidden" id="nowpageNew" name="nowpageNew" value="${nowpageNew}">
			<input type="hidden" id="sumPageNum" name="sumPageNum" value="${sumPageNum}">
        </div>
        <div class="col-sm-6">
            <div href="" id="DataTables_Table_0_paginate" class="dataTables_paginate paging_full_numbers">
                <a id="DataTables_Table_0_first" class="first paginate_button paginate_button_disabled" tabindex="0" onclick="homePage()" >首页</a>
                      #foreach( ${lip} in ${pageNum} )        
                           <span>
                                 <a  class="paginate_button" tabindex="0" onclick="pageJump('${lip}')" >${lip}</a>
                           </span> 
                      #end
               <a  name="disLastpage" class="last paginate_button" tabindex="0" onclick="lastPage()" >末页</a>
            </div>
		</div>
</div>
                            </section>
                          
                            <!--数据表格  end -->
                        </section>
                        <!--主体内容 end-->
                        <!-- 页脚内容begin-->
                     
                        <!-- 页脚内容end-->
                    </section>
                </section>
            </section>
        </section>
    </section>

    <!--添加网络组件弹层 begin-->
    <div id="addPop">
        <div class="row">
            <div class="col-sm-3 text-right m-t-xs">所属项目集</div>
            <div class="col-sm-6">
                <select class="form-control">
                    <option>请选择项目集</option>
                    <option>项目集1</option>
                </select>
            </div>
            <div class="col-sm-1">
                <span class="required">*</span>
            </div>
        </div>
        <div class="row m-t">
            <div class="col-sm-3 text-right m-t-xs">所属项目</div>
            <div class="col-sm-6">
                <select class="form-control">
                    <option>请选择项目集</option>
                    <option>项目集1</option>
                </select>
            </div>
            <div class="col-sm-1">
                <span class="required">*</span>
            </div>
        </div>
        <div class="row m-t">
            <div class="col-sm-3 text-right m-t-xs">网络组件名称</div>
            <div class="col-sm-6">
                <input type="text" class="form-control" />
            </div>
            <div class="col-sm-1">
                <span class="required">*</span>
            </div>
        </div>
        <div class="row m-t">
            <div class="col-sm-3 text-right m-t-xs">说明</div>
            <div class="col-sm-8">
                <textarea cols="30" rows="2" class="form-control"></textarea>
            </div>
            <div class="col-sm-1">
                <span class="required">*</span>
            </div>
        </div>
    </div>
    <!--添加网络组件弹层 begin-->

    <!--编辑网络组件弹层 begin-->
    <div id="editPop">
        <div class="row">
            <div class="col-sm-3 text-right m-t-xs">所属项目集</div>
            <div class="col-sm-6">
                <select class="form-control">
                    <option>请选择项目集</option>
                    <option>项目集1</option>
                </select>
            </div>
            <div class="col-sm-1">
                <span class="required">*</span>
            </div>
        </div>
        <div class="row m-t">
            <div class="col-sm-3 text-right m-t-xs">所属项目</div>
            <div class="col-sm-6">
                <select class="form-control">
                    <option>请选择项目集</option>
                    <option>项目集1</option>
                </select>
            </div>
            <div class="col-sm-1">
                <span class="required">*</span>
            </div>
        </div>
        <div class="row m-t">
            <div class="col-sm-3 text-right m-t-xs">网络组件名称</div>
            <div class="col-sm-6">
                <input type="text" class="form-control" />
            </div>
            <div class="col-sm-1">
                <span class="required">*</span>
            </div>
        </div>
        <div class="row m-t">
            <div class="col-sm-3 text-right m-t-xs">说明</div>
            <div class="col-sm-8">
                <textarea cols="30" rows="2" class="form-control"></textarea>
            </div>
        </div>
    </div>
    <!--编辑网络组件弹层 end-->

    <script>
        $(function () {
            //准备添加网络组件弹层
            $("#addPop").dialog({
                //标题【必须，否则为空】
                title: "添加一个网络组件",
                autoOpen: false,
                width: 550,
                modal: true,
                btnWrapTextAlign: "right",
                show: {
                    effect: "drop",
                    distance: 300,
                    direction: "up",
                    duration: 300
                },
                hide: {
                    effect: "drop",
                    distance: 100,
                    direction: "up",
                    duration: 200

                },
                buttons: [
                    {
                        text: "取消",
                        click: function () {
                            $(this).dialog("close");
                        },
                        btnCls: "btn btn-default"
                    },
                    {
                        text: "确认",
                        click: function () {
                            alert("提交成功！");
                        },
                        btnCls: "btn-info btn-s-md"
                    }
                ]
            });

            //准备编辑网络组件弹层
            $("#editPop").dialog({
                //标题【必须，否则为空】
                title: "编辑网络组件",
                autoOpen: false,
                width: 550,
                modal: true,
                btnWrapTextAlign: "right",
                show: {
                    effect: "drop",
                    distance: 300,
                    direction: "up",
                    duration: 300
                },
                hide: {
                    effect: "drop",
                    distance: 100,
                    direction: "up",
                    duration: 200

                },
                buttons: [
                    {
                        text: "取消",
                        click: function () {
                            $(this).dialog("close");
                        },
                        btnCls: "btn btn-default"
                    },
                    {
                        text: "确认",
                        click: function () {
                            alert("提交成功！");
                        },
                        btnCls: "btn-info btn-s-md"
                    }
                ]
            });

            //点击开启添加网络组件弹层
            $("#btn").click(function (event) {
                $("#addPop").dialog("open");
                event.preventDefault();
            });

            //点击开启编辑网络组件弹层
            $(".js_editNet").click(function (event) {
                $("#editPop").dialog("open");
                event.preventDefault();
            });
            //图片为空隐藏
            if($(".p2").length>0)
            {
               for(var i=0;i<$(".p2").length;i++)
            {
              if($(".p2").eq(i).attr("src")=="")
              {
                 $(".p2").eq(i).hide();
              }
            }
            }
            

        });
        
    </script>
	<style>
		.table td{word-wrap:break-word;}
		.table td img{width:100%;}
	</style>
</body>
</html>