<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="dao.RecommendContentBeanMapper" >
  <resultMap id="BaseResultMap" type="beans.RecommendContentBean" >
    <id column="code" property="code" jdbcType="INTEGER" />
    <result column="recommend_slot_id" property="recommendSlotId" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="cover" property="cover" jdbcType="VARCHAR" />
    <result column="display_order" property="displayOrder" jdbcType="INTEGER" />
    <result column="content_id" property="contentId" jdbcType="INTEGER" />
    <result column="is_delete" property="isDelete" jdbcType="BIT" />
    <result column="is_display" property="isDisplay" jdbcType="BIT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    code, recommend_slot_id, title, url, cover, display_order, content_id, is_delete, 
    is_display, create_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from playwd_recommend_content_tb
    where code = #{code,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from playwd_recommend_content_tb
    where code = #{code,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="beans.RecommendContentBean" >
    insert into playwd_recommend_content_tb (code, recommend_slot_id, title, 
      url, cover, display_order, 
      content_id, is_delete, is_display, 
      create_time)
    values (#{code,jdbcType=INTEGER}, #{recommendSlotId,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, 
      #{url,jdbcType=VARCHAR}, #{cover,jdbcType=VARCHAR}, #{displayOrder,jdbcType=INTEGER}, 
      #{contentId,jdbcType=INTEGER}, #{isDelete,jdbcType=BIT}, #{isDisplay,jdbcType=BIT}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="beans.RecommendContentBean" >
    insert into playwd_recommend_content_tb
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="code != null" >
        code,
      </if>
      <if test="recommendSlotId != null" >
        recommend_slot_id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="url != null" >
        url,
      </if>
      <if test="cover != null" >
        cover,
      </if>
      <if test="displayOrder != null" >
        display_order,
      </if>
      <if test="contentId != null" >
        content_id,
      </if>
      <if test="isDelete != null" >
        is_delete,
      </if>
      <if test="isDisplay != null" >
        is_display,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="code != null" >
        #{code,jdbcType=INTEGER},
      </if>
      <if test="recommendSlotId != null" >
        #{recommendSlotId,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="cover != null" >
        #{cover,jdbcType=VARCHAR},
      </if>
      <if test="displayOrder != null" >
        #{displayOrder,jdbcType=INTEGER},
      </if>
      <if test="contentId != null" >
        #{contentId,jdbcType=INTEGER},
      </if>
      <if test="isDelete != null" >
        #{isDelete,jdbcType=BIT},
      </if>
      <if test="isDisplay != null" >
        #{isDisplay,jdbcType=BIT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="beans.RecommendContentBean" >
    update playwd_recommend_content_tb
    <set >
      <if test="recommendSlotId != null" >
        recommend_slot_id = #{recommendSlotId,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="cover != null" >
        cover = #{cover,jdbcType=VARCHAR},
      </if>
      <if test="displayOrder != null" >
        display_order = #{displayOrder,jdbcType=INTEGER},
      </if>
      <if test="contentId != null" >
        content_id = #{contentId,jdbcType=INTEGER},
      </if>
      <if test="isDelete != null" >
        is_delete = #{isDelete,jdbcType=BIT},
      </if>
      <if test="isDisplay != null" >
        is_display = #{isDisplay,jdbcType=BIT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where code = #{code,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="beans.RecommendContentBean" >
    update playwd_recommend_content_tb
    set recommend_slot_id = #{recommendSlotId,jdbcType=INTEGER},
      title = #{title,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      cover = #{cover,jdbcType=VARCHAR},
      display_order = #{displayOrder,jdbcType=INTEGER},
      content_id = #{contentId,jdbcType=INTEGER},
      is_delete = #{isDelete,jdbcType=BIT},
      is_display = #{isDisplay,jdbcType=BIT},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where code = #{code,jdbcType=INTEGER}
  </update>
</mapper>