<h3><span>1</span>活动简介</h3>
	            	<p>召回人在被召回后的30天内完成日常活动或者购买和使用商城道具都会获得在续问道缘积分奖励，积分可抽取商城道具、变异宠物等，活动结束后，每区组积分排名前10名玩家可以抽取实物大奖。<br>长时间没有登录游戏玩家，可查询您现在所在服务器：<a href="http://wd.gyyx.cn/fwqcx.htm" target="_blank">点击进入查询</a></p>
	            	<h3><span>2</span>活动时间</h3>
	            	<p>2016年4月14日维护后至2016年5月13日23：59</p>
	            	<h3><span>3</span>活动说明</h3>
	            	<p>例行的老玩家消费或参与指定活动产生的积分抽奖活动，且有排行。（当被召回人消费获得积分时，召回人也会获得一定比例的积分奖励，可以用来抽奖）</p>
                    <h3><span>4</span>活动奖励</h3>
	            	<p>活动结束后，每区组积分排名前10名玩家可以抽取十周年纪念金币（价值6000元）、Iphone6s、AIR 2（16G）土豪金版、问道周边、游戏内银元宝等大奖。</p>
