<h3><span>1</span>活动时间</h3>
	            	<p>2016年4月14日维护后至2016年5月13日23：59</p>
	            	<h3><span>2</span>活动规则</h3>
	            	<p>1、所有回归的老玩家自回归当天至活动结束为止，每日都可完成一次专属的任务；<br />
            	    2、任务需组队完成，完成后队伍中的所有玩家都可获得丰厚的经验和道行数值奖励，还有几率获得超级女娲石、魂兽石等珍稀道具；<br>3、只有真身可以领取任务。</p>
	            	<h3><span>3</span>活动流程</h3>
	            	<p>1、回归的老玩家作为队长可找再续问道缘大使领取任务，每个玩家每天都只获得一次此任务的奖励；<br />
	            	  2、领取任务后刷新出一个与队长玩家同等级的一个BOSS，需要玩家组队击杀，杀完后可获得丰富的奖励；<br />
            	    3、此BOSS只允许申请玩家作为队长时才可击杀，换线或者更换队长，任务都会消失。<br>
                    长时间没有登录游戏玩家，可查询您现在所在服务器：<a href="http://wd.gyyx.cn/fwqcx.htm" target="_blank">点击进入查询</a></p>
                    <h3><span>4</span>活动奖励</h3>
	            	<p>大量经验、道行、武学，并有几率获得超级女娲石和兽魂石等珍稀道具。</p>
