<h3><span>1</span>活动简介</h3>
	            	<p>完成回流任务，得丰厚奖励。
                    <br>长时间没有登录游戏玩家，可查询您现在所在服务器：<a href="http://wd.gyyx.cn/fwqcx.htm" target="_blank">点击进入查询</a></p>
	            	<h3><span>2</span>活动时间</h3>
	            	<p>2016年4月14日维护后至全年</p>
	            	<h3><span>3</span>活动说明</h3>
	            	<p>（1）角色等级大于等于80级且1-7天未登录游戏的玩家回归后可以获得储备奖励，当玩家完成以下任务时会获得额外的数值奖励：<br />
	            	  修行、十绝阵、天罡十绝阵、寻仙、天罡寻仙、通天塔、天降大任、七星阵、天罡七星阵、八阵图、师门任务、助人为乐、悬赏BOSS、副本、仙人指路、四圣真君；<br />
            	    （2）14天以上未上线者，回归后，可获得额外的：当周2小时全局双倍，仙风散*1，天神护佑*1，修为丹*2。</p>
                    <h3><span>4</span>活动奖励</h3>
	            	<p>经验、道行、修为丹</p>
