<h3><span>1</span>活动时间</h3>
	            	<p>2016年4月14日维护后至2016年5月13日23：59</p>
	            	<h3><span>2</span>活动规则</h3>
	            	<p>1、玩家的等级≥80级；<br />
            	    2、上个月平均每日活跃度达到C+，月总积分600以上的玩家可参加。</p>
	            	<h3><span>3</span>活动流程</h3>
	            	<p>1、在活动开启后，上个月日均活跃度达到C+（即月活跃总积分达到600）的玩家，可再完成游戏内日常活动天降大任、八阵图、修行、十绝阵、降妖、伏魔、仙界通缉、通天塔、八仙梦境、副本、悬赏BOSS、助人为乐或者消耗金元宝时获得再续问道缘积分；<br />
            	    2、获得的积分可在问道缘大使天墉城（314，71）处使用再续问道缘积分抽取道具奖励，更有机会获得变异宠物奖励。<br>长时间没有登录游戏玩家，可查询您现在所在服务器：<a href="http://wd.gyyx.cn/fwqcx.htm" target="_blank">点击进入查询</a></p>
                    <h3><span>4</span>活动奖励</h3>
	            	<p>商城道具奖励，更有机会获得变异宠物奖励。</p>
