<h3><span>1</span>活动简介</h3>
	            	<p>王者回归 浴火重生 登录就有好礼送！长时间没有登录游戏玩家，可查询您现在所在服务器：<a href="http://wd.gyyx.cn/fwqcx.htm" target="_blank">点击进入查询</a></p>
	            	<h3><span>2</span>活动时间</h3>
	            	<p>2016年4月14日维护后至2016年5月13日23：59</p>
	            	<h3><span>3</span>活动说明</h3>
	            	<p>1、等级≥80级且连续30天以上未登录角色所在区组，可以前往原区组再续问道缘大使处，选择浴火重生之王者归来；<br />
            	    2、选择浴火重生之王者归来后会获得一个激活码，使用此激活码在指定新服可以获得一份浴火重生礼包。</p>
                    <h3><span>4</span>活动奖励</h3>
	            	<p>商城道具</p>
