<h3><span>1</span>活动时间</h3>
	            	<p>2016年4月14日维护后至2016年5月13日23：59</p>
	            	<h3><span>2</span>活动说明</h3>
	            	<p>老玩家上线后，全服公告，为老玩家寻找昔日战友，该福利由系统自动发放。长时间没有登录游戏玩家，可查询您现在所在服务器：<a href="http://wd.gyyx.cn/fwqcx.htm" target="_blank">点击进入查询</a></p>
