<h3><span>1</span>活动时间</h3>
	            	<p>2016年4月14日维护后至2016年5月13日23：59</p>
	            	<h3><span>2</span>活动说明</h3>
	            	<p>1、玩家角色等级≥80级，且连续30天以上未登录角色所在区组的玩家在活动期间首次登录，即可立即获得登录礼包；<br />
            	    2、登录礼包请前往再续问道缘大使处领取。<br>长时间没有登录游戏玩家，可查询您现在所在服务器：<a href="http://wd.gyyx.cn/fwqcx.htm" target="_blank">点击进入查询</a></p>
	            	<h3><span>3</span>活动奖励</h3>
	            	<p>超级仙风散、宠风散、紫微命格卡、天神护佑、金蝉脱壳、鲜花卡、水果卡、烟花筒、修为丹*2、五雷令、修为周卡状态</p>
