<!DOCTYPE html>
<html class="app">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>审核评论</title>
  <link href="http://oa.gyyx.cn/Script/datepicker/datepicker.css" rel="stylesheet" />
    <script src="http://oa.gyyx.cn/Script/js/jquery.min.js"></script>
    <script src="http://oa.gyyx.cn/Script/app.v2.js"></script>
    <script src="http://oa.gyyx.cn/Script/js/jquery.validate.js"></script>
    <script src="http://oa.gyyx.cn/Script/js/alertMsg.js"></script>
    <script src="http://oa.gyyx.cn/Script/js/jquery.functions.js"></script>
    <script src="http://oa.gyyx.cn/Script/js/getUserInfo.js"></script>
    <script src="http://oa.gyyx.cn/Script/js/te_data.js"></script>
    <script src="http://oa.gyyx.cn/Script/datepicker/bootstrap-datepicker.js" type="text/javascript" charset="gbk"></script>
    <link href="http://oa.gyyx.cn/Script/datepicker/datepicker.css" rel="stylesheet" />
    <script type="text/javascript" charset="utf-8">
        document.write(teheadstr);
        $(function(){
        var arrayObj = new Array();
        	$.ajax({
        		url: "${rc.contextPath}/LHZSOAI/searchChannel",
				type:"GET",
				success:function(data){
					for(var i=0;i<data.data.length;i++){
						arrayObj[i]=data.data[i].channel+";"+data.data[i].channelDes;
						$("#show").append("<b >"+data.data[i].channel+"    "+data.data[i].channelDes+"</b><br/>");
						
					}
				},
				error:function(){
					alert("网络不给力！！");
				}
        		
        	});
        
        
			$("#submit1").click(function(){
				var para1 = $("#activationProduct").val();
				$("#productText").text("");
				var data = $("#activationProduct").val();
				$.ajax({
					url: "${rc.contextPath}/LHZSOAI/activationProduct",
					type:"GET",
					data:{"time" : data },
					success:function(data){
						var isSuccess = data.isSuccess;
						var message = data.message;
						var datas = data.data;
						if(isSuccess==true){
							$("#productText").text(message+"    产品激活数量："+datas);
						}else{
							alert(datas);
						}
					},
					error:function(){
						alert("网络不给力！！");
					}
				});	
			});	
			$("#submit2").click(function(){
				var para2 = $("#activationMarket").val();
				$("#marketText").text("");
				var data = $("#activationMarket").val();
				$.ajax({
					url: "${rc.contextPath}/LHZSOAI/activationMarket",
					type:"GET",
					data:{"time" : data },
					success:function(data){
						var isSuccess = data.isSuccess;
						var message = data.message;
						var datas = data.data;
						if(isSuccess==true){
							$("#marketText").text(message+"    市场激活数量："+datas);
						}else{
							alert(datas);
						}
					},
					error:function(){
						alert("网络不给力！！");
					}
				});	
			});	
			$("#submit3").click(function(){
				var para3 = $("#sendMarket").val();
				$("#sendMarketText").text("");
				var data = $("#sendMarket").val();
				$.ajax({
					url: "${rc.contextPath}/LHZSOAI/sendMarket",
					type:"GET",
					data:{"time" : data },
					success:function(data){
						var isSuccess = data.isSuccess;
						var message = data.message;
						var datas = data.data;
						if(isSuccess==true){
							$("#sendMarketText").text(message+"    产品发放数量："+datas);
						}else{
							alert(datas);
						}
					},
					error:function(){
						alert("网络不给力！！");
					}
				});	
			});
			$("#submit4").click(function(){
				var num = $("#numID").val();
				var channel = $("#channelID").val();
				var channelStr = $("#channelStrID").val();
				if(num==""){
					alert("激活码个数不能为空");
					return false;
				}
				if(channel==""){
					alert("渠道编号不能为空");
					return false;
				}
				if(channelStr==""){
					alert("渠道描述不能为空");
					return false;
				}
				var channelPara = "";
				var channeStrlPara = "";
				for(var j=0;j<arrayObj.length;j++){
					channelPara = arrayObj[j].split(";")[0];
					channeStrlPara = arrayObj[j].split(";")[1];
        			if(channel==channelPara){
						if(channelStr!=channeStrlPara){
        					alert("向已存在渠道添加，渠道码与描述必须相同！！");
        					return false;
						}
        			}		
        		}
        		if(window.confirm('确定要添加么？')){
					
              	}else{
                	return false;
             	}
        		$.ajax({
        			url: "${rc.contextPath}/LHZSOAI/insertActivation",
        			data:{
        				"num" : num 
        			   ,"channel":channel
        			   ,"channelStr":channelStr},
					type:"GET",
					success:function(data){
						alert(data.data);
					},
					error:function(){
						alert("网络不给力！！");
					}
        		});
			});	
			$("#submit5").click(function(){
				var nowDate = $("#activationMarketMes").val();
				window.location.href="${rc.contextPath}/LHZSOAI/getActivityCodeMes?nowDate="+nowDate;
			});
        });
    </script>
  </script>
</head>
<body>
    <section class="vbox">
        <header class="bg-dark dk header navbar navbar-fixed-top-xs js_template_top"></header>
        <section>
            <section class="hbox stretch">
                <aside class="bg-dark lter aside-md hidden-print js_template_left" id="nav"></aside>
                <section id="content">
                    <section class="vbox js_template_right">
                         <!--主体内容 begin-->
                        <section class="scrollable padder">
     
                            <!--数据表格  begin -->
                            <section class="panel panel-default" style="overflow: scroll;height:100%">
              
                            	<div>
                  					<ul class="breadcrumb no-border no-radius b-b b-light pull-in">
                                		<li><a href="index.html"><i class="fa fa-home"></i>查询操作</a></li>
                            		</ul>
                  				</div>
                            	<div style="margin-left:8px">
									<input type="text" style="height:30px;width:200px;float:left;margin-top:11px;" class="input-sm form-control js_Min_select" placeholder="指定时间激活数量（官网）" value="" name="time1" id="activationProduct">
                  					<input type="button" class="btn btn-info" id="submit1" style="margin-left:20px;margin-top:8px" value="激活-产品"/>
                  					<span id="productText"></span>
                  				</div>
                  				<div style="margin-left:8px">
									<input type="text" style="height:30px;width:200px;float:left;margin-top:11px;" class="input-sm form-control js_Min_select" placeholder="指定时间激活数量（市场）" value="" name="time2" id="activationMarket">
                  					<input type="button" class="btn btn-info" id="submit2" style="margin-left:20px;margin-top:8px" value="激活-市场"/>
                  					<span id="marketText"></span>
                  				</div>
                  				<div style="margin-left:8px">
									<input type="text" style="height:30px;width:200px;float:left;margin-top:11px;" class="input-sm form-control js_Min_select" placeholder="指定时间发放数量（官网）" value="" name="time3" id="sendMarket">
                  					<input type="button" class="btn btn-info" id="submit3" style="margin-left:20px;margin-top:8px" value="发放-产品"/>
                  					<span id="sendMarketText"></span>
                  				</div>
                  				<div style="margin-left:8px">
									<input type="text" style="height:30px;width:200px;float:left;margin-top:11px;" class="input-sm form-control js_Min_select" placeholder="指定时间激活详细信息（市场）" value="" name="time3" id="activationMarketMes">
                  					<input type="button" class="btn btn-info" id="submit5" style="margin-left:20px;margin-top:8px;width:88px" value="查询详细"/>
                  				</div>
                  				<div style="margin-top:10px">
                  					<ul class="breadcrumb no-border no-radius b-b b-light pull-in">
                                		<li><a href="index.html"><i class="fa fa-home"></i>添加操作</a></li>
                            		</ul>
                  				</div>
                  				<div style="margin-left:8px;width:800px"  >
									<b style="margin-top:5px">激活码个数：</b><input id="numID" name="num" style="width:150px;" value="" placeholder="请适量添加" maxlength="300">
									<b style="margin-left:8px;margin-top:5px">渠道编号：</b><input id="channelID" name="channel" style="width:150px;margin-top:5px" value="" placeholder="请添加未存在的渠道码" maxlength="300">
									<b style="margin-left:8px;margin-top:5px">渠道描述：</b><input id="channelStrID" name="channelStr" style="width:150px;margin-top:5px" value="" placeholder="请参照以下添加" maxlength="300">
									<input type="button" class="btn btn-info" id="submit4" style="margin-left:8px" value="添加"/>
                  				</div>
								<div id="show" style="margin-left: 8px;margin-top:8px;">
									<font color="#A0522D"><b>现有记录的渠道</b></font><br/>
								</div>
								
                         </section>
                            <!--数据表格  end -->
                        </section>
                        <!--主体内容 end-->

                    </section>
                </section>
            </section>
        </section>
    </section>
    <script type="text/javascript">
    $(function(){
        $(".js_Min_select").datepicker({
            format: 'yyyy-mm-dd hh:ii:s',
            startView: 2,   //默认打开是年试图
            autoclose: true,  //选择后自动关闭
            todayBtn: true,  //选择今天的按钮
            minView: 2   //只能选到年试图  （0 代表能选到分钟、1 代表能选到小时、2 代表能选到日 ）
        }).on('changeDate', function (ev) {
            $(".js_Min").datepicker('hide');    //隐藏开始时间面板
        });
    });
	</script>
</body>
</html>