<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>问道-天下第一宠票选活动</title>
<link href="http://${codeServer2}/action/wdNo1Vote/css/wd141201.css" rel="stylesheet" type="text/css"> 
<script type="text/javascript" src="http://s.gyyx.cn/Lib/jquery.js"></script>
<script src="http://s.gyyx.cn/publictop/jquery.publictop.js?webname=wendao" type="text/javascript"></script>
</head>

<body>
<div class="public_nav_top"><script type="text/javascript">Showtop();</script></div>
<div class="wbg">
    <div class="bg">
      <div class="main">
      
      
        <!--left-->
        <div class="mleft">
          <ul class="nav">
          	<li class="on"><a href="#" class="a01"></a></li>
          	<li><a href="${rc.contextPath}/wdno1pet/showPets" class="a02"></a></li>
          	<li><a href="${rc.contextPath}/wdno1pet/showUpload" class="a03"></a></li>
          	<li><a href="${rc.contextPath}/wdno1pet/showLottery" class="a04"></a></li>
          </ul>
          <ul class="tip">
          	<li><a href="http://wd.gyyx.cn/index_wd_v5.htm" target="new">进入官网</a></li>
          	<li><a href="http://account.gyyx.cn/Member/Register" target="new">账号注册</a></li>
          	<li><a href="http://pay.gyyx.cn/" target="new">充值中心</a></li>
          	<li><a href="http://wd.gyyx.cn/download/" target="new">下载游戏</a></li>
          </ul>
        </div>
        <!--left end-->
        
        
        <!--right-->
        <div class="mright">
           <div class="rtop">
              <div class="rtxt">道途风云灵兽相伴，宠物是我们在问道游戏中必不可少的伙伴，值问道1.55新版本火爆上线，特征选<br/>“天下第一宠”，心爱的宠物晒一晒，看看谁是真正的天下无双！</div>
              <div class="rtime"><span class="sp01">投稿时间：2014年12月25日起</span><span class="sp02">投票时间：2015年1月5日—1月12日</span></div>
           </div>
           <div class="box">
              <h3 class="tit"><span>01</span>活动奖励</h3>
              <div class="box01">
                <div class="left_01">
                   <table border="0" class="table01">
                      <tr>
                        <th colspan="2" scope="col">各类最热宠物<br/><span>（票选最高作品）</span></th>
                      </tr>
                      <tr>
                        <td width="151">元灵票选第1名</td>
                        <td width="157" class="rtd">80000银元宝</td>
                      </tr>
                      <tr>
                        <td>神兽票选第1名</td>
                        <td class="rtd">60000银元宝</td>
                      </tr>
                      <tr>
                        <td><p>变异票选第1名</p></td>
                        <td class="rtd">30000银元宝</td>
                      </tr>
                      <tr>
                        <td>坐骑类选前5名</td>
                        <td class="rtd">10000银元宝</td>
                      </tr>
                      <tr>
                        <td>普通宠物选前5名</td>
                        <td class="rtd">10000银元宝</td>
                      </tr>
                    </table>
                    
                    <table border="0" class="table01 mt15">
                      <tr>
                        <th colspan="2" scope="col">各类最强宠物<br/><span>（总成长、气血、速度、法伤、物伤各一名）</span></th>
                      </tr>
                      <tr>
                        <td width="151">元灵各属性第1名（共5名）</td>
                        <td  class="rtd" width="157">20000银元宝</td>
                      </tr>
                      <tr>
                        <td>神兽各属性第1名（共5名）</td>
                        <td class="rtd">10000银元宝</td>
                      </tr>
                      <tr>
                        <td>变异各属性第1名（共5名）</td>
                        <td class="rtd">5000银元宝</td>
                      </tr>
                      <tr>
                        <td>坐骑各属性第1名（共5名）</td>
                        <td class="rtd">3000银元宝</td>
                      </tr>
                      <tr>
                        <td>普通各属性第1名（共5名）</td>
                        <td class="rtd">2000银元宝</td>
                      </tr>
                    </table>
                    
                    <table border="0" class="table01 mt15">
                      <tr>
                        <th colspan="2" scope="col">各区最热宠物<br/><span>（总成长、气血、速度、法伤、物伤各一名）</span></th>
                      </tr>
                      <tr>
                        <td  colspan="2" class="h76">有上传作品服务器所参加的作品中票选第一<br/>的宠物所有则可获得2000元宝 </td>
                      </tr>
                    </table>
                
               </div>
                <div class="right_01">
             
                  <div class="rbox01">
                     <h3 class="rtit">抽奖活动</h3>
                     <p>活动期间，踊跃参与上传截图和累计投票大于等于10<br/>票的玩家可在比赛结束后可进行抽奖，有机会获得千<br/>
                    足金手链、典藏大礼盒、小米手机、周边、10000银元宝等丰厚奖励，投票结束后3个工作日内将开启抽奖。</p>
                     <ul class="rcj">
                   	   <li><a href="#"><img src="http://${codeServer2}/action/wdNo1Vote/images/wd_img01.jpg" width="62" height="62"><br/>千足金手链</a></li>
                   	   <li><a href="#"><img src="http://${codeServer2}/action/wdNo1Vote/images/wd_img03.jpg" width="62" height="62"><br/>红米手机</a></li>
                   	   <li><a href="#"><img src="http://${codeServer2}/action/wdNo1Vote/images/wd_img04.jpg" width="62" height="62"><br/>威威虎抱枕</a></li>
                   	   <li><a href="#"><img src="http://${codeServer2}/action/wdNo1Vote/images/wd_img05.jpg" width="62" height="62"><br/>典藏大礼盒</a></li>
                   	   <li><a href="#"><img src="http://${codeServer2}/action/wdNo1Vote/images/wd_img06.jpg" width="62" height="62"><br/>问道钱包</a></li>
                   	   <li><a href="#"><img src="http://${codeServer2}/action/wdNo1Vote/images/wd_img07.jpg" width="62" height="62"><br/>海尔音响</a></li>
                     </ul>
                    <a href="${rc.contextPath}/wdno1pet/showLottery" class="cjbtn">参与抽奖</a>
                   </div>
                   <table border="0" class="table01 mt15">
                      <tr>
                        <th colspan="2" scope="col">奖励说明</th>
                      </tr>
                      <tr>
                        <td  colspan="2" class="h76">以上奖励若同时获得，则只发放最高奖励，奖励由最<br/>接近排名的未获奖作品获得奖励。奖励在活动结束后<br/>7个工作日内发放完毕，敬请关注官网公告。<br/></td>
                      </tr>
                    </table>
               </div>
              </div>
              <h3 class="tit"><span>02</span>活动时间</h3>
              <div class="box02">
                <div class="ts01">投稿时间<br/><span>2014年12月25日起</span></div>
                <div class="ts02">投票时间<br/><span>2015年1月5日—1月12日</span></div>
              </div>
              <h3 class="tit"><span>03</span>活动流程</h3>
              <div class="box03">（1）投稿时间内在活动页面中上传自己携带宠物中最厉害的宠物截图和属性（投稿的宠物必须为投稿玩家本人携带截图，截图需同时带有登录角色名、携带状态和宠物属性，若不符合要求则会审批不通过）<br/>（2）在投票时间内，由玩家票选出各分类最好的作品，系统根据投稿人作品判定出总成长、血量、法伤、物攻、敏捷最高的各种类前10的作品。</div>
               <h3 class="tit"><span>03</span>活动限制</h3>
               <div class="box04">
（1）参赛资格：光宇游戏注册用户，请使用社区账号登录参赛，每个账号最多可上传5个作品<br/>
（2）若官方人员检查或有玩家举报核实确认为违规或为PS等修改后的假图则取消其参赛和获奖资格<br/>
（3）同IP号或同一个帐号每天只能对同一个作品投票1次，严禁刷票行为，一旦发现将取消参赛资格<br/>
（4）作品要求：投稿的宠物必须为投稿玩家本人携带截图，截图需同时带有登录角色名、携带状态和宠物属性，若不符合要
求则会审批不通过上传示例图如下：<span>（红框处所标为必有）</span>
                 <p><img src="http://${codeServer2}/action/wdNo1Vote/images/wd_img02.jpg" width="624" height="488"></p>
               </div>
           </div>        
        </div>
        <!--right end-->
        
        
        
      </div>
    </div>
</div>

<script>
$(function(){
	

});

</script>
<div class="public_nav_bottom">
    <script type="text/javascript">ShowBottom("231c35");</script>
</div>
<script src="http://www.gyyx.cn/inc/gyyx_statistics.js" type="text/javascript"></script>
<script src="http://s.gyyx.cn/WebGame/PageStat.js" type="text/javascript"></script><!--统计代码 -->
</body>
</html>


 
 
 
 
 
 
 