<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>《神道三国》官网-抢激活码</title>
    <script src="http://s.gyyx.cn/Lib/jquery.js" type="text/javascript"></script>
    <script src="http://s.gyyx.cn/publictop/jquery.publictop.js?webname=webgame"></script>
    <script src="http://s.gyyx.cn/WebGame/PageStat.js" type="text/javascript"></script>
    <script  type="text/javascript">
        var rc = "${rc.contextPath}";
        var pageNum ="2";
    </script>
    <link rel="stylesheet" href="http://static.cn114.cn/action/shendaosanguo20161107/css/css.css"/>
</head>
<body>

<!--搜索及导航begin-->
<div class="public_nav_top">
    <script type="text/javascript">Showtop();</script>
</div>

<!--logo&搜索 begin-->
<div class="bg2">


    <div class="jhm_nav">
        <div class="main clear">
            <a href="http://actionv2.gyyx.cn/sdsg/step1Index"><i>01</i><span><em>STEP</em><br>抢激活码</span></a>
            <a href="http://actionv2.gyyx.cn/sdsg/step2Index" class="on"><i>02</i><span><em>STEP</em><br>激活游戏</span></a>
            <a href="http://actionv2.gyyx.cn/sdsg/step3Index"><i>03</i><span><em>STEP</em><br>激活状态</span></a>
            <a href="javascript:;"><i>04</i><span><em>STEP</em><br>下载游戏</span></a>
        </div>
    </div>

    <div class="main2 clear">
        <div class="main2_l">
            <div class="game_login2">
                <!-- 登陆前 -->
                <div class="game_fail" style=" margin-left: 0px;">抽奖前请先 <a href="#" class="game_col" onclick="alertFn(null,null,true); return false;">[登录]</a></div>
                <!-- 登陆后 -->
                <div class="game_sucs"  style="margin-left: 0px;display: none;">欢迎您：<strong>chfff4</strong> <a href="#">[注销]</a></div>
            </div>
            <h2>请输入激活码</h2>
            <input type="text" maxlength="30" class="js_gameBtn01"/>
            <h2>请选择游戏大区</h2>
            <select name="" id="" class="js_game">
                <option value="-1">请选择区服</option>
                <!--<option value="不删档封测">不删档封测</option>-->
            </select>
            <button class="game_btn js_now"></button>
        </div>
        <div class="main2_r">
            <h2>活动规则</h2>
            <p><span>1</span>本次不删档封测将开启一个游戏服务区“<a href="javascript:;" class="orange">不删档封测服</a>”，请玩家激活此区服即可。</p>
            <p><span>2</span>激活后页面将弹出“激活成功”的提示，即代表该账号可以参与<a href="javascript:;" class="orange">5月6日</a>的不删档封测了。</p>
            <p><span>3</span>如果您忘记账号是否已经被激活，可以在激活状态页面进行。</p>
        </div>
    </div>
</div>

<div class="public_nav_bottom">
    <script type="text/javascript">ShowBottom()</script>
</div>
<script src="http://static.cn114.cn/action/shendaosanguo20161107/js/index.js"></script>
</body>
</html>