#parse("public/publicTop.vm")
<style>
.hideInfoBox a{width: 100%;height: 118px;display:block;}
.hideInfoBox p:hover{text-decoration:none;cursor: default;}
.articleBox:hover{text-decoration:none;}
.hideInfoBox a:hover{text-decoration:none;}
</style>
<script type="text/javascript" src="${rc.contextPath}/static/js/less.min.js"></script>
<script src="${rc.contextPath}/static/js/jquery.tools.min.js" charset="utf-8"></script>
<script src="${rc.contextPath}/static/js/jquery-scroll-fn.js" charset="utf-8"></script>
<script type="text/javascript" src="${rc.contextPath}/static/js/mainHjh.js"></script>
<link rel="stylesheet" href="${rc.contextPath}/static/css/indexStyle.css">

<div class="maiin_left">
	<div class="backToOld">
                <p><a href="http://wanwd.gyyx.cn/articlelist/Index">回到旧版图文驿站></a></p>
            </div>
            <!-- 首页推荐位 -->
            <div class="bannerBox">
                <!-- 左侧轮播图 -->
                <div class="leftBanner">
                    <div class="bannerPic">
                        <div class="btn_pre prev" style="display:none;"></div>
                        <div class="btn_next next" style="display:none;"></div>
                        <div class="imgTextscrollbody">
                            <div class="imgTextscrollableitems">
                                    <div class="pic">

                                    </div>
                                    <div class="pic">

                                    </div>
                                    <div class="pic">

                                    </div>
                                    <div class="pic">

                                    </div>
                            </div>
                        </div>
                        <ul class="picnum">
                                <li class="active"></li>
                        </ul>
                    </div>
                </div>
                <!-- 右侧图片 -->
                <div class="rightBanner">
                    <div class="" style="padding-bottom:8px;"></div>
					<div class=""></div>
                </div>
            </div>
            <!-- 综合区 -->
            <div class="synthetical" data-show="false">
                <div class="title" data-type="0">
                    <h2><span id="syntheticalIcon"></span>综合</h2>
					<a href="/article/lists?categoryId=0" class="moreArticle" target="_blank">更多<i style="color:red;">&gt;</i></a>
                </div>
                <div class="content">

                </div>
            </div>
            <div class="interview" data-show="false">
                <div class="title" data-type="9">
                    <h2><span id="interview"></span>采访汇聚</h2>
					<ul class="childType">

					</ul>
					<a href="/article/lists?categoryId=9" class="moreArticle"  target="_blank">更多<i style="color:red;">&gt;</i></a>
                </div>
                <div class="content">

                </div>
            </div>
            <div class="emotion" data-show="false">
                <div class="title" data-type="1">
                    <h2><span id="emotion"></span>情感世界</h2>
					<ul class="childType">

					</ul>
					<a href="/article/lists?categoryId=1" class="moreArticle" target="_blank">更多<i style="color:red;">&gt;</i></a>
                </div>
                <div class="content">

                </div>
            </div>
            <div class="strategy" data-show="false">
                <div class="title" data-type="7">
                    <h2><span id="strategy"></span>玩法攻略</h2>
					<ul class="childType">

					</ul>
					<a href="/article/lists?categoryId=7" class="moreArticle" target="_blank">更多<i style="color:red;">&gt;</i></a>
                </div>
                <div class="content">

                </div>
            </div>
            <div class="raceHot" data-show="false">
                <div class="title" data-type="8">
                    <h2><span id="raceHot"></span>赛事热点</h2>
					<ul class="childType">

					</ul>
					<a href="/article/lists?categoryId=8" class="moreArticle" target="_blank">更多<i style="color:red;">&gt;</i></a>
                </div>
                <div class="content">

                </div>
            </div>
            <div class="PicJoke" data-show="false">
                <div class="title" data-type="2">
                    <h2><span id="PicJoke"></span>图文笑话</h2>
					<ul class="childType">

					</ul>
					<a href="/article/lists?categoryId=2" class="moreArticle" target="_blank">更多<i style="color:red;">&gt;</i></a>
                </div>
                <div class="content">

                </div>
            </div>

</div>
<div class="maiin_right">
	#parse("public/sidebar.vm")
</div>
#parse("public/publicBottom.vm")
<script>
	$(function(){
		guessLike(3,10);//彩你喜欢
		userWealth();//财富
	})
</script>
