<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="renderer" content="webkit" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no" />
		<meta name="format-detection" content="telephone=no, email=no" />
		<title></title>
		<link rel="stylesheet" href="http://static.cn114.cn/action/wd2899/card/css/normalize.css" />
		<link rel="stylesheet" href="http://static.cn114.cn/action/wd2899/card/css/main.css" />
	</head>
	<body>
		<input type="hidden" value="$userType" name="userType" id="userType" />
		<input type="hidden" value="37" name="batchNo" id="batchNo" />
		<input type="hidden" value="移动端2899元神合一新手卡" name="hdName" id="hdName" />
		<input type="hidden" value="408" name="activityId" id="activityId" />
		<div class="jihuopage">
			<img src="http://static.cn114.cn/action/wd2899/card/images/page_bg.jpg" />
			<div class="logo"><img src="http://static.cn114.cn/action/wd2899/card/images/logo2.png" /></div>
			<div class="jihuoform">
				<form id="formmima" method="post" action="" class="reg_form_web js_login_form">
					<p class="item_p">
						<label>选择区组：</label>
						<span class="item_p_r">
							<select class="inps js_Account"  name="netType" id="ddlNetType">
								<option value="3" selected>双线一区</option>
                       			<option value="1">网通</option>
                       			<option value="2">电信</option>
							</select>
						</span>
					</p>
					<p class="item_p">
						<label>选择服务器:</label>
						<span class="item_p_r">
							<select class="inps js_Password" name="serverId" id="ddlGameServer">
							</select>
						</span>
					</p>
					<p class="item_p">
						<label>新手卡卡号:</label>
						<span class="item_p_r">
							<input type="text" class="inps" id="txtNoviceCard" value="" name="txtNoviceCard" autocomplete="off" maxlength="18" data-olduser="" placeholder="请输入卡号" />
						</span>
						
					</p>
					<p class="item_p">
						<label>输入验证码:</label>
						<span class="item_p_r">
							<input type="text" class="shortinput" id="txtCheckcode" value="" name="txtCheckcode" autocomplete="off" placeholder="请输入验证码" />
							<img id="captcha_image" class="yzmimg" src="" />
						</span>						
					</p>
					<p class="errorp" style="min-height:25px;"></p>
					<a id="btnRegister" class="login_btn jihuo_btn" href="#">领取新手卡礼包</a>
				</form>
				<p class="wxtxt">搜索公众号：gyyxwd,或长按二维码保存至相册，在微信中使用扫一扫-相册-选择二维码图片，即可添加关注<img src="http://static.cn114.cn/action/wd2899/card/images/wx.gif" /></p>
			</div>
		</div>
		<script src="http://s.gyyx.cn/Lib/jquery.js"></script>
		<script src="http://static.cn114.cn/action/wd2899/card/js/receive.js"></script>
	</body>
</html>