<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>《盗墓三番队》概念站</title>
    <meta name="keywords" content="光宇游戏，手游大作，盗墓三番队，概念站" />
    <meta name="description" content="光宇游戏，盗墓三番队。" />
    <meta name="format-detection" content="telephone=no">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />
	<link rel="stylesheet" href="http://static.cn114.cn/action/wdThreeTeam/wap/css/stylev2.css"/>
    <script src="http://s.gyyx.cn/Lib/jquery.js"></script>
    <script src="http://s.gyyx.cn/WebGame/PageStat.js" type="text/javascript"></script>
    <script  type="text/javascript">
		var rc = "${rc.contextPath}";
	 </script>
	 <script>
        if (navigator.platform.indexOf('Win32') != -1 || navigator.platform.indexOf('Win64') != -1 || navigator.platform.indexOf('MacPPC') != -1|| navigator.platform.indexOf('MacIntel') != -1) {
			window.location.href = rc+"/tombThreeTeam/index"+window.location.search;

        } else {
            //shouji
            
        }
    </script>
</head>
<body>
    <section class="wrap02">
        <div class="prize_con">
            <p>感谢您参与我们的调研，您现在可以抽奖啦，</p>
            <p>有机会获得Apple watch哦！</p>
            <div class="prize">
                <img src="http://static.cn114.cn/action/wdThreeTeam/wap/images/pan.png" id="rotateImg"/>
                <input type="button" class="prize_btn js_prizeBtn"/>
            </div>
            <img src="http://static.cn114.cn/action/wdThreeTeam/wap/images/prize_info_title.png" class="rules"/>
            <img src="http://static.cn114.cn/action/wdThreeTeam/wap/images/prize_rule.jpg" class="rules"/>
        </div>
    </section>
    <div class="pop_inner pop_inner_03" id="prizeSucc">
        <img class="prize_titles" src="http://static.cn114.cn/action/wdThreeTeam/wap/images/prize_title.png"/>
        <img class="js_packageImg package_img" src="http://static.cn114.cn/action/wdThreeTeam/wap/images/huangjinlibao.png"/>
        <h4 class="js_package packages">白金礼包</h4>
        <h5 class="packages_info">3级随机宝石*1、法宝精华*30、<br/>金币100000</h5>
        <img class="prize_titles" src="http://static.cn114.cn/action/wdThreeTeam/wap/images/prize_code.png"/>
        <h4 class="js_packageCode">y63hc4</h4>
        <a class="button js_vote_url">盗娘投票</a>
        <img class="qucode_info" src="http://static.cn114.cn/action/wdThreeTeam/wap/images/qrcode_info.png"/>
    </div>
    <div class="pop_inner pop_inner_04" id="prizeFail">
        <h2 class="js_errorTips">很抱歉 未中奖</h2>
        <h3>参与盗娘投票获取游戏积分</h3>
        <a class="button js_vote_url">盗娘投票</a>
        <img class="qucode_info" src="http://static.cn114.cn/action/wdThreeTeam/wap/images/qrcode_info.png"/>
    </div>
    <div class="v_h_tips" style="display:none;">要使用竖屏访问哦！</div>
<script type="text/javascript" src="http://static.cn114.cn/action/wdThreeTeam/wap/js/awardRotate.js"></script>
<script type="text/javascript" src="http://static.cn114.cn/action/wdThreeTeam/wap/js/indexv2.js"></script>
</body>
</html>