<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>《盗墓三番队》概念站</title>
    <meta name="keywords" content="光宇游戏，手游大作，盗墓三番队，概念站" />
    <meta name="description" content="光宇游戏，盗墓三番队。" />
    <meta name="format-detection" content="telephone=no">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />
	<link rel="stylesheet" href="http://static.cn114.cn/action/wdThreeTeam/wap/css/stylev2.css"/>
    <script src="http://s.gyyx.cn/Lib/jquery.js"></script>
    <script src="http://s.gyyx.cn/WebGame/PageStat.js" type="text/javascript"></script>
        <script  type="text/javascript">
		var rc = "${rc.contextPath}";
	 </script>
	 <script>
        if (navigator.platform.indexOf('Win32') != -1 || navigator.platform.indexOf('Win64') != -1 || navigator.platform.indexOf('MacPPC') != -1|| navigator.platform.indexOf('MacIntel') != -1) {
			window.location.href = rc+"/tombThreeTeam/index"+window.location.search;

        } else {
            //shouji
            
        }
    </script>
    <script>
		var _hmt = _hmt || [];
		(function() {
		  var hm = document.createElement("script");
		  hm.src = "//hm.baidu.com/hm.js?31b991250dc15aaf429c6100d033678d";
		  var s = document.getElementsByTagName("script")[0]; 
		  s.parentNode.insertBefore(hm, s);
		})();
	</script>
</head>
<body>
    <section class="wrap wrap01">
        <div class="question_con">
                <div class="question" type="single" id="sex">
                    <a class="errors" id="0">请选择您的答案哟！</a>
                    <h3>请问您的性别是？</h3>
                    <select>
                    	<option value="0">请选择您的答案</option>
                        <option value="我是男生">我是男生</option>
                        <option value="我是女生">我是女生</option>
                    </select>
                </div>
                <div class="question" type="single" id="age">
                    <a class="errors" id="1">请选择您的答案哟！</a>
                    <h3>请问您的年龄是？</h3>
                    <select>
                    	<option value="0">请选择您的答案</option>
                        <option value="0~18岁">0~18岁</option>
                        <option value="18~25岁">18~25岁</option>
                        <option value="26岁~35岁">26岁~35岁</option>
                        <option value="35岁以上">35岁以上</option>
                    </select>
                </div>
                <div class="question" type="selects">
                    <a class="errors" id="2">请选择您的答案哟！</a>
                    <h3>您的居住城市是（下拉框选择）？</h3>
                    <select id="province">
                        <option value="0">省</option>
                    </select>
                    <select id="city">
                        <option value="0">市</option>
                    </select>
                </div>
                <div class="question" type="single" id="job">
                    <a class="errors" id="3">请填写您的答案哟！</a>
                    <h3>您的职业是？</h3>
                    <select>
                    	<option value="0">请选择您的答案</option>
                        <option value="学生">学生</option>
                        <option value="上班族">上班族</option>
                        <option value="自由职业">自由职业</option>
                        <option value="其他">其他</option>
                    </select>
                </div>
                <div class="question" type="inputs" id="phoneModel">
                    <a class="errors" id="4">请填写您的答案哟！</a>
                    <h3>您的手机型号是？</h3>
                    <input type="text" name="defaults" placeholder="请具体到型号，如：小米4" maxlength="50"/>
                </div>
                <div class="question" type="complex" id="awaitContent">
                    <a class="errors" id="5">请选择您的答案哟！</a>
                    <h3>如果有一款盗墓背景的手游，你最希望是哪种类型？（多选）</h3>
                    <ul>
                        <li>动作打击</li>
                        <li>热血日漫</li>
                        <li>Q版</li>
                        <li>角色扮演</li>
                        <li>卡牌</li>
                        <li>冒险探索</li>
                    </ul>
                    <input type="text" placeholder="其他，请详细说明" maxlength="50"/>
                </div>
                <div class="question" type="single" id="spokesman">
                    <a class="errors" id="6">请选择您的答案哟！</a>
                    <h3>如果这款游戏有代言，您最希望是？</h3>
                    <select>
                    	<option value="0">请选择您的答案</option>
                        <option value="影视明星(例如：李易峰)">影视明星(例如：李易峰)</option>
                        <option value="虚拟人设（例如：初音未来）">虚拟人设（例如：初音未来）</option>
                        <option value="表情红人（例如：金馆长）">表情红人（例如：金馆长）</option>
                        <option value="热血教官（例如：松冈修造）">热血教官（例如：松冈修造）</option>
                        <option value="日本明星（例如：小栗旬）">日本明星（例如：小栗旬）</option>
                    </select>
                </div>
                <div class="question" type="single" id="messageChannel">
                    <a class="errors" id="7">请选择您的答案哟！</a>
                    <h3>您从哪里获取游戏相关信息？</h3>
                    <select>
                    	<option value="0">请选择您的答案</option>
                        <option value="媒体/广告">媒体/广告</option>
                        <option value="社交平台">社交平台</option>
                        <option value="朋友推荐">朋友推荐</option>
                        <option value="应用商店排行榜">应用商店排行榜</option>
                    </select>
                </div>
                <div class="question" type="complex" id="exchangeChannel">
                    <a class="errors" id="8">请选择您的答案哟！</a>
                    <h3>您习惯在哪里与人交流游戏心得？ （多选）</h3>
                    <ul>
                        <li>贴吧</li>
                        <li>论坛</li>
                        <li>微博</li>
                        <li>微信</li>
                        <li>QQ</li>
                        <li>哔哩哔哩</li>
                    </ul>
                    <input type="text" placeholder="其他，请详细说明" maxlength="50"/>
                </div>
                <div class="question" type="single" id="gameInformation">
                    <a class="errors" id="9">请选择您的答案哟！</a>
                    <h3>您最想知道游戏中哪方面的资讯？</h3>
                    <select>
                    	<option value="0">请选择您的答案</option>
                        <option value="战斗玩法">战斗玩法</option>
                        <option value="剧情发展">剧情发展</option>
                        <option value="画面品质">画面品质</option>
                        <option value="正版授权">正版授权</option>
                        <option value="攻略评测">攻略评测</option>
                    </select>
                </div>
                <div class="question" type="complex" id="favoriteExperience">
                    <a class="errors" id="10">请选择您的答案哟！</a>
                    <h3>在您之前的游戏体验中，您觉得最有趣的是？（多选）</h3>
                    <ul>
                        <li>体验游戏精美画质，看看风景</li>
                        <li>与好友或者公会成员聊天</li>
                        <li>与其他队友组队，相互协作作战</li>
                        <li>单人挑战，提高技巧与战力，推进关卡</li>
                        <li>体验游戏剧情做日常副本</li>
                    </ul>
                    <input type="text" placeholder="其他，请详细说明" maxlength="50"/>
                </div>
                <div class="question" type="complex" id="disposition">
                    <a class="errors" id="11">请选择您的答案哟！</a>
                    <h3>您觉得以下最适合您的是？（多选）</h3>
                    <ul>
                        <li>宅</li>
                        <li>呆</li>
                        <li>腹黑</li>
                        <li>腐</li>
                        <li>毒舌</li>
                        <li>萌</li>
                        <li>傲</li>
                        <li>燃</li>
                        <li>弱气</li>
                        <li>女王</li>
                    </ul>
                    <input type="text" placeholder="其他，请详细说明" maxlength="50"/>
                </div>
                <div class="question" type="inputs">
                    <p>以下信息将作为官方发放激活码的必要依据<br/>请认真填写有效信息</p>
                    <a class="errors" id="12">邮箱为必填项哟！</a>
                    <input class="input_q" type="text" name="email" placeholder="邮箱" maxlength="50"/>
                </div>
                <div class="question border_no" type="inputs">
                    <a class="errors" id="13">QQ为必填项哟！</a>
                    <input class="input_q" type="text" name="qq" placeholder="QQ" maxlength="15"/>
                </div>
                <div class="btn">
                    <a id="submitBtn" class="question_btn" data-submit="true"></a>
                </div>
            </div>
    </section>
    <div class="v_h_tips" style="display:none;">要使用竖屏访问哦！</div>
    <script type="text/javascript" src="http://static.cn114.cn/action/cs2Survey/js/city.js"></script>
    <script type="text/javascript" src="http://static.cn114.cn/action/wdThreeTeam/wap/js/indexv2.js"></script>
</body>
</html>