<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gyyx.playwd.dao.playwd.RecommendSlotDao">
  <resultMap id="RecommendSlotMap" type="cn.gyyx.playwd.beans.playwd.RecommendSlotBean">
    <id column="code" jdbcType="INTEGER" property="code" />
    <result column="slot_group" jdbcType="VARCHAR" property="slotGroup" />
    <result column="slot" jdbcType="VARCHAR" property="slot" />
    <result column="has_picture" jdbcType="BIT" property="hasPicture" />
    <result column="is_delete" jdbcType="BIT" property="isDelete" />
  </resultMap>
  <!-- 获取推荐位置列表 -->
  <select id="selectRecommendSlotList" parameterType="string" resultMap="RecommendSlotMap">
    select code,slot_group,slot
    from playwd_recommend_slot_tb
    where is_delete=0 and slot_group=#{slotGroup}
  </select>
  <!-- 获取推荐位置信息 -->
  <select id="selectRecommendSlotByCode" resultMap="RecommendSlotMap">
    select *
    from playwd_recommend_slot_tb
    where is_delete=0 and code=#{code}
  </select>
  <select id="getGroupList" resultMap="RecommendSlotMap">
    SELECT DISTINCT slot_group FROM playwd_recommend_slot_tb WHERE is_delete = 0
  </select>
</mapper>