<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.gyyx.playwd.dao.playwd.RetryLogDao" >
  <resultMap id="BaseResultMap" type="cn.gyyx.playwd.beans.playwd.RetryLogBean" >
    <id column="code" property="code" jdbcType="INTEGER" />
    <result column="order_id" property="orderId" jdbcType="VARCHAR" />
    <result column="server_id" property="serverId" jdbcType="INTEGER" />
    <result column="server_name" property="serverName" jdbcType="VARCHAR" />
    <result column="server_ip" property="serverIp" jdbcType="VARCHAR" />
    <result column="server_port" property="serverPort" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  
  <insert id="insert" parameterType="cn.gyyx.playwd.beans.playwd.RetryLogBean" >
    insert into playwd_retry_log (code, order_id, server_id, 
      server_name, server_ip, server_port, 
      status, description, create_time
      )
    values (#{code,jdbcType=INTEGER}, #{orderId,jdbcType=VARCHAR}, #{serverId,jdbcType=INTEGER}, 
      #{serverName,jdbcType=VARCHAR}, #{serverIp,jdbcType=VARCHAR}, #{serverPort,jdbcType=INTEGER}, 
      #{status,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  
</mapper>