<script src="${rc.contextPath}/static/script/editor/ueditor.config.js" charset="utf-8" type="text/javascript"></script>
<script src="${rc.contextPath}/static/script/editor/ueditor.all.min.js" charset="utf-8" type="text/javascript"></script>
<script src="${rc.contextPath}/static/script/editor/lang/zh-cn/zh-cn.js" charset="utf-8" type="text/javascript"></script>
<script src="${rc.contextPath}/static/script/editor/lang/zh-cn/zh-cn.js" charset="utf-8" type="text/javascript"></script>
<script src="${rc.contextPath}/static/script/Article.js" charset="utf-8" type="text/javascript"></script>
<link rel="stylesheet" href="${rc.contextPath}/static/css/style.css">
<link rel="stylesheet" href="${rc.contextPath}/static/css/wanwd.css">
<style>
    .control-label { padding:7px 0 0 0; text-align:left; }
</style>
<script>
        $(function () {
            $("#editAc").hide(); $("#addAc").hide(); $("#Msgmark").hide();
            var nowDate = new Date(),
                nYear = nowDate.getFullYear(),
                nMonth = ((nowDate.getMonth() + 1) < 10 ? ("0" + (nowDate.getMonth() + 1)) : (nowDate.getMonth() + 1)),
                nDate = (nowDate.getDate() < 10 ? ("0" + nowDate.getDate()) : nowDate.getDate()),
                //当天年月日(格式2014-01-01)
                today = [nYear, nMonth, nDate].join("-");

            var m = nowDate.getMonth() - 1;
            nowDate.setMonth(m);
            var lMonth = ((nowDate.getMonth() + 1) < 10 ? ("0" + (nowDate.getMonth() + 1)) : (nowDate.getMonth() + 1));
            var lDate = (nowDate.getDate() < 10 ? ("0" + nowDate.getDate()) : nowDate.getDate());
            var ltoday = [nowDate.getFullYear(), lMonth, lDate].join("-");

            window.today = today;
            window.ltoday = ltoday;

            //开始时间（默认1个月前）
            $(".js_startTimeCtr").datepicker({
                format: 'yyyy-mm-dd',
                startView: 2,
                autoclose: true,
                minView: 2
            }).on('changeDate', function (ev) {
                var AddStartTime = $(this).val();
                $(".js_endTimeCtr").datepicker('setStartDate', AddStartTime);
            }).val(ltoday);

            //结束时间（默认当天）
            $(".js_endTimeCtr").datepicker({
                format: 'yyyy-mm-dd',
                startView: 2,
                autoclose: true,
                todayBtn: true,
                minView: 2
            }).on('changeDate', function (ev) {
                var AddEndTime = $(this).val();
                $(".js_startTimeCtr").datepicker('setEndDate', AddEndTime);
            }).val(today);

            //获取列表
            var dobj1 = {
                IsDisplay: -1,                   //默认展示状态全显示
                BeginTime: $(".js_startTimeCtr").val(),           //默认开始时间为空
                EndTime: $(".js_endTimeCtr").val(),              //默认结束时间为空
                AuthorType:-1
            };
            $("#js_ArticleList").getArticle({ dataobj: dobj1 });

            //获取二级分类
            $("#onecate").change(function () {
                var id = $("#onecate").val();
                $("#aaa").getChildList(id);
            });

            $("#onecate_add").change(function () {
                var id = $("#onecate_add").val();
                $("#aaa").getChildList(id);
            });


            //查询
            $("#query").click(function () {
                var search = $("#Search").val();
                var article_bt = $("#article_bt").val();
                var displayzt = $("#display_zt").val();
                var onecate = $("#onecate").val();
                var twocate = $("#js_twocateh").val();
                var author = $("#authorName").find("option:selected").val();
                var starttime = $(".js_startTimeCtr").val();
                var endtime = $(".js_endTimeCtr").val();
                //alert("文章标题：" + article_bt + "展示状态：" + displayzt + "一级分类：" + onecate + "二级分类：" + twocate + "发布人：" + author + "开始时间：" + starttime + "结束时间：" + endtime);
                var dobj = {
                    Search:search,
                    Title: article_bt,                      //默认不筛选
                    IsDisplay: displayzt,                   //默认展示状态全显示
                    PrimaryCategoryId: onecate,                //一级分类
                    CategoryId: twocate,                  //二级分类
                    AuthorType: author,             //默认发布人为玩家，全部显示为-1
                    BeginTime: starttime,           //默认开始时间为空
                    EndTime: endtime              //默认结束时间为空
                };
                $(this).getArticle({
                    dataobj: dobj
                });

            });

            // 富文本编辑器
            var ueditor = UE.getEditor('editor');
            var ueditor1 = UE.getEditor('editor1');



            //批量展示1  批量隐藏2 批量删除3
            $(".js_batch").click(function () {
                var thistype = $(this).attr("data-type");

                $("#js_ArticleList").batchShow({
                    type: thistype
                });
            });

            //提交文章推荐
            $(".js_index_tuij_ok").click(function () {
                var locid = "";
                var conid = $("#listcode").val();
                var obj = $("#js_index_tuij .active");
                for (var i = 0; i < obj.length; i++) {
                    locid += obj.eq(i).attr("data-id") + ",";
                }
                locid = locid.substring(0, locid.length - 1);
                tjArticleUp(conid, locid);
            });

            $(".js_index_tuij_qx").click(function () {
                $(".close").trigger("click");
            });

            // 请求提交文章推荐
            function tjArticleUp(conid, locid) {
                $.ajax({
                    url: '/recommend/AddByContent',
                    type: 'POST',
                    dataType: 'json',
                    data: { contentId: conid, cmType: 1, locIdstr: locid, r: Math.random() },
                    success: function (d) {
                        //alert(d.toSource());
                        if (d.Success) {
                            //alert(d.Message);
                            //window.location.href = window.location.href;
                            $(".close").trigger("click");
                        } else {
                            alert(d.Message);
                        }

                    }
                });
            }

            //编辑文章 请求提交
            $(".js_index_edit_ok").click(function () {
                var str = $("#listdata").val();
                str = str.split("|");
                var edit_dobj = {
                    AuthorName: $("#js_edit_AuthorName").val(),
                    AuthorType: $("#js_edit_AuthorType").val(),
                    Brief: $("#js_edit_des").val(),
                    CategoryId: $("#js_edittwocate").val(),
                    Code: str[4],
                    Content: encodeURI(UE.getEditor('editor').getContent()),
                    CreateTime: str[0],
                    IsDisplay: str[1],
                    Keywords: $("#js_edit_keywords").val(),
                    PrimaryCategoryId: $("#js_edit_onecate").val(),
                    PublishTime: str[2],
                    Title: $("#input-edit-bt").val(),
                    UpdateTime: str[3]
                };
                //验证
                if (!editcheck(edit_dobj)) {
                    return false;
                }
                $(".js_index_edit").postEditArticle({
                    pushdataobj: edit_dobj
                });
            });
            //添加文章 请求提交
            $(".js_index_add_ok").click(function () {

                var edit_dobj = {
                    AuthorName: $("#addAc .js_edit_AuthorName").val(),
                    AuthorType: $("#addAc .js_edit_AuthorType").val(),
                    Brief: $("#addAc .js_edit_des").val(),
                    CategoryId: $("#addAc .js_edittwocate").val(),
                    Content: encodeURI(UE.getEditor('editor1').getContent()),
                    Keywords: $("#addAc .js_edit_keywords").val(),
                    PrimaryCategoryId: $("#addAc .js_edit_onecate").val(),
                    Title: $("#addAc .input-edit-bt").val()
                };
                //验证
                if (!addcheck(edit_dobj)) {
                    return false;
                }
                $(".js_index_edit").postEditArticle({
                    getListUrl:"/Article/InsertArticle",
                    pushdataobj: edit_dobj
                });
            });

            //添加文章点击清楚错误提示
            $(".js_addAc").click(function () {
                $(".js_addAc").checkre();
                var obj = $("#addAc");
                $(document).alertBox(obj);
            });

            $("#addAc .js_add_AuthorType").change(function () {
                if ($(this).val()=="0") {
                    $("#addAc .js_add_AuthorName").val("官方");
                } else {
                    $("#addAc .js_add_AuthorName").val("");
                }
            });

            //编辑文章错误提示
            function editcheck(edit_dobj) {

                if (edit_dobj.Title.length > 50 || trim(edit_dobj.Title) === "" || edit_dobj.Title.length === 0) {
                    $("#editAc .js_error_title_err").show(); return false;
                } else {
                    $("#editAc .js_error_title_err").hide();
                }

                if (edit_dobj.PrimaryCategoryId == -1) {
                    $("#editAc .js_edit_onecate_err").show(); return false;
                } else {
                    $("#editAc .js_edit_onecate_err").hide();
                }

                if (edit_dobj.CategoryId == -1) {
                    $("#editAc .js_edittwocate_err").show(); return false;
                } else {
                    $("#editAc .js_edittwocate_err").hide();
                }

                if (edit_dobj.AuthorType == -1) {
                    $("#editAc .js_edit_AuthorType_err").show();
                    $("#editAc .js_errtip1").show(); return false;
                } else {
                    $("#editAc .js_edit_AuthorType_err").hide();
                    $("#editAc .js_errtip1").hide();
                }

                if (edit_dobj.AuthorName.length > 20 ||edit_dobj.AuthorName.length === 0|| trim(edit_dobj.AuthorName) === "") {
                    $("#editAc .js_edit_AuthorName_err").show();
                    $("#editAc .js_errtip1").show(); return false;
                }  else {
                    $("#editAc .js_edit_AuthorName_err").hide();
                    $("#editAc .js_errtip1").hide();
                }
                if (edit_dobj.Brief.length > 200 || trim(edit_dobj.Brief) === "" || edit_dobj.Brief.length === 0) {
                    $("#editAc .js_edit_des_err").show(); return false;
                }else {
                    $("#editAc .js_edit_des_err").hide();
                }
                if (ueditor.getContentTxt().length === 0 || trim(ueditor.getContentTxt()) === "") {
                    $("#editAc .js_edit_uedit_err").show(); $("#editAc .js_errtip2").show(); return false;
                } else {
                    $("#editAc .js_edit_uedit_err").hide(); $("#editAc .js_errtip2").hide();
                }
                if (edit_dobj.Keywords.length > 100 || trim(edit_dobj.Keywords) === "" || edit_dobj.Keywords.length === 0) {
                    $("#editAc .js_edit_keywords_err").show(); return false;
                }else {
                    $("#editAc .js_edit_keywords_err").hide();
                }

                return true;

            }
            //添加文章错误提示
            function addcheck(edit_dobj) {
                if (edit_dobj.Title.length > 50 || edit_dobj.Title.length === 0 || trim(edit_dobj.Title) === "") {
                    $("#addAc .js_error_title_err").show(); return false;
                }  else {
                    $("#addAc .js_error_title_err").hide();
                }
                if (edit_dobj.PrimaryCategoryId == -1) {
                    $("#addAc .js_edit_onecate_err").show(); return false;
                } else {
                    $("#addAc .js_edit_onecate_err").hide();
                }

                if (edit_dobj.CategoryId == -1) {
                    $("#addAc .js_edittwocate_err").show(); return false;
                } else {
                    $("#addAc .js_edittwocate_err").hide();
                }

                if (edit_dobj.AuthorType == -1) {
                    $("#addAc .js_edit_AuthorType_err").show(); $("#addAc .js_errtip3").show(); return false;
                } else {
                    $("#addAc .js_edit_AuthorType_err").hide(); $("#addAc .js_errtip3").hide();
                }
                if (edit_dobj.AuthorName.length > 20 || edit_dobj.AuthorName.length === 0 || trim(edit_dobj.AuthorName) === "") {
                    $("#addAc .js_edit_AuthorName_err").show(); $("#addAc .js_errtip3").show(); return false;
                } else {
                    $("#addAc .js_edit_AuthorName_err").hide(); $("#addAc .js_errtip3").hide();
                }
                if (ueditor1.getContentTxt().length === 0 || trim(ueditor1.getContentTxt()) === "") {
                    $("#addAc .js_edit_uedit_err").show(); $("#addAc .js_errtip4").show(); return false;
                } else {
                    $("#addAc .js_edit_uedit_err").hide(); $("#addAc .js_errtip4").hide();
                }
                if (edit_dobj.Brief.length > 200 || edit_dobj.Brief.length === 0 || trim(edit_dobj.Brief) === "") {
                    $("#addAc .js_edit_des_err").show(); return false;
                } else {
                    $("#addAc .js_edit_des_err").hide();
                }
                if (edit_dobj.Keywords.length > 100 || edit_dobj.Keywords.length === 0 || trim(edit_dobj.Keywords) === "") {
                    $("#addAc .js_edit_keywords_err").show(); return false;
                } else {
                    $("#addAc .js_edit_keywords_err").hide();
                }

                return true;

            }

            function trim(str) { //删除左右两端的空格
                return str.replace(/(^\s*)|(\s*$)/g, "");
            }


        });
    </script>
<section class="vbox js_template_right">
    <!--头部功能-->
<header class="header bg-white b-b clearfix">
<div class="row m-t-sm">
    <label class="col-lg-1 control-label01">搜索选项</label>
    <div class="col-sm-2 m-b-xs">
        <select id="Search" class="input-sm form-control">
            <option value="0">文章标题</option>
            <option value="1">上传账号</option>
            <option value="2">昵称</option>
        </select>
    </div>
    <div class="col-lg-1-6 m-b-xs">
       <input id="article_bt" class="input-sm form-control" type="text" maxlength="15" value="">
    </div>
    <label class="col-lg-1 control-label01">展示状态</label>
    <div class="col-lg-1 m-b-xs">
        <select id="display_zt" class="input-sm form-control">
            <option value="-1">全部</option>
            <option value="0">未展示</option>
            <option value="1">已展示</option>
        </select>
    </div>
    <label class="col-lg-1 control-label01">文章分类</label>
    <div class="col-sm-2 m-b-xs">
        <select id="onecate" class="input-sm form-control">
            <option value="-1">全部</option>
            @foreach (var item in Model.PrimaryCategoryList)
            {
                <option value="@item.Id">@item.Name</option>
            }
        </select>
    </div>
    <div class="col-sm-2 m-b-xs">
        <select id="js_twocateh" class="input-sm form-control twocate">
            <option value="-1">全部</option>
        </select>
    </div>
</div>
<div class="row m-t-sm">
    <label class="col-lg-1 control-label01">发布人</label>
    <div class="col-lg-1-6 m-b-xs">
        <select id="authorName" class="input-sm form-control">
            <option value="-1">全部</option>
            <option value="0">官方</option>
            <option value="1">玩家</option>
        </select>
    </div>
    <label class="col-lg-1 control-label01">上传时间:</label>
    <div class="col-sm-2 m-b-xs">
        <div class="">
            <input type="text" class="input-sm form-control js_startTimeCtr" readonly="readonly" placeholder="开始时间">
        </div>
    </div>
    <label class="control-label01 label-float-left">至</label>
    <div class="col-sm-2 m-b-xs">
        <div class="">
            <input type="text" class="input-sm form-control js_endTimeCtr" readonly="readonly" placeholder="结束时间">
        </div>
    </div>

    <span class="col-sm-1 pad_r_0 pad_l_0 w_p6">
        <button class="btn btn-sm btn-info pad_lr_m" id="query" type="submit">查询</button>
    </span>
</div>
<div class="row m-t-sm">
    <label class="col-lg-1 control-label"></label>
    <div class="col-sm-8 m-b-xs">
            <button class="btn btn-sm btn-info pad_lr_m js_batch" data-type="1" type="button">批量展示</button>
            <button class="btn btn-sm btn-info pad_lr_m js_batch" data-type="2" type="button">批量隐藏</button>
            <button class="btn btn-sm btn-info pad_lr_m js_batch" data-type="3" type="button">批量删除</button>
            <a  class="btn btn-sm btn-info pad_lr_m js_addAc" href="javascript:" >添加文章</a>
    </div>

</div>
</header>

<!--表格主体-->
<section class="scrollable padder" style="margin-top: 90px; margin-bottom:50px;">
<div class="m-b-md"></div>
<!--数据表格  begin -->
<section class="panel panel-default col-sm-12 pad_r_0 pad_l_0">
    <div class="table-responsive">
        <table class="table table-striped m-b-none m-table" id="js_tbComList" >

            <tbody id="js_ArticleList">
                <tr>
                    <th>
                        <input class=" " data-val="true" type="checkbox" value=""></th>
                    <th>标题</th>
                    <th>一级分类</th>
                    <th>二级分类</th>
                    <th>发布人</th>
                    <th>发布时间</th>
                    <th>展示状态</th>
                    <th>操作</th>
                </tr>
            </tbody>
        </table>
    </div>

</section>
<!--数据表格  end -->
</section>

<!--翻页功能-->
<footer class="footer bg-white b-t pagewrapper">
<div class="row dataTables_wrapper">
    <div class="col-sm-6">
        <div class="dataTables_info" id="DataTables_Table_0_info"></div>
    </div>
    <div class="col-sm-6">
        <div class="dataTables_paginate paging_full_numbers" id="js_pagecont">
        </div>
    </div>
</div>
</footer>
<input id="listcode" type="hidden" value="" />
<input id="listdata" type="hidden" value="" />


<!--弹出层 推荐位置-->
<div class="modal fade" id="CreateRole">
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">推荐位置</h4>
        </div>
        <p class="js_Message text-center text-danger m-t-sm m-b-none"></p>
        <div id="js_index_tuij" class="modal-body modalBody">
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-info js_index_tuij_ok">确定</button>
            <button type="button" class="btn btn-info js_index_tuij_qx ">取消</button>
        </div>
    </div>
</div>
</div>

<div id="Msgmark" class="markMsg"></div>
<!--弹出层 编辑文章-->
<div class=" " id="editAc"  style="display:none">
<div class="modal-dialog">
    <div class="modal-content" id="js_edit_Article">
        <div class="modal-header">
            <button type="button" class="js_close close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">编辑文章</h4>
        </div>
        <p class="js_Message text-center text-danger m-t-sm m-b-none"></p>
        <div class="modal-body modalBody js_index_edit">
            <div class="form-group">
                <label class="col-sm-12 control-label">发布管理>文章发布</label>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label pad_t_10 pad_r_0">文章标题:</label>
                <div class="col-sm-10">
                    <input type="text" id="input-edit-bt" class="form-control" placeholder="">
                    <label class="js_error js_error_title_err" style="display:none;">字数不能为空或者已超过50！</label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label pad_t_10 pad_r_0">文章分类</label>
                <div class="col-sm-4 js_edit_cate">
                    <div class="input-group">
                        <select id="js_edit_onecate" class="input-sm form-control">
                            <option value="-1">全部</option>
                            @foreach (var item in Model.PrimaryCategoryList)
                            {
                                <option value="@item.Id">@item.Name</option>
                            }
                        </select>
                    </div>
                </div>
                <label class="js_error js_edit_onecate_err col-sm-6 " style="display:none;">分类不可为空！</label>
            </div>
            <div class="form-group" id="js_edit_twocate">
                <label class="col-sm-2 control-label pad_t_10 pad_r_0">文章子分类</label>
                <div class="col-sm-4 js_edit_cate">
                    <div class="input-group">
                        <select id="js_edittwocate" class="input-sm form-control twocate">
                            <option value="-1">全部</option>
                        </select>
                    </div>
                </div>
                <label class="js_error js_edittwocate_err col-sm-6" style="display:none;">分类不可为空！</label>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label pad_t_10 pad_r_0">发布人</label>
                <div class="col-sm-4">
                    <div class="input-group">
                        <select id="js_edit_AuthorType" class="input-sm form-control">
                            <option value="-1">全部</option>
                            <option value="0">官方</option>
                            <option value="1">玩家</option>
                        </select>
                    </div>
                </div>
                <label class="col-sm-2 control-label pad_t_10">前台显示名称：</label>
                <div class="col-sm-4">
                    <input type="text" id="js_edit_AuthorName" class="form-control">
                </div>

            </div>
            <div class="form-group errtip js_errtip1"  >
                <label class="col-sm-2 control-label pad_t_10 pad_r_0">&nbsp;</label>
                <label class="js_error js_edit_AuthorType_err col-sm-4 pad_0" style="display:none;">分类不可为空！</label>
                <label class="col-sm-2 control-label pad_t_10 pad_r_0">&nbsp;</label>
                <label class="js_error js_edit_AuthorName_err col-sm-4 pad_0 authorName_err" style="display:none;">字数不能为空或者已超过20！</label>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label pad_t_10 pad_r_0">编辑内容</label>
                <div class="col-sm-10">
                    <input type="hidden" name="content" id="content" value="" />
                    <script id="editor" name="editor" style="height: 300px;" type="text/plain"></script>
                </div>
            </div>
            <div class="form-group js_errtip2" >
                <label class="col-sm-2 control-label pad_t_10 pad_r_0">&nbsp;</label>
                <label class="js_error js_edit_uedit_err col-sm-10" style="display:none;">请输入文字！</label>
            </div>
            <div class="form-group">
                <label for="input-id-2" class="col-sm-2 control-label pad_t_10 pad_r_0">描述:</label>
                <div class="col-sm-10">
                    <textarea type="text" id="js_edit_des" class="form-control"></textarea>
                    <label class="js_error js_edit_des_err " style="display:none;">字数不能为空或者已超过200！</label>

                </div>
            </div>
            <div class="form-group">
                <label for="input-id-2" class="col-sm-2 control-label pad_t_10 pad_r_0">关键字:</label>
                <div class="col-sm-10">
                    <textarea type="text" id="js_edit_keywords" class="form-control"></textarea>
                    <label class="js_error js_edit_keywords_err " style="display:none;">字数不能为空或者已超过100！</label>
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-info js_index_edit_ok">确定</button>
        </div>
    </div>
</div>
</div>


<!--弹出层 添加文章-->

<div class=" " id="addAc" style="display:none">
<div class="modal-dialog">
    <div class="modal-content js_edit_Article" id="">
        <div class="modal-header">
            <button type="button" class="close js_close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">添加文章</h4>
        </div>
        <p class="js_Message text-center text-danger m-t-sm m-b-none"></p>
        <div class="modal-body modalBody js_index_add">
            <div class="form-group">
                <label class="col-sm-12 control-label">发布管理>文章发布</label>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label pad_t_10 pad_r_0">文章标题:</label>
                <div class="col-sm-10">
                    <input type="text" name="title" class="form-control input-edit-bt" placeholder="">
                    <label class="js_error js_error_title_err" style="display:none;">字数不能为空或者已超过50！</label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label pad_t_10 pad_r_0">文章分类</label>
                <div class="col-sm-4 js_edit_cate">
                    <div class="input-group">
                        <select id="onecate_add" class="input-sm form-control js_edit_onecate">
                            <option value="-1">全部</option>
                            @foreach (var item in Model.PrimaryCategoryList)
                            {
                                <option value="@item.Id">@item.Name</option>
                            }
                        </select>
                    </div>
                </div>
                <label class="js_error js_edit_onecate_err col-sm-6" style="display:none;">分类不可为空！</label>
            </div>
            <div class="form-group js_edit_twocate" id="">
                <label class="col-sm-2 control-label pad_t_10 pad_r_0">文章子分类</label>
                <div class="col-sm-4 js_edit_cate">
                    <div class="input-group">
                        <select id="" class="input-sm form-control twocate js_edittwocate">
                            <option value="-1">全部</option>
                        </select>
                    </div>
                </div>
                <label class="js_error js_edittwocate_err col-sm-6" style="display:none;">分类不可为空！</label>
            </div>

            <div class="form-group"">
                <label class="col-sm-2 control-label pad_t_10 pad_r_0">发布人</label>
                <div class="col-sm-4">
                    <div class="input-group">
                        <select id="" class="input-sm form-control js_edit_AuthorType js_add_AuthorType">
                            <option value="-1">全部</option>
                            <option value="0">官方</option>
                            <option value="1">玩家</option>
                        </select>
                    </div>
                </div>
                <label class="col-sm-3 control-label pad_t_10">前台显示名称：</label>
                <div class="col-sm-3">
                    <input type="text" id="" class="form-control js_edit_AuthorName js_add_AuthorName">
                </div>
            </div>
            <div class="form-group errtip js_errtip3"  >
                <label class="col-sm-2 control-label pad_t_10 pad_r_0">&nbsp;</label>
                <label class="js_error js_edit_AuthorType_err col-sm-4 pad_0" style="display:none;">分类不可为空！</label>
                <label class="col-sm-2 control-label pad_t_10 pad_r_0">&nbsp;</label>
                <label class="js_error js_edit_AuthorName_err col-sm-4 pad_0 authorName_err" style="display:none;">字数不能为空或者已超过20！</label>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label pad_t_10 pad_r_0">编辑内容</label>
                <div class="col-sm-10">
                    <input type="hidden" name="content1" id="content1" value="" />
                    <script id="editor1" name="editor1" style="height: 300px;" type="text/plain"></script>
                </div>
            </div>
            <div class="form-group errtip js_errtip4" >
                <label class="col-sm-2 control-label pad_t_10 pad_r_0">&nbsp;</label>
                <label class="js_error js_edit_uedit_err col-sm-10" style="display:none;">请输入文字！</label>
            </div>
            <div class="form-group">
                <label for="input-id-2" class="col-sm-2 control-label pad_t_10 pad_r_0">描述:</label>
                <div class="col-sm-10">
                    <textarea type="text" id="" class="form-control js_edit_des"></textarea>
                    <label class="js_error js_edit_des_err" style="display:none;">字数不能为空或者已超过200！</label>
                </div>
            </div>
            <div class="form-group">
                <label for="input-id-2" class="col-sm-2 control-label pad_t_10 pad_r_0">关键字:</label>
                <div class="col-sm-10">
                    <textarea type="text" id="" class="form-control js_edit_keywords"></textarea>
                    <label class="js_error js_edit_keywords_err" style="display:none;">字数不能为空或者已超过100！</label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info js_index_add_ok">确定</button>
            </div>

        </div>

    </div>
</div>
</div>
</section>
