<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	    <title>问道-官方网站-光宇游戏</title>
	    <link rel="stylesheet" type="text/css" href="http://static.cn114.cn/action/wd2899/bag/css/public.css"/>
	    <link rel="stylesheet" type="text/css" href="http://static.cn114.cn/action/wd2899/bag/css/register.css"/>
	    <script  type="text/javascript">
		    var rc = "${rc.contextPath}";
		</script>
	</head>
	<body>
		<div class="wrap">
			<div class="form_register">
				<p class="field"><input type="text" class="phone" name="userName" placeholder="手机号"/></p>
				<p class="field"><input type="text" placeholder="图片验证码" class="img_putcode"/><img src="" class="img_code"/></p>
				<p class="field"><input type="text" placeholder="短信验证码" class="code"/><span class="send_code">发送验证码</span></p>
				<p class="field"><input type="password" class="password" maxlength="16" name="password" placeholder="密码"/></p>
				<p class="field" style="padding-left: 0;" id="reg_btn">接受协议并注册</p>
				<p class="register_clause"><a href="http://www.gyyx.cn/Resource/Agreement.html#Terms">《光宇通行证用户协议》</a>和<a href="http://www.gyyx.cn/Resource/Agreement.html#Privacy">《光宇用户保护隐私条款》</a></p>
			</div>
			<p class="wd_text txt1">搜索公众号：gyyxwd</p>
			<p class="wd_text">或长按二维码保存至相册，在微信中使用</p>
			<p class="wd_text"><span>扫一扫-相册-选择二维码图片</span>，即可添加关注</p>
			<div class="barcode">
				<img src="http://static.cn114.cn/action/wd2899/bag/images/erwm.jpg" />
				<p>
					<a href="http://e.weibo.com/wendaoguanfang">新浪微博</a>
					<a href="http://e.t.qq.com/wendao2006">腾讯微博</a>
				</p>
			</div>
			<p class="fx"><img src="http://static.cn114.cn/action/wd2899/bag/images/fxj.jpg"/>一键分享好玩的游戏给朋友们</p>
			<div class="phone_soft_content fx_all">
				<div id="wxF">
					<a href="javascript:;"><img src="http://static.cn114.cn/action/wd2899/bag/images/wx.jpg"/></a>
					<a href="javascript:;">微信好友</a>
				</div>
				<div id="wxFa">
					<a href="javascript:;"><img src="http://static.cn114.cn/action/wd2899/bag/images/pyq.jpg"/></a>
					<a href="javascript:;">朋友圈</a>
				</div>
				<div id="wxXl">
					<a href="javascript:;"><img src="http://static.cn114.cn/action/wd2899/bag/images/xlwb.jpg"/></a>
					<a href="javascript:;">新浪微博</a>
				</div>
				<div id="wxqq">
					<a href="javascript:;"><img src="http://static.cn114.cn/action/wd2899/bag/images/qqkj.jpg"/></a>
					<a href="javascript:;">QQ空间</a>
				</div>
			</div>
			<a id="visit_web" href="http://wd.gyyx.cn">访问电脑版</a>
		</div>
		<img id="go_top" src="http://static.cn114.cn/action/wd2899/bag/images/top.jpg" />
		<img src="http://static.cn114.cn/action/wd2899/bag/images/tc.png" id="js_tance"/>
	</body>
<script src="http://s.gyyx.cn/Lib/jquery.js" type="text/javascript"></script>
<script type="text/javascript" src="http://static.cn114.cn/action/wd2899/bag/js/registerPage.js" ></script>
<script>
	var _hmt = _hmt || [];
	(function() {
	  var hm = document.createElement("script");
	  hm.src = "https://hm.baidu.com/hm.js?474026b4f048e111162ce3c87d912558";
	  var s = document.getElementsByTagName("script")[0]; 
	  s.parentNode.insertBefore(hm, s);
	})();
</script>
<script src="http://s.gyyx.cn/WebGame/PageStat.js" type="text/javascript"></script><!--统计代码 -->

</html>
