<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="">
    <meta name="keywords" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
    <title>问道十年：青城山封仙盛典</title>
    <link type="text/css" rel="stylesheet" href="http://static.cn114.cn/action/wdyaoqinghan/css/wd160701_sw2.css">
    <link type="text/css" rel="stylesheet" href="http://static.cn114.cn/action/wdyaoqinghan/css/ystyle.css">
    <link type="text/css" rel="stylesheet" href="http://static.cn114.cn/action/wdyaoqinghan/css/yindex.css">
    <script src="http://s.gyyx.cn/Lib/jquery.js"></script>
    <script src="http://s.gyyx.cn/WebGame/PageStat.js" type="text/javascript"></script>
    
    <script src="http://s.gyyx.cn/lib/md5-min.js"></script>
    
    <script src="http://s.gyyx.cn/lib/jquery.bgiframe.js"></script>
    <script src="http://s.gyyx.cn/publictop/jquery.publictop.js?webname=shequ"  type="text/javascript"></script>
    <script>
        var rc = "";
        var popHtmlSet = '' +
                '<div class="regActionFTpop">'+
                '<div class="wd_tc pop_box">'+
                '<a href="javascript:void(0)" class="close popclose"></a>'+
                '<div class="tcCont">'+
                '<div class="tcreg">'+
                    <!--注册前-->
                '<form class="regformwd popform" method="post">'+
                '<div class="reg">'+
                '<div class="div">'+
                '<span class="word">6-16位字母和数字组合</span>'+
                '<label class="user"></label>'+
                '<input type="text" class="txt" name="userName" autocomplete="off"  maxlength="16" autocomplete="off">'+
                '<i class="siguserName"></i>'+
                '</div>'+
                '<div class="div">'+
                '<span class="word">4-16位字符（除 &lt;和&gt;）</span>'+
                '<label class="pass"></label>'+
                '<input type="password" name="password" class="txt" autocomplete="off" maxlength="16">'+
                '<i class="sigpassword"></i>'+
                '</div>'+
                '<div class="chkp">'+
                '<input type="checkbox" value="" class="chk js_chkNickname" autocomplete="off"  checked="checked">同意<a  href="http://www.gyyx.cn/Resource/Agreement.html" target="_blank">"服务条款"</a>'+
                '</div>'+
                '<div class="btnp">'+
                '<input type="submit" autocomplete="off"  class="btn" value=" ">'+
                '</div>'+
                '</div>'+
                '</form>'+
                '</div>'+
                '<span class="download"><a href="barclientview://-Package 10115/" target="_blank"></a></span>'+
                '</div>'+
                '</div>'+
                '<div class="mask">&nbsp;</div>'+
                '</div>';
        var succWordSet = ''+
                '<span class="p01">恭喜您注册成功</span><br/>'+
                '<span class="p02" ><a href="javascript:void(0)" class="qdl_ba">请登录</a></span>';

        $(function(){
            $('#regformwd').RegActionForThree({
                IsOpenWin: true,
                GameId: 2,
                popHtml: popHtmlSet,
                SuccWord: succWordSet,
                DownUrl: ""
            });
        })
    </script>
</head>
<body>

<div class="public_nav_top" style="display: none;">
    <script type="text/javascript">Showtop();</script>
</div>
    <div class="searchBan sear01" style="width: 95%;margin-bottom: .3rem;display:none;">
        <!--<i class="searchIoc"></i>-->
        <input class="serchInfo" type="text" placeholder="《问道》  封仙大会邀请函">
    </div>

<p class="banner">
<img src="http://static.cn114.cn/action/wdyaoqinghan/yimages/images/mainBg.jpg" alt="">
</p>
<!--登录 注册-->
<div class="smk1 mk">
    <p class="hasUs">已有账号</p>
    <a href="javascript:void(0)" class="fastLogin"></a>
    <p class="hasUs" style="margin-top: 40px">没有账号</p>
    <div class="wdBox wdBox02">
        <!--注册前-->
        <form class="regformwd" method="post" id="regformwd">
            <div class="reg">
                <div class="div ">
                    <span class="word">账号&nbsp;&nbsp;6-16位字母和数字组合</span>
                    <label class="user bgPeop"></label>
                    <input type="text" autocomplete="off"  class="txt" name="userName" maxlength="16">
                    <i class="siguserName"></i>
                </div>
                <div class="div bgMM">
                    <span class="word">密码&nbsp;&nbsp;4-16位字符（除 &lt;和&gt;）</span>
                    <label class="pass bgSuo"></label>
                    <input type="password" autocomplete="off"  name="password" class="txt" autocomplete="off">
                    <i class="sigpassword"></i>
                </div>
                <div class="chkp">
                    <input type="checkbox" autocomplete="off"  value="" class="chk js_chkNickname" checked="checked">同意 <a href="http://www.gyyx.cn/Resource/Agreement.html" target="_blank">"服务条款"</a>
                </div>
                <div class="btnp">
                    <input type="submit" class="btn" value=" ">
                </div>
            </div>
        </form>
        <!--注册前-->
    </div>
</div>
<!--点击报名-->
<div class="smk2 mk disNone">
    <a href="javascript:void(0)" id="js_sigForAct" class="bmBtn"></a>
</div>
<!--登录-->
<div class="smk3 mk disNone">
        <!-- 登陆部分开始-->
    <p class="loginTit">参与活动前请登录</p>
    <div class="txForm">

        <form id="form" method="post" action="" class="reg_form_web js_login_form ">
            <div class="duan1">
                <label></label>
                <input type="text" class="js_Account bgPeop" id="Account" placeholder="请输入账号" value="" name="Account" autocomplete="off" maxlength="18" data-olduser="">
            </div>
            <div class="duan1">
                <label></label>
                <input type="password" class="js_Password bgSuo" placeholder="请输入密码" id="Password" value="" name="Password" maxlength="18" autocomplete="off">
            </div>
            <p class="loginTit">请输入验证码完成登录</p>
            <div class="js_captcha " style="display:none;">
                <p class="item_p">
                </p>
                <p class="easycode">
                    <img class="js_captchaimg" src="">
                    <a class="changecode chinaCaptcha_Tip03">换一张？</a>
                </p>
            </div>
            <p class="chinaCaptchaContainer_p01 js_china ">
                <span id="yzm_label">验证码</span>
			<span class="ChinaCaptchaInput_container ">
				<em class="ChinaCaptchaInput js_ChinaCaptchaInput"><i class="chinaCaptchaImg"></i></em>
				<em class="ChinaCaptchaInput js_ChinaCaptchaInput"><i class="chinaCaptchaImg"></i></em>
				<em class="ChinaCaptchaInput js_ChinaCaptchaInput"><i class="chinaCaptchaImg"></i></em>
				<em class="ChinaCaptchaInput js_ChinaCaptchaInput"><i class="chinaCaptchaImg"></i></em>
				<em class="chinaCaptchaIcon chinaCaptchaIcon1 ChinaCaptchaInput ChinaCaptcha_DeleteBtn js_deleteChinaCaptcha"></em>
			</span>
                <i class="chinaCaptchaIcon chinaCaptcha_Tip02 js_checkChinaCaptchaTip default"></i>
            </p>
            <p class=" js_china">
                <span class="chinaCaptchaImg chinaCaptchaImg_yes js_refreshChinaCaptcha"></span>
                <a class="chinaCaptchaChange js_refreshChinaCaptcha chinaCaptcha_Tip03">看不清？</a>
            </p>
            <p class="chinaCaptchaContainer_p03 js_china">点击框内文字输入上图中<b class="chinaCaptcha_Tip04">汉字</b>相应文字</p>
            <div class="chinaCaptchaContainer_p02 js_china">
                <ul class="ChinaCaptchaSelectCon clearFix js_ChinaCaptchaSelect">
                    <li class="chinaCaptchaImg chinaCaptchaImg_0 js_ChinaCaptchaSelect_img" data-code="0"></li>
                    <li class="chinaCaptchaImg chinaCaptchaImg_1 js_ChinaCaptchaSelect_img" data-code="1"></li>
                    <li class="chinaCaptchaImg chinaCaptchaImg_2 js_ChinaCaptchaSelect_img" data-code="2"></li>
                    <li class="chinaCaptchaImg chinaCaptchaImg_3 js_ChinaCaptchaSelect_img" data-code="3"></li>
                    <li class="chinaCaptchaImg chinaCaptchaImg_4 js_ChinaCaptchaSelect_img" data-code="4"></li>
                    <li class="chinaCaptchaImg chinaCaptchaImg_5 js_ChinaCaptchaSelect_img" data-code="5"></li>
                    <li class="chinaCaptchaImg chinaCaptchaImg_6 js_ChinaCaptchaSelect_img" data-code="6"></li>
                    <li class="chinaCaptchaImg chinaCaptchaImg_7 js_ChinaCaptchaSelect_img" data-code="7"></li>
                    <li class="chinaCaptchaImg chinaCaptchaImg_8 js_ChinaCaptchaSelect_img" data-code="8"></li>
                </ul>
            </div>
            <p class="chinaCaptchaContainer_p04">
                <span class="" id="loginBtn"></span>
            </p>
            <a  class="login_btn js_chinaCaptchaBtn" href="javascript:;"></a>
            <input type="hidden" name="captcha" value="" class="validCodeVal">
        </form>
    </div>
        <!-- 登陆部分结束-->
</div>
<!--登录成功 账号与角色-->
<div class="smk4 mk disNone">
  <div class="userZT_1">
      <div class="leU">
          <p class="userCont">欢迎您: <span></span></p>
          <p class="userInterg">我的积分: <span></span> </p>
      </div>
      <a href="javascript:void(0)" class="userZx"></a>
  </div>
   
    <p class="bindCos2" style="display: none;">绑定角色: <span>绑定角色获取更多积分</span> </p>
    <p class="hqqf"></p>
    <p class="xgHj js_btnPopEditAddress"></p>
    <p class="js_checkMyYQ"></p>
    <div class="MyJpList">
        <p class="jpTit">我的中奖信息</p>
        <ul class="listFo">

        </ul>
    </div>
</div>
<!--选择区服-->
<div class="smk5 mk disNone">
    <p class="sTit">请选择区服</p>
    <p class="seleLi">
        <select name="select_block" class="sel01 lf" id="js_netType">
            <option value="">选择大区</option>
            <option value="1">网通</option>
            <option value="2">电信</option>
            <option value="3">双线</option>
        </select>
        <select name="select_server"  class="sel02 lf"  id="js_server">
            <option value="">选择区组</option>
        </select>
    </p>
    <p class="verCode">
        <input type="text" class="yzmCode veriCode" placeholder="请输入验证码" />
        <img src="http://api.gyyx.cn/Captcha/CreateVJ.ashx?r=?" +math.random()="" class="imgCode" alt="验证码" id="js_updatVerCode">
    </p>
    <p class="hqjs"></p>
</div>
<div class="smk6 mk disNone">
    <select name="" class="bindCos" id="js_getCos">
        <option value="">选择角色</option>
    </select>
    <p class="bindSerCos" id="js_curMyCos"></p>
</div>

    <p class="bottomNav">
        <a class="yqh " href="windex">
            <i class="navImg yqhIm"></i>
            <span class="navTit">邀请函</span>
        </a>
        <a class="zjf" href="wqd">
            <i class="navImg zjfIm"></i>
            <span class="navTit">赚积分</span>
        </a>
        <a class="cj" href="wcj">
            <i class="navImg cjIm"></i>
            <span class="navTit">抽奖</span>
        </a>
        <a class="wd cur" href="wwd">
            <i class="navImg wdIm"></i>
            <span class="navTit">我的</span>
        </a>
    </p>
    <div class="tc tsxx" id="js_yqhISdh_Info" style="display:none">
        <p class="titInfo1">您已成功兑换</p>
        <p class="titInfo2">您已成功兑换</p>
        <p class="know">知道了</p>
    </div>
<!--实物奖弹层（查看联系方式）-->
<div class="tc SuccessDh" id="js_cjSw" style="display:none;">
    <p class="tit">恭喜您&nbsp;&nbsp;获得<span class="prizeName js_panelPrize" style="display: block;"></span></p>
    <form class="formInfo" id="js_popCjSw">
        <p class="inpuLi" >
            <input type="text" placeholder="姓名" name="userName">
        </p>
        <p class="inpuLi">

            <input type="text" placeholder="电话" name="userPhone">
        </p >
        <p class="inpuLi">

            <input type="text" placeholder="邮编" name="userYB">
        </p>
        <p class="inpuLi">
            <input type="text" placeholder="地址" name="userAddress">
        </p>
        <p class="inpuLiTxt">
            请填写真实个人信息，工作人员将于最迟48小时以内与您联系，活动不收取任何费用，请注意查收邮箱及电话。
        </p>
        <p class="inpuLiTxt inpuLiTxt2" style="display: none;">
            获得的奖励将在活动结束后统一寄出，请填写联系方式、快递地址等信息，请保证电话畅通。
        </p>
        <a class="submitAddr" id="js_cjSubmitAddr" href="javascript:void(0)"></a>
    </form>
</div>
<!--邀请函-->
<div class="tc SuccessDh" id="js_SuccessDh" style="display:none">
    <p class="tit">恭喜您！<span class="prizeName" style="display: block;">获得封仙大会邀请函</span></p>
    <form class="formInfo" id="js_popAddressForm">
        <p class="inpuLi" >
            <input type="text" placeholder="姓名" name="userName">
        </p>
        <p class="inpuLi">

            <input type="text" placeholder="电话" name="userPhone">
        </p >
        <p class="inpuLi">

            <input type="text" placeholder="QQ" name="qq">
        </p>
        <p class="inpuLi">

            <input type="text" placeholder="邮箱" name="userEmail">
        </p>
        <p class="inpuLi">
            <input type="text" placeholder="地址" name="userAddress">
        </p>
        <p class="inpuLiTxt">
            请填写真实个人信息，工作人员将于最迟48小时以内与您联系，活动不收取任何费用，请注意查收邮箱及电话。
        </p>
        <p class="inpuLiTxt inpuLiTxt2" style="display: none;">
            获得的奖励将在活动结束后统一寄出，请填写联系方式、快递地址等信息，请保证电话畅通。
        </p>
        <a class="submitAddr" id="js_submitAddr" href="javascript:void(0)"></a>
    </form>
</div>
<script src="http://static.cn114.cn/action/wdyaoqinghan/js/QuickReg150824_160325.js"></script>
    <script src="http://static.cn114.cn/action/wdyaoqinghan/js/addChinaCaptcha.js"></script>
    <script src="http://static.cn114.cn/action/wdyaoqinghan/js/swd.js"></script>
    <script src="http://static.cn114.cn/action/wdyaoqinghan/js/shandle.js"></script>
<script src="http://static.cn114.cn/action/wdyaoqinghan/js/gyyx_wxshare.min.js"></script>
<script>
    nLottery.pop($("#js_yqhISdh_Info"), {
        autoOpen: false,
        closeFn: function () {
        }
    });
       nLottery.pop($("#js_SuccessDh"), {
            autoOpen: false,
            closeFn: function () {
            }
        });
    nLottery.pop($("#js_cjSw"), {
        autoOpen: false,
        closeFn: function () {
        }
    });
</script>

<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?4ebc34fe430c1a23277f543006486777";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
	<script>
			  
        wxShare({
            debug: false,
            game: "wd",
            title: "未读消息：您有一封仙道盛宴邀请函",
            desc: "未读消息：您有一封仙道盛宴邀请函",
            link: "http://actionv2.gyyx.cn/wdyqh/windex",
            imgUrl: "http://static.cn114.cn/action/wdyaoqinghan/images/pic01.jpg",
            success: function () {
                 alert("分享成功");
            },
            cancel: function () {
                alert("取消了分享");
            }
        });
		</script>


</body>
</html>