<div class="table-responsive" >
	<table class="table table-striped m-b-none">
		<form action="" method="post">
		<thead>
			<tr>
				<th width="20">
					<input type="checkbox">
                </th>
				<th>昵称</th>
                <th>评论内容</th>
                <th>评论时间</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>

            
                 #foreach ( $!{li} in $!{listDis} ) 
                 <tr>
                     <td>
                          <input type="checkbox" name="post[]" value="4">
                     </td>
                     <td>$li.nickName</td>
                     <td>$li.commentContent</td>
                     <td>$li.commentTime</td>
                     <td>
						#if( $commentStatus.equals("checked") )
							<a class="btn btn-xs btn-info js_editRole" data-toggle="tooltip" data-title="通过审核" style="height:22px;width:58px"   onclick="cancelDis('${li.commentCode}')" >取消通过</a>
						#elseif ( $commentStatus.equals("uncheck") )
							 <a class="btn btn-xs btn-info js_editRole" data-toggle="tooltip" data-title="通过审核" style="height:22px;width:40px"  title="" onclick="passDis('${li.commentCode}')" >通过</a>
						#else
							<a class="btn btn-xs btn-info js_editRole" data-toggle="tooltip" data-title="通过审核" style="height:22px;width:40px"  title="" onclick="passDis('${li.commentCode}')" >通过</a>
						#end
                     </td>
                </tr>
                #end
            
        </tbody>
		</form>
     </table>
</div>
<div class="row dataTables_wrapper">
	<div class="col-sm-6">
		<div id="DataTables_Table_0_info" class="dataTables_info">共$!{sumDisNum}条</div>
			<input type="hidden" id="nowpageNew" name="nowpageNew" value="${nowpageNew}">
			<input type="hidden" id="sumPageNum" name="sumPageNum" value="${sumPageNum}">
        </div>
        <div class="col-sm-6">
            <div href="" id="DataTables_Table_0_paginate" class="dataTables_paginate paging_full_numbers">
                <a id="DataTables_Table_0_first" class="first paginate_button paginate_button_disabled" tabindex="0" onclick="homePage()" >首页</a>
                      #foreach( ${lip} in ${pageNum} )        
                           <span>
                                 <a  class="paginate_button" tabindex="0" onclick="pageJump('${lip}')" >${lip}</a>
                           </span> 
                      #end
               <a  name="disLastpage" class="last paginate_button" tabindex="0" onclick="lastPage()" >末页</a>
            </div>
		</div>
</div>