<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta http-equiv="expires" content="0">
<meta http-equiv="pragma" content="no-cache">
<meta http-equiv="cache-control" content="no-cache">
    <title>光宇社招</title>
    <link rel="stylesheet" type="text/css" href="http://static.cn114.cn/action/positionApply/css/publicjian01.css"/>
    <link rel="stylesheet" href="http://static.cn114.cn/action/positionApply/css/allstyle01.css" />
    <link rel="stylesheet" href="http://static.cn114.cn/action/positionApply/css/animate.css" />
</head>
<body style="background: #f28f2e;">
	<div class="warp">
		<div class="main shipinM" uid="560022697">
			<h1><a href="${rc.contextPath}/position/index?a=1" class="list">职位列表</a></h1>
			<div class="btn">
				<p class="heads btnanimated fadeIn">
					<img src="http://static.cn114.cn/action/positionApply/img01/shHead.png"/>
				</p>
				<a href="${rc.contextPath}/position/positiontype/videoGC" class="left leftani fadeInRight"></a>
				<a href="${rc.contextPath}/position/positiontype/video3DRender" class="right rightani fadeInLeft"></a>
			</div>
			<div class="content contentani fadeIn2">
				<h2>三维绑定动作师</h2>
				<h3>岗位职责</h3>
				<p>按照导演需求，为角色模型创建动画（含绑定），制作摄像机动画。</p>
				<h3>任职资格</h3>
				<p>1、对游戏行业、CG动画充满热情；</p>
				<p>2、精通3DS Max或Maya的动画模块；</p>
				<p>3、精通角色绑定，能解决大部分动画中的绑定设置问题。有很强的动作感觉；</p>
				<p>4、精通角色表情动画及绑定。</p>
			</div>
			<div class="xsbtn xsani fadeInUpBig"  id="color2">
			<a href="http://gyyx.m.zhiye.com/JobAd/Info?adid=560022697" class="sq2">在线申请</a>
				<a href="#" class="fx2 fxz">分享职位</a>
			</div>
		</div>
	</div>
	<div class="zz">
		<img src="http://static.cn114.cn/action/positionApply/img01/zz.png" />
	</div>
<script type="text/javascript" src="http://static.cn114.cn/action/positionApply/js/zepto.js" ></script>
<script type="text/javascript" src="http://static.cn114.cn/action/positionApply/js/allstyle01.js" ></script>
<script type="text/javascript" src="http://static.cn114.cn/action/positionApply/js/gyyx_wxshare.min.js" ></script>
<script type="text/javascript" src="http://static.cn114.cn/action/positionApply/js/content01.js" ></script>
<script type="text/javascript" src="http://static.cn114.cn/action/positionApply/js/fx01.js" ></script>
<script>
	$("body").on("swipeLeft",function(){
		location.href="${rc.contextPath}/position/positiontype/video3DRender";
	})
	$("body").on("swipeRight",function(){
		location.href="${rc.contextPath}/position/positiontype/videoGC";
	})
</script>
</body>
</html>