<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>问道 - 十年缤纷 五光十色漫道途</title>
		<link rel="stylesheet" href="http://static.cn114.cn/action/wdtenyearcolorful/css/wd0519.css" />
		<script src="http://s.gyyx.cn/Lib/jquery.js" type="text/javascript"></script>
		<script src="http://s.gyyx.cn/publictop/jquery.publictop.js?webname=wendao" type="text/javascript"></script>
		<script  type="text/javascript">
	    	var rc = "${rc.contextPath}";
	 	</script>
	 	<script>
		var _hmt = _hmt || [];
		(function() {
		  var hm = document.createElement("script");
		  hm.src = "//hm.baidu.com/hm.js?e58fae245fc928f558c2423337369351";
		  var s = document.getElementsByTagName("script")[0]; 
		  s.parentNode.insertBefore(hm, s);
		})();
		</script>
		<script type="text/javascript" charset="utf-8">
    		alert("谢谢参与，活动已结束");
    	</script>
	</head>
	<body style="background:#ede4de;">
		<div class="public_nav_top"><script type="text/javascript">Showtop();</script></div>
		<a name="b0"></a>
		<div class="wrap morepage">
			<div class="part0">
				<a href="http://wd.gyyx.cn/index_wd_v5.htm" target="_blank">进入官网</a><a href="http://pay.gyyx.cn/" target="_blank">充值中心</a><a href="http://account.gyyx.cn/Member/Register/" target="_blank">注册账号</a><a href="http://wd.gyyx.cn/download/" target="_blank">下载游戏</a>
			</div>
			<div class="part">
				<a href="index" class="goback" target="_blank"></a>
				<h1 id="js_login">请先<a href="javascript:;" class="js_alertlogin_a">登录</a></h1>
				<h1 id="js_loginon">欢迎， <b></b> 登录
				#if($bindInfo)
				<span class="qf"> $bindInfo.areaName</span><span class="fwq">$bindInfo.serverName</span><span class="roname">$bindInfo.roleName</span>      
				#end
				</h1>  
				<div class="search">
					<a href="javascript:;" class="on" id="js_new">最新</a>
					<a href="javascript:;" id="js_hot">最热</a>
					<p><input type="text" value="请输入参赛编号" class="js_search"/><a href="javascript:;" class="js_searchbtn"></a></p>
				</div>
				<div class="part1_content">
					<ul class="part1_left partleft">
						
					</ul>
				</div>
			</div>
			<h4 id="bottomh4"></h4>
		</div>
		<div class="popup_con prosit tc1">
			<a class="close" href="javascript:;">关闭</a>
			<div class="con">
				<p>您今天已给10个作品添彩，请明日再来。</p>
				<a href="javascript:;" class="usub js_subtn"></a>
			</div>
		</div>
		<div class="popup_con prosit tc2" style="display: none;">
			<a class="close" href="javascript:;">关闭</a>
			<div class="con con1">
				<p>选择大区<select class="quname"><option value="0">请选择大区</option><option value="1">网通</option><option value="2">电信</option><option value="3">双线</option></select>服务器<select class="servicename"><option>请选择服务器</option></select></p>
				<a href="javascript:;" class="usub js_usubtn"></a>
			</div>
		</div>
		<div class="popup_con" id="tcb" style="display: none;">
			<div class="close"></div>
			<p></p>
			<img src="" />
		</div>
		<div class="js_black_box" style="display:none;position: absolute;left: 0;right: 0; top: 0; bottom: 0;background: #000;opacity: 0.6;filter:alpha(opacity=60); z-index: 99998;">     <!--[if IE 6]><iframe></iframe><![endif]--></div>
		<a href="#b0" class="tops"></a>
		<div class="public_nav_bottom"><script type="text/javascript">ShowBottom();</script></div>
	<script type="text/javascript" src="http://static.cn114.cn/action/wdtenyearcolorful/js/login.js" ></script>
	<script type="text/javascript" src="http://static.cn114.cn/action/wdtenyearcolorful/js/morepage.js" ></script>
	</body>
</html>
