<html>
<head>
<script src="http://s.gyyx.cn/Lib/jquery.js" type="text/javascript"></script>
</head>
<script>
$(function(){
//	$("#button").click(function(){
//		window.location.href="";
//	});
$("#button").click(function(){
	alert("123");
	var a = [1,2,3,4];
	$.ajax({
		url:"${rc.contextPath}/ATest/test",
		type:"post",
		data:
		{
			"test":a },
		
		dateType:"json",
		success: function(){
			alert(asdf);
		},
		error:function(){
			alert(4444);
		}
	
	})
	});
});
</script>
<body>
	<input type="button" id="button" value="提交">
	${test}
</body>
</html>
