<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:tx="http://www.springframework.org/schema/tx"
  xmlns:aop="http://www.springframework.org/schema/aop"
  xmlns:mybatis="http://mybatis.org/schema/mybatis-spring"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/tx 
		http://www.springframework.org/schema/tx/spring-tx.xsd
		http://www.springframework.org/schema/aop 
		http://www.springframework.org/schema/aop/spring-aop.xsd
		http://mybatis.org/schema/mybatis-spring 
		http://mybatis.org/schema/mybatis-spring.xsd">

  <!-- mybatis 配置 -->
  <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
    <property name="dataSource" ref="dataSource"/>
    <property name="mapperLocations" value="classpath*:cn/mahjong/dao/**/*.xml"/>
  </bean>
  <!-- 启动自动搜索mapper功能 -->
  <mybatis:scan base-package="cn.mahjong.dao"/>


  <!-- 事务管理器配置,单数据源事务 -->
  <bean id="transactionManager"
    class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
    <property name="dataSource" ref="dataSource"/>
  </bean>
  <!-- 启动注解事务  -->
  <tx:annotation-driven/>

  <!-- advice配置 -->
  <tx:advice id="transactionAdvice" transaction-manager="transactionManager">
    <tx:attributes>
      <tx:method name="add*" propagation="REQUIRED"/>
      <tx:method name="append*" propagation="REQUIRED"/>
      <tx:method name="insert*" propagation="REQUIRED"/>
      <tx:method name="save*" propagation="REQUIRED"/>
      <tx:method name="update*" propagation="REQUIRED"/>
      <tx:method name="modify*" propagation="REQUIRED"/>
      <tx:method name="edit*" propagation="REQUIRED"/>
      <tx:method name="delete*" propagation="REQUIRED"/>
      <tx:method name="remove*" propagation="REQUIRED"/>
      <tx:method name="repair" propagation="REQUIRED"/>
      <tx:method name="delAndRepair" propagation="REQUIRED"/>
      <tx:method name="get*" propagation="SUPPORTS"/>
      <tx:method name="find*" propagation="SUPPORTS"/>
      <tx:method name="load*" propagation="SUPPORTS"/>
      <tx:method name="search*" propagation="SUPPORTS"/>
      <tx:method name="datagrid*" propagation="SUPPORTS"/>

      <tx:method name="*" propagation="SUPPORTS"/>
    </tx:attributes>
  </tx:advice>

  <aop:config>
    <aop:pointcut id="transactionPointcut"
      expression="execution(* cn.mahjong.service..*Impl.*(..))"/>
    <aop:advisor pointcut-ref="transactionPointcut" advice-ref="transactionAdvice"/>
  </aop:config>


  <!-- 数据源配置 -->
  <beans profile="development">
    <bean id="dataSource" class="com.zaxxer.hikari.HikariDataSource">
      <property name="driverClassName" value="${jdbc.mysql.JavaMahjongDBDriver}"/>
      <property name="jdbcUrl" value="${jdbc.mysql.JavaMahjongDBurl}"/>
      <property name="username" value="${jdbc.mysql.JavaMahjongDBusername}"/>
      <property name="password" value="${jdbc.mysql.JavaMahjongDBpassword}"/>
      <property name="maximumPoolSize" value="5"/>
      <property name="idleTimeout" value="60000"/>
      <property name="connectionTimeout" value="60000"/>
      <property name="maxLifetime" value="60000"/>
    </bean>
  </beans>
  <beans profile="production">
    <bean id="dataSource" class="com.zaxxer.hikari.HikariDataSource">
      <property name="driverClassName" value="${jdbc.mysql.JavaMahjongDBDriver}"/>
      <property name="jdbcUrl" value="${jdbc.mysql.JavaMahjongDBurl}"/>
      <property name="username" value="${jdbc.mysql.JavaMahjongDBusername}"/>
      <property name="password" value="${jdbc.mysql.JavaMahjongDBpassword}"/>
      <property name="maximumPoolSize" value="5"/>
      <property name="idleTimeout" value="60000"/>
      <property name="connectionTimeout" value="60000"/>
      <property name="maxLifetime" value="60000"/>
    </bean>
  </beans>
</beans>