<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:cache="http://www.springframework.org/schema/cache"
	xmlns:c="http://www.springframework.org/schema/c"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tool = "http://www.springframework.org/schema/tool"
	xmlns:util = "http://www.springframework.org/schema/util"
	xmlns:mybatis="http://mybatis.org/schema/mybatis-spring"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/tx 
		http://www.springframework.org/schema/tx/spring-tx.xsd
		http://www.springframework.org/schema/cache
		http://www.springframework.org/schema/cache/spring-cache.xsd
		http://www.springframework.org/schema/aop 
		http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/tool
		http://www.springframework.org/schema/tool/spring-tool-4.3.xsd
		http://www.springframework.org/schema/util
		http://www.springframework.org/schema/util/spring-util-4.3.xsd">
	
	<bean id="jedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig">
		<property name="maxIdle" value="${account.redis.maxIdel}"/>
		<property name="minEvictableIdleTimeMillis" value="${account.redis.minEvictableIdelTimeMillis}"/>
		<property name="numTestsPerEvictionRun" value="${account.redis.numTestsPerEvictionRun}"/>
		<property name="timeBetweenEvictionRunsMillis" value="${account.redis.timeBetweenEvictionRunsMillis}"/>
	</bean>
	
	<bean id="jedisConnectionFactory" class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory">
		<property name="poolConfig" ref="jedisPoolConfig"/>
		<property name="hostName" value="${account.redis.hostName}"/>
		<property name="port" value="${account.redis.port}"/>
		<property name="timeout" value="${account.redis.timeout}"/>
		<property name="usePool" value="${account.redis.userPool}"/>
	</bean>
	
	<bean id="jedisTemplate" class="org.springframework.data.redis.core.RedisTemplate">
		<property name="connectionFactory" ref="jedisConnectionFactory"/>
        <property name="keySerializer">  
            <bean class="org.springframework.data.redis.serializer.StringRedisSerializer"/>  
        </property>  
        <property name="valueSerializer">  
            <bean class="org.springframework.data.redis.serializer.JdkSerializationRedisSerializer"/>  
        </property> 
	</bean>
	
	<!-- 缓存设置 -->
	<cache:annotation-driven/>
	<!-- 缓存名称 -->
	<util:set id="configuredCacheNames">
		<value>MobileAccountError</value>
		<value>MobileAppInfo</value>
	</util:set>
	<!-- 缓存失效时间（seconds）0: 永不失效 -->
	<util:map id="expires">
		<entry key="MobileAccountError" value="0"/>
		<entry key="MobileAppInfo" value="0"/>
	</util:map>
	<!-- 缓存管理 -->	
	<bean id="cacheManager" class="org.springframework.data.redis.cache.RedisCacheManager" c:redisOperations-ref="jedisTemplate" c:cacheNames-ref="configuredCacheNames">
		<property name="usePrefix" value="true"/>
		<property name="expires" ref="expires"/>
	</bean>
	
	
	
</beans>