<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gyyx.action.dao.wd9yearnovicebag.BagActivityConfigMapper">

	<resultMap type="BagActivityConfigBean" id="BagActivityConfig">
		<id column="code" property="code" />
		<result column="hd_name" property="activityName" />
		<result column="hd_start" property="activityStart" />
		<result column="hd_end" property="activityEnd" />
		<result column="is_delete" property="isDelete" />
		<result column="game_id" property="gameId" />
		<result column="paras" property="paras" />
		<result column="hd_link" property="activityLink" />
	</resultMap>	
	<select id="selectActivityConfigByhdName" parameterType="String" resultMap="BagActivityConfig">
		select top 1 code,hd_name,hd_start,hd_end,is_delete,game_id,paras,hd_link 
		from hd_config_tb
		where hd_name=#{hdName} and is_delete=0
	</select>
</mapper>
