#foreach($item in $strongPets)
<tr>
    <td width="33">$!{velocityCount}</td>
    <td class="pet-name" width="117">
		<a title="$!{item.petName}" href="${rc.contextPath}/wdno1pet/pet/$!{item.petCode}" target="_blank">
			$!{item.smallPetName}
		#if($item.smallPetName.length()<$item.petName.length())
			...
		#end
		</a>
	</td>
    <td width="71">$!{item.strongValue}</td>
</tr>
#end