<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta http-equiv="expires" content="0">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <title>问道十一黄金周活动--抽奖</title>
    <link rel="stylesheet" href="http://static.cn114.cn/action/nationalday/css/common.css"/>
    <link rel="stylesheet" href="http://static.cn114.cn/action/nationalday/css/styleT.css"/>
    <script  type="text/javascript">
    	var rc = "${rc.contextPath}";
    	var footUrl = 3;
 	</script>
    <script src="http://s.gyyx.cn/Lib/jquery.js"></script>
    <script src="http://s.gyyx.cn/WebGame/PageStat.js" type="text/javascript"></script>
    <script>
	var _hmt = _hmt || [];
	(function() {
	  var hm = document.createElement("script");
	  hm.src = "//hm.baidu.com/hm.js?586687236ee3922aa47bdf9827c5fc54";
	  var s = document.getElementsByTagName("script")[0]; 
	  s.parentNode.insertBefore(hm, s);
	})();
	</script>
</head>
<body>
<!-- header公共部分 -->
<section class="wrap">
    <div class="time">活动时间：10月1日-10月7日</div>
    <!-- header公共部分 -->
    <div id="main" class="main">
        <!-- 抽奖部分开始-->
        <div id="lottery" class="lottery">
            <ul class="lottery_top">
                <li>剩余抽奖次数: <span class="js_prizeNums" data-num="0">0次</span></li>
                <li>剩余必中奖券: <span class="js_prizeMustNums" data-num="0">0张</span></li>
            </ul>
            <button class="my_prize_btn js_prizeListBtn"></button>
            <div class="lottery_con">
                <ul  id="lottery_bg">
                    <li class="js_prizeImg" id="dzp0"></li>
                    <li class="js_prizeImg" id="dzp1"></li>
                    <li class="js_prizeImg" id="dzp2"></li>
                    <li class="js_prizeImg" id="dzp3"></li>
                    <li class="js_prizeImg" id="dzp13"></li>
                    <li class="js_prizeImg" id="dzp14"></li>
                    <li class="js_prizeImg" id="dzp15"></li>
                    <li class="js_prizeImg" id="dzp4"></li>
                    <li class="js_prizeImg" id="dzp12"></li>
                    <li class="prize_start js_statrPrize" text="go"></li>
                    <li class="js_prizeImg" id="dzp5"></li>
                    <li class="js_prizeImg" id="dzp11"></li>
                    <li class="js_prizeImg" id="dzp16"></li>
                    <li class="js_prizeImg" id="dzp17"></li>
                    <li class="js_prizeImg" id="dzp6"></li>
                    <li class="js_prizeImg" id="dzp10"></li>
                    <li class="js_prizeImg" id="dzp9"></li>
                    <li class="js_prizeImg" id="dzp8"></li>
                    <li class="js_prizeImg" id="dzp7"></li>
                </ul>
            </div>
            <h2>抽奖规则</h2>
            <div class="rules_content">
                <p>10月1日-10月10日期间，玩家通过参加活动累计积分可以在“签到”→“积分”页面中领取抽奖券，每领取一次就可以获得一次抽奖机会！如果在活动时间内达到满分，还可以得到一次特殊的抽奖机会哦~</p>
                <p>官方将会采用技术手段查询刷奖行为，一经发现则取消奖励。</p>
                <p>本活动最终解释权归光宇游戏公司所有。</p>
            </div>
        </div>
        <!-- 抽奖部分结束-->
        <!--底部导航部分-->
    #parse("nationalDay/footer.vm")
    </div>
</section>
<!--奖券提示-->
<div class="popup" id="ticket">
    <div class="popup_prize01">
        <img src="http://static.cn114.cn/action/nationalday/images/popup_prize.gif" class="prize">
        <p class="popup_msg" style="padding-top: .2rem">
            是否使用必中奖券？
        </p>
        <button class="button_certain hide"></button>
        <div class="bizhong_btn">
            <input class="js_noMustPrizeBtn" type="button" value="以后再用"/><input class="js_mustPrizeBtn" type="button" value="是"/>
        </div>
    </div>
</div>
<!--虚拟奖-->
<div class="popup" id="virtualPrize">
    <div class="popup_prize01">
        <img src="http://static.cn114.cn/action/nationalday/images/popup_prize.gif" class="prize js_virtualPrizeImg">
        <p class="popup_msg js_virtualTip">恭喜您：获得了XXXX！</p>
        <input class="button_certain js_iKnow" type="button"/>
    </div>
</div>
<!--实物奖-->
<div class="popup_address" id="realPrize">
    <div class="popup_prize02">
        <img src="http://static.cn114.cn/action/nationalday/images/iphone6p.png" class="js_realPrizeImg"/>
        <h2 class="popup_address_w01 js_realTip">恭喜您：获得了XXXX！</h2>
        <p >为了保证您可以收到奖励，请谨慎填写收件地址哦~</p>

        <form action="">
            <ul class="popup_address_ipt">
                <li><label>姓　名</label><input type="text" maxlength="10" name="userNames"/></li>
                <li><label>手机号</label><input type="text" maxlength="11" name="phone"/></li>
                <li><label>地　址</label><input type="text" maxlength="100" name="address"/></li>
            </ul>
        </form>
        <p class="popup_tel">奖励会在活动结束后统一发放，如有疑问请致电光宇客服：010-82438999</p>
        <input type="button" class="popup_address_certain js_address_submit" value=""/>
    </div>
</div>
<!--奖品列表-->
<div class="popup" id="prizeList">
    <div class="popup_prize01 prize_list">
    	<h2>我的奖励</h2>
    	<div class="js_prizeList">
	        <p>1、威威虎U型枕</p>
	        <p>2、抱枕</p>
	        <p>3、花朵铭牌</p>
	        <p>4、抱枕</p>
	        <p>5、花朵铭牌</p>
	        <p>6、抱枕</p>
	        <p>7、花朵铭牌</p>
        </div>
    </div>
</div>
<div class="v_h_tips">要使用竖屏访问哦！</div>
<script src="http://static.cn114.cn/action/nationalday/js/common.js" type="text/javascript"></script>
<script src="http://static.cn114.cn/action/nationalday/js/Lotterywd.js" type="text/javascript"></script>
<script src="http://static.cn114.cn/action/nationalday/js/gyyx_wxshare.min.js" type="text/javascript"></script>
<script>
    $(function () {
        //分享
        wxShare({
            debug: false,
            game: "wd",
            title: '十一去了哪里都来晒晒吧!',
            desc: '黄金周！不要宅！晒日记！晒照片！签到都能领奖励！',
            link: "http://actionv2.gyyx.cn/wdnationalshare/sharepage",
            imgUrl: "http://static.cn114.cn/action/nationalday/images/share.jpg",
            success: function () {
            },
            cancel: function () {
            }
        });
    })
</script>
</body>
</html>

