<!DOCTYPE html>
<html class="app">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>问道十周年福利签到活动签到后台管理</title>
    <link href="${rc.contextPath}/resources/style/projectStyle.css" rel="stylesheet" />
    <script src="http://oa.gyyx.cn/Script/js/jquery.min.js"></script>
    <script src="http://oa.gyyx.cn/Script/app.v2.js"></script>
    <script src="http://oa.gyyx.cn/Script/js/jquery.validate.js"></script>
    <script src="http://oa.gyyx.cn/Script/js/alertMsg.js"></script>
    <script src="http://oa.gyyx.cn/Script/js/jquery.functions.js"></script>
    <script src="http://oa.gyyx.cn/Script/js/getUserInfo.js"></script>
    <script src="http://oa.gyyx.cn/Script/js/te_data.js"></script>
    <script src="${rc.contextPath}/resources/script/jquery-ui.dialog.min.js"></script>
	<link rel="stylesheet" href="${rc.contextPath}/resources/style/lightbox.css" type="text/css" media="screen" />
	<script src="${rc.contextPath}/resources/script/jquery.lightbox.js" type="text/javascript"></script>
    <script type="text/javascript" charset="utf-8">
        document.write(teheadstr); 
    </script>	
    <link href="${rc.contextPath}/resources/style/jquery-ui.css" rel="stylesheet" />
	<style>
		.green{
    		background:green!important;
    		color:#fff;
		}
		.hui{
			background:gray!important;
			color:#fff;
		}
	</style>
</head>
<body>
    <section class="vbox">
        <header class="bg-dark dk header navbar navbar-fixed-top-xs js_template_top"></header>
        <section>
            <section class="hbox stretch">
                <aside class="bg-dark lter aside-md hidden-print js_template_left" id="nav"></aside>
				
                <section id="content">
                    <section class="vbox js_template_right">
                        <!--顶部标题导航 begin-->
                        <header class="header bg-white b-b clearfix">
                            <div class="col-sm-1" style="min-width: 120px;">
                                <h4 class="m-t bold" style="margin-top:15pt">按账号查询</h4>
                            </div>
							<form action="searchByAccount" method="get"> 
                                <div class="col-sm-2">
    								<input type="text" class="m-t-sm form-control" name="account" />
                                </div>
    
    							<div class="col-sm-1" style="width:120px;margin-left:15px">
									
                               		<input type="submit" class="m-t-sm form-control btn btn-s-md btn-info" id="search" value="搜索" />
                                </div>
							</form>
                           <div class="col-sm-1" style="width:120px;margin-right:15px">
                           		<a class="m-t-sm form-control btn btn-s-md btn-default"  id="home">全部</a>
                            </div>
							<div class="col-sm-1" style="width:120px;margin-right:50px;float:right">
									<form action="exportExcel">
										<div class="col-sm-2 m-b-xs">
						               		<div class="form-group">
							              		<button class="m-t-sm form-control btn btn-s-md btn-info" type="submit" style="">导出</button>
							            	</div>
						            	</div>
						            </form>
                           		<a class="m-t-sm form-control btn btn-s-md btn-info" id="export" style="text-align:center;">导出</a>
                            </div>
                        </header>
                        <!--顶部标题导航 end-->

                        <!--主体内容 begin-->
                        <section class="scrollable padder">
                            <div class="m-b-sm" >
                            </div>
                            <!--数据表格  begin -->
                                
                              <section class="panel panel-default" style="overflow-x:scroll;">		<!--style="width:1300px;overflow-x:scroll;"-->
								<div class="table-responsive js_replace_table">
                                    <table class="table table-striped m-b-none" id="datatable" style="width:1800px;overflow-x:scroll;">
                                        <thead>
                                            <tr>
												<th>序号</th>
												<th>账号</th>
												<th>区组</th>
                                                <th>积分</th>
												<th>签到天数(总)</th>
												<th>满88积分</th>
												<th>累计签到3天</th>
												<th>累计签到5天</th>
												<th>累计签到10天</th>
												<th>累计签到20天</th>
												<th>累计签到30天</th>
												<th>累计签到40天</th>
												<th>签到详情</th>
                                            </tr>
                                        </thead>
                                        <tbody>
										#if($!url == "listByPage")
											#foreach($!list in $!statisticslist)
                                            <tr>
												<td>$!list.row</td>
												<td id="account">$!list.account</td>
												<td>$!list.serverName</td>
                                                <td>$!list.totalScore</td>
												<td>$!list.signDayNum</td>
												<td>
													#set ($flag=0)
													#foreach($gift in $list.giftType)
														#if($!gift.giftType == "88score")
															#set($flag=1)
														#end
													#end
													#if($flag == 1)
    												<font color="red">已领取</font>
    												#else
    												<font color="blue">未领取</font>
    												#end
												</td>
												<td>
													#set ($flag=0)
													#foreach($gift in $list.giftType)
														#if($!gift.giftType == "3day")
															#set($flag=1)
														#end
													#end
													#if($flag == 1)
    												<font color="red">已领取</font>
    												#else
    												<font color="blue">未领取</font>
    												#end
												</td>
												<td>
													#set ($flag=0)
													#foreach($gift in $list.giftType)
														#if($!gift.giftType == "5day")
															#set($flag=1)
														#end
													#end
													#if($flag == 1)
    												<font color="red">已领取</font>
    												#else
    												<font color="blue">未领取</font>
    												#end
												</td>
												<td>
													#set ($flag=0)
													#foreach($gift in $list.giftType)
														#if($!gift.giftType == "10day")
															#set($flag=1)
														#end
													#end
													#if($!flag == 1)
    												<font color="red">已领取</font>
    												#else
    												<font color="blue">未领取</font>
    												#end
												</td>
												<td>
													#set ($flag=0)
													#foreach($gift in $list.giftType)
														#if($!gift.giftType == "20day")
															#set($flag=1)
														#end
													#end
													#if($flag == 1)
    												<font color="red">已领取</font>
    												#else
    												<font color="blue">未领取</font>
    												#end
												</td>
												<td>
													#set ($flag=0)
													#foreach($gift in $list.giftType)
														#if($!gift.giftType == "30day")
															#set($flag=1)
														#end
													#end
													#if($flag == 1)
    												<font color="red">已领取</font>
    												#else
    												<font color="blue">未领取</font>
    												#end
												</td>
												<td>
													#set ($flag=0)
													#foreach($gift in $list.giftType)
														#if($!gift.giftType == "40day")
															#set($flag=1)
														#end
													#end
													#if($flag == 1)
    												<font color="red">已领取</font>
    												#else
    												<font color="blue">未领取</font>
    												#end
												</td>
												<td>
													<a class="btn btn-sm btn-dark js_add_info" href="#addTask" data-toggle="modal" data-dd="$!list.account">查看详情</a>
												</td>
                                            </tr>
											#end
										 #end	
										 #if($!url == "searchByAccount")
											 #if($statistics)
											  <tr>
												<td>1</td>
												<td id="account">$!statistics.account</td>
												<td>$!statistics.serverName</td>
                                                <td>$!statistics.totalScore</td>
												<td>$!statistics.signDayNum</td>
												<td>
													#set ($flag=0)
													#foreach($gift in $statistics.giftType)
														#if($!gift.giftType == "88score")
															#set($flag=1)
														#end
													#end
													#if($flag == 1)
    												<font color="red">已领取</font>
    												#else
    												<font color="blue">未领取</font>
    												#end
												</td>
												<td>
													#set ($flag=0)
													#foreach($gift in $statistics.giftType)
														#if($!gift.giftType == "3day")
															#set($flag=1)
														#end
													#end
													#if($flag == 1)
    												<font color="red">已领取</font>
    												#else
    												<font color="blue">未领取</font>
    												#end
												</td>
												<td>
													#set ($flag=0)
													#foreach($gift in $statistics.giftType)
														#if($!gift.giftType == "5day")
															#set($flag=1)
														#end
													#end
													#if($flag == 1)
    												<font color="red">已领取</font>
    												#else
    												<font color="blue">未领取</font>
    												#end
												</td>
												<td>
													#set ($flag=0)
													#foreach($gift in $statistics.giftType)
														#if($!gift.giftType == "10day")
															#set($flag=1)
														#end
													#end
													#if($!flag == 1)
    												<font color="red">已领取</font>
    												#else
    												<font color="blue">未领取</font>
    												#end
												</td>
												<td>
													#set ($flag=0)
													#foreach($gift in $statistics.giftType)
														#if($!gift.giftType == "20day")
															#set($flag=1)
														#end
													#end
													#if($flag == 1)
    												<font color="red">已领取</font>
    												#else
    												<font color="blue">未领取</font>
    												#end
												</td>
												<td>
													#set ($flag=0)
													#foreach($gift in $statistics.giftType)
														#if($!gift.giftType == "30day")
															#set($flag=1)
														#end
													#end
													#if($flag == 1)
    												<font color="red">已领取</font>
    												#else
    												<font color="blue">未领取</font>
    												#end
												</td>
												<td>
													#set ($flag=0)
													#foreach($gift in $statistics.giftType)
														#if($!gift.giftType == "40day")
															#set($flag=1)
														#end
													#end
													#if($flag == 1)
    												<font color="red">已领取</font>
    												#else
    												<font color="blue">未领取</font>
    												#end
												</td>
												<td>
													<a class="btn btn-sm btn-dark js_add_info" href="#addTask" data-toggle="modal" data-dd="$!statistics.account">查看详情</a>
												</td>
                                            </tr>
											#else
												<tr><td>没有该账号，请重新输入</td></tr>
											#end
										 #end
                                            </tbody>
                                    </table>
									
                                </div>
								
                            <!--数据表格  end -->
                        </section>
						

                        <!--主体内容 end-->
                    </section>
					
					<!--翻页功能-->
                        <footer class="footer bg-white b-t" >
                            <div class="row dataTables_wrapper">
								#if($!url == "listByPage")
                                <div class="col-sm-6">
                                    <div class="dataTables_info" id="DataTables_Table_0_info">绑定账号共$!page.totalRecords 个,签到账号共$!signRecords 个,签到IP共 $!IP 个</div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="dataTables_paginate paging_full_numbers" id="DataTables_Table_0_paginate"  style="padding:10px 0 5px 0;">
                                        <a class="first paginate_button" tabindex="0" id="DataTables_Table_0_first">首页</a>
										<a class="previous paginate_button" tabindex="0" id="DataTables_Table_0_previous">上一页</a>
										<span>
											#if($!page.totalPages == 0)
												$!page.pageIndex
											#else
											 $!page.pageIndex / $!page.totalPages 
											#end
											 <input type="hidden" id="hiddenURL" value="$!url" />
										</span>
										<a class="next paginate_button" tabindex="0" id="DataTables_Table_0_next">下一页</a>
										<a class="last paginate_button" tabindex="0" id="DataTables_Table_0_last">末页</a>
										&nbsp;&nbsp;&nbsp;&nbsp;页码：
										<input type="text" id="goPageNum" value="" style="width:50px;height:25px;" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')">
										<a class="last paginate_button" tabindex="0" id="goPage">Go</a>
									</div>
                                </div>
								#end
                            </div>
                        </footer>
						
						
<div class="modal fade in" id="addTask" aria-hidden="false" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h6 class="modal-title" style="display:inline-block">显示详情</h6>

                <div class="btn-group" data-toggle="buttons" style="display: inline-block;text-align: center;width: 350px;float: right;">
					 
                </div>
            </div>

            <p class="js_Message text-center text-danger m-t-sm m-b-none"></p>

            <div class="modal-body">
                <form id="addTaskForm" class="form-horizontal" method="post">

						
                    <div>
						<p>账号:<span id="show_account"></span></p>
						<p>时间:</p>
						<table class="table table-striped b-l b-b b-r js_table text-center">
							<tr>
								<td>22</td><td>23</td><td>24</td><td>25</td><td>26</td><td>27</td><td>28</td>
							</tr>
							<tr>
								<td>29</td><td>30</td><td>31</td><td>1</td><td>2</td><td>3</td><td>4</td>
							</tr>
							<tr>
								<td>5</td><td>6</td><td>7</td><td>8</td><td>9</td><td>10</td><td>11</td>
							</tr>
							<tr>
								<td>12</td><td>13</td><td>14</td><td>15</td><td>16</td><td>17</td><td>18</td>
							</tr>
							<tr>
								<td>19</td><td>20</td><td>21</td><td>22</td><td>23</td><td>24</td><td>25</td>
							</tr>
							<tr>
								<td>26</td><td>27</td><td>28</td><td>29</td><td>30</td><td></td><td></td>
							</tr>
							
						</table>
						<p>累计签到:<span id="sign_day"></span>天</p>
					</div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default close_js_Msg" data-dismiss="modal">返回</button>
                    </div>
                </form>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>

    <!-- /.modal-dialog -->
</div>
					
<script>
	$(function(){
		##返回列表
		$("#home").click(function () {
			window.location.href="../wdTenyearBenefitSignin/listByPage";
        });
		#if($!url == "listByPage")
		var pagePrevious = $!page.isHavePrePage;
		var pageNext = $!page.isHaveNextPage;
		var url = $("#hiddenURL").val();
		
		if(!pagePrevious){
			$("#DataTables_Table_0_previous").addClass("paginate_button_disabled");
			$("#DataTables_Table_0_first").addClass("paginate_button_disabled");
		}
		if(!pageNext){
			$("#DataTables_Table_0_next").addClass("paginate_button_disabled");
			$("#DataTables_Table_0_last").addClass("paginate_button_disabled");
		}
		$("#DataTables_Table_0_previous").click(function(){
			if(pagePrevious){
				var page = $!page.pageIndex - 1;
				if(url=="listByPage"){
					window.location.href="listByPage?pageIndex="+page;
				}
			}	
		})
		$("#DataTables_Table_0_next").click(function(){
			if(pageNext){
				var page = $!page.pageIndex + 1;
				if(url=="listByPage"){
					window.location.href="listByPage?pageIndex="+page;
				}
			}
		})
		$("#DataTables_Table_0_first").click(function(){
			if(pagePrevious){
				if(url=="listByPage"){
					window.location.href="listByPage?pageIndex=1";
				}
			}
		})
		$("#DataTables_Table_0_last").click(function(){
			if(pageNext){
			    var page = $!page.totalPages;
				if(url=="listByPage"){
					window.location.href="listByPage?pageIndex="+page;
				}
			}
		})
		$("#goPage").click(function(){
			var page = $("#goPageNum").val();
			if(page>$!page.totalPages){
				alert('页数超过最大页数,请重新输入');
			}else if(page<=0){
				alert('页数小于1,请重新输入');
			}else{
				if(page!=""&&page!=null){
					if(url=="listByPage"){
					   window.location.href="listByPage?pageIndex="+page;
					}
				}
			}
		});
		#end
		##返回列表
		$(".js_back").click(function(){
			var parent=$(this).parent().parent();
			var account = parent.find("#account").text();
			window.location.href="showDetail?account="+account;
		});
		##按账号搜索
		$("#search").click(function (event) {
			var searchinfo=$("#searchinfo").val();
			if(searchinfo==""){
				alert("搜索账号不能为空");
			}else{
				window.location.href="searchByAccount?account="+searchinfo.replace(/(^\s*)|(\s*$)/g, "");
			}
		});

		##查看详情
		$(".js_add_info").click(function(){
			var account=$(this).attr("data-dd");
        	jQuery.ajax({
        		url:'../wdTenyearBenefitSignin/showDetail',
        		type:'get',
        		data:{r:Math.random(),account:account},
        		success:function (d){
					var array=d.data;		
					if(d.data===null){
						$("#show_account").html("");
						$("#sign_day").html("");
						$('.js_table td').removeClass();
					}else{
    					var signDay=array[40];
    					$("#show_account").html("");
    					$("#show_account").html(array[42]);
    					$("#sign_day").html("");
    					$("#sign_day").html(signDay);
    					
    					$('.js_table td').removeClass();
    					for(var i=0;i<=array[41];i++){
    						if(array[i]=="true"){
    							$('.js_table td').eq(i).addClass('green');
    						}
    					}
    					for(var i=0;i<array[41];i++){
    						if(array[i]=="false"){
    							$('.js_table td').eq(i).addClass('hui');
    						}
    					}
					}
        		},
        		error : function(){}
        	})
		});

		
	});
</script>						
                </section>
            </section>
        </section>
    </section>
</body>
</html>