<!DOCTYPE html>
<html class="app">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>问道十周年缤纷添彩活动签到后台管理</title>
    <link href="${rc.contextPath}/resources/style/projectStyle.css" rel="stylesheet" />
    <script src="http://oa.gyyx.cn/Script/js/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/mustache.js/2.2.1/mustache.js"></script>
    <script src="http://oa.gyyx.cn/Script/app.v2.js"></script>
    <script src="http://oa.gyyx.cn/Script/js/jquery.validate.js"></script>
    <script src="http://oa.gyyx.cn/Script/js/alertMsg.js"></script>
    <script src="http://oa.gyyx.cn/Script/js/jquery.functions.js"></script>
    <script src="http://oa.gyyx.cn/Script/js/getUserInfo.js"></script>
    <script src="http://oa.gyyx.cn/Script/js/te_data.js"></script>
    <script type="text/javascript" charset="utf-8">
        document.write(teheadstr); 
    </script>	
    <script type="text/javascript" charset="utf-8">
    	alert("谢谢参与，活动已结束");
	</script>
    <link href="${rc.contextPath}/resources/style/jquery-ui.css" rel="stylesheet" />
	<style>
		.green{
    		background:green!important;
    		color:#fff;
		}
		.hui{
			background:gray!important;
			color:#fff;
		}
	</style>
</head>
<body>
    <section class="vbox">
        <header class="bg-dark dk header navbar navbar-fixed-top-xs js_template_top"></header>
        <section>
            <section class="hbox stretch">
                <aside class="bg-dark lter aside-md hidden-print js_template_left" id="nav"></aside>
				
                 <section id="content">
                    <section class="vbox">
	                    <section class="panel panel-default scrollable">
	                        <header class="panel-heading bg-light">
	                            <ul class="nav nav-tabs nav-justified">
	                                <li class="active"><a data-toggle="tab" href="#commentsTab">评论管理</a></li>
	                                <li><a data-toggle="tab" href="#worksTab">作品管理</a></li>
	                                <li><a data-toggle="tab" href="#worksShowTab">作品概览</a></li>
	                            </ul>
	                        </header>
	                        <div class="panel-body">
	                            <div class="tab-content">
	                                <div id="commentsTab" class="tab-pane active">
	                                    <section class="panel panel-default">
			                                <div class="table-responsive" id="commentTable">
			                                </div>
			                            </section>
	                                </div>
	                                <div id="worksTab" class="tab-pane">
	                                    <section class="panel panel-default">
	                                        <div class="alert alert-success">
	                                            <strong>参赛账号总计：${attendAccountCount}</strong><br>
	                                            <Strong>投票账号总计：${voteAccountCount}</Strong>
	                                        </div>
	                                        <header class="header bg-white b-b clearfix">
					                            <div class="row m-t-sm" id="searchWorkBar">
					                                <div class="col-sm-3 m-b-xs">
					                                    <div class="input-group">
					                                        <input type="text" class="input-sm form-control searchWorkAccount" placeholder="账号">
					                                    </div>
					                                </div>
					                                <div class="col-sm-3 m-b-xs">
					                                    <div class="input-group">
					                                        <input type="text" class="input-sm form-control searchWorkCode" placeholder="编码">
					                                    </div>
					                                </div>
					                                <span class="col-sm-3 m-b-xs">
					                                    <button class="btn btn-sm btn-default searchWorkBtn" type="button">搜索</button>
					                                </span>
					                            </div>
					                        </header>
			                                <div class="table-responsive" id="worksTable">
			                                </div>
			                            </section>
	                                </div>
	                                <div id="worksShowTab" class="tab-pane">
	                                    <section class="panel panel-default">
	                                        <div class="alert alert-success">
	                                            <strong>制作作品总计：${createdWorkCount}</strong> &nbsp;&nbsp;&nbsp;&nbsp;
	                                            <input type="text" id="recreateCode"/> <input value="重新生成图片" type="button" id="recreateBtn"/>
	                                            <span>此功能并非绝对有效！</span><br>
	                                        </div>
	                                        <div class="table-responsive">
	                                            <div class="row"  id="worksShowTable"></div>
    										    <div class="center-block pull-right">
	        										<a class="btn btn-info pull-right" id="showMorePics" href="javascript:void(0)">More</a>
    										    </div>
			                                </div>
	                                    </section>
	                                </div>
	                            </div>
	                        </div>
	                    </section>
                    </section>
                </section>
            </section>
        </section>
    </section>
<script id="commentTemplate" type="x-tmpl-mustache">
    <table class="table table-striped m-b-none">
        <thead>
            <tr>
                <th width="20">
                    <input type="checkbox"></th>
                <th>评论内容</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            {{#list}}
            <tr>
                <td>
                    <input type="checkbox" value="{{code}}" name="post[]"></td>
                <td>{{&content}}</td>
                <td>{{&status}}</td>
                <td>{{&action}}</td>
            </tr>
            {{/list}}
        </tbody>
    </table>
    <div class="row dataTables_wrapper">
        <div class="col-sm-6">
            <div class="dataTables_info" id="DataTables_Table_0_info">共{{totalCount}}条 第{{currentPage}}/{{totalPage}}页</div>
        </div>
        <div class="col-sm-6">
            {{&pagerInfo}}
        </div>
    </div>
</script> 
<script id="worksTemplate" type="x-tmpl-mustache">
    <table class="table table-striped m-b-none">
        <thead>
            <tr>
                <th>参赛编号</th>
                <th>账号</th>
                <th>区组</th>
                <th>上传时间</th>
                <th>参赛作品</th>
                <th>票数</th>
                <th>排名</th>
            </tr>
        </thead>
        <tbody>
            {{#list}}
            <tr>
                <td>{{code}}</td>
                <td>{{account}}</td>
                <td>{{serverName}}</td>
                <td>{{createTimeStr}}</td>
                <td><a href="javascript:void(0)" class="showBigImageBtn" data-code="{{code}}" data-image="{{workAddress}}"><img src="{{workAddress}}" width="50" /></a></td>
                <td>{{voteSum}}</td>
                <td>{{level}}</td>
            </tr>
            {{/list}}
        </tbody>
    </table>
    <div class="row dataTables_wrapper">
        <div class="col-sm-6">
            <div class="dataTables_info" id="DataTables_Table_0_info">共{{totalCount}}条 第{{currentPage}}/{{totalPage}}页</div>
        </div>
        <div class="col-sm-6">
            {{&pagerInfo}}
        </div>
    </div>
</script>
<script id="worksShowTemplate" type="x-tmpl-mustache">
        {{#list}}
            <div class="col-sm-2" style="border-color:#aaa;border-width:1px;border-radius:5px;">
                <img class="img-responsive center-block showBigImageBtn" data-code="{{code}}" data-image="{{workAddress}}" title="编码：{{code}}" src="{{workAddress}}"  style="height:130px;"/>
            </div>
        {{/list}}
</script>
<div class="modal fade" id="showBigImage">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title workCode"></h4>
            </div>
            <p class="js_Message text-center text-danger m-t-sm m-b-none"></p>
            <div class="modal-body pull-center">
                <image class="workImage center-block"/>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default close_js_Msg" data-dismiss="modal">确定</button>
            </div>
        </div>
    </div>
</div> 
<script>
$(function(){
	var pageIndex = 1,pageSize = 10,
	    commentTemplate = $('#commentTemplate').html();
		Mustache.parse(commentTemplate);
	function getCommentData(pageIndex){
		$.get("${rc.contextPath}/tenyearcolorful/getcomments",{pageSize:pageSize,pageIndex:pageIndex,time:Math.random()},function(data){
		   $("#commentTable").html(Mustache.render(commentTemplate,dataDealer(data)));
		},'json');
	}
	// init
	getCommentData(pageIndex);
	function dataDealer(data){
	     // 状态
	     var list = data.list,comm ,status,action; 
	     for(var i = 0 ; i < list.length ; i++){
	         comm = list[i];
	         switch(comm.status){
	             case 1:
	                 status = '<span style="color:#aaa;">未审核</span>';
	                 action = '<a title="审核通过" data-original-title="" class="btn btn-xs btn-success checkPass" data-desc="" data-appcode="'+comm.code+'" href="#EditRole" data-title="编辑" data-toggle="tooltip">'+
	                          '<i class="fa fa-edit"></i>'+
	                          '</a> '+
	                          '<a title="删除" data-original-title="" class="btn btn-xs btn-danger checkFail" data-appcode="'+comm.code+'" href="javascript:void(0)" data-title="删除" data-toggle="tooltip">'+
	                          '<i class="fa fa-minus-square"></i>'+
	                          '</a> ';
	                 break;
	             case 2:
	                 status = '<span style="color:green;">已审核</span>';
	                 action = '<a title="删除" data-original-title="" class="btn btn-xs btn-danger checkFail" data-appcode="'+comm.code+'" href="javascript:void(0)" data-title="删除" data-toggle="tooltip">'+
	                          '<i class="fa fa-minus-square"></i>'+
	                          '</a> ';
	                 break;
	             case 3:
	                 status = '<span>已删除</span>';
	                 action = "";
	                 break;
	         }
	         list[i] = {
	             'code': comm.code,
	             'content':comm.content,
	             'status':status,
	             'action' : action
	         };
	     }
	     data.list = list;
	     // 分页
	     data.pagerInfo = pagerHandler(data);
	     return data;
	}
	function pagerHandler(pageInfo){
	    var pagerStr = '<div class="dataTables_paginate paging_full_numbers" id="commentPagerBar">';
	        pagerStr += '<a class="pagerNav first paginate_button '+(pageInfo.currentPage > 1?"":"paginate_button_disabled")+'" tabindex="1" id="DataTables_Table_0_first">首页</a>';
	        pagerStr += '<a class="pagerNav previous paginate_button '+(pageInfo.currentPage > 1?"":"paginate_button_disabled")+'" tabindex="'+(pageInfo.currentPage-1)+'" id="DataTables_Table_0_previous">上一页</a>';
	        pagerStr += '<span>';
	        for(var i =0 ; i < pageInfo.totalPage; i++){
	            if(pageInfo.currentPage == (i+1)){
	                pagerStr += '<a class="pagerNav paginate_active paginate_button_disabled" tabindex="'+(i+1)+'">'+(i+1)+'</a>'
	            }else{
	                pagerStr += '<a class="pagerNav paginate_button" tabindex="'+(i+1)+'">'+(i+1)+'</a>'
	            }
	        }
	        pagerStr += '</span>';
	        pagerStr +='<a class="pagerNav next paginate_button '+(pageInfo.currentPage  == pageInfo.totalPage?"paginate_button_disabled":"")+'" tabindex="'+(pageInfo.currentPage+1)+'" id="DataTables_Table_0_next">下一页</a>';
	        pagerStr +='<a class="pagerNav last paginate_button '+(pageInfo.currentPage == pageInfo.totalPage?"paginate_button_disabled":"")+'" tabindex="0" id="DataTables_Table_0_last">末页</a>';
	        pagerStr +='</div>';
	    
	    return pagerStr;
	}
	// 分页
	$('#commentTable').on('click',function(event){
	    var _this = event.target; 
	    if($(_this).hasClass("pagerNav")){
	        if($(_this).hasClass("paginate_button_disabled"))return false;
	        pageIndex = $(_this).attr("tabindex");
		    getCommentData(pageIndex);
	    }else if($(_this).closest("a").hasClass("checkPass")){
	    // 判断是否有id
	        checkComment($(_this).closest("a").data('appcode'),2);
	    }else if($(_this).closest("a").hasClass("checkFail")){
	        checkComment($(_this).closest("a").data('appcode'),3);
	    }
	    return false;
	});
	function checkComment(ids,status){
	   $.get("${rc.contextPath}/tenyearcolorful/updateComment",{"commentlist[]":ids,"status":status,time:Math.random()},function(data){
		   console.log(data);
		   getCommentData(pageIndex);
		},'json');
	}
	
});
// 作品
$(function(){
	var pageIndex = 1,pageSize = 10,
	    worksTemplate = $('#worksTemplate').html();
		Mustache.parse(worksTemplate);
	function getWorksData(pageIndex){
		$.get("${rc.contextPath}/tenyearcolorful/getworksattends",{pageSize:pageSize,pageIndex:pageIndex,time:Math.random()},function(data){
		   $("#worksTable").html(Mustache.render(worksTemplate,dataDealer(data)));
		},'json');
	}
	// init
	getWorksData(pageIndex);
	function dataDealer(data){
	     // 状态
	     for(var i = 0 ; i < data.list.length ; i++){
	         data.list[i]['level'] = i+1+pageSize*(pageIndex-1);
	     }
	     // 分页
	     data.pagerInfo = pagerHandler(data);
	     return data;
	}
	function pagerHandler(pageInfo){
	    var pagerStr = '<div class="dataTables_paginate paging_full_numbers" id="commentPagerBar">';
	        pagerStr += '<a class="pagerNav first paginate_button '+(pageInfo.currentPage > 1?"":"paginate_button_disabled")+'" tabindex="1" id="DataTables_Table_0_first">首页</a>';
	        pagerStr += '<a class="pagerNav previous paginate_button '+(pageInfo.currentPage > 1?"":"paginate_button_disabled")+'" tabindex="'+(pageInfo.currentPage-1)+'" id="DataTables_Table_0_previous">上一页</a>';
	        pagerStr += '<span>';
	        for(var i =0 ; i < pageInfo.totalPage; i++){
	            if(pageInfo.currentPage == (i+1)){
	                pagerStr += '<a class="pagerNav paginate_active paginate_button_disabled" tabindex="'+(i+1)+'">'+(i+1)+'</a>'
	            }else{
	                pagerStr += '<a class="pagerNav paginate_button" tabindex="'+(i+1)+'">'+(i+1)+'</a>'
	            }
	        }
	        pagerStr += '</span>';
	        pagerStr +='<a class="pagerNav next paginate_button '+(pageInfo.currentPage  == pageInfo.totalPage?"paginate_button_disabled":"")+'" tabindex="'+(pageInfo.currentPage+1)+'" id="DataTables_Table_0_next">下一页</a>';
	        pagerStr +='<a class="pagerNav last paginate_button '+(pageInfo.currentPage == pageInfo.totalPage?"paginate_button_disabled":"")+'" tabindex="0" id="DataTables_Table_0_last">末页</a>';
	        pagerStr +='</div>';
	    
	    return pagerStr;
	}
	// 分页
	$('#worksTable').on('click',function(event){
	    var _this = event.target; 
	    if($(_this).hasClass("pagerNav")){
	        if($(_this).hasClass("paginate_button_disabled"))return false;
	        pageIndex = $(_this).attr("tabindex");
		    getWorksData(pageIndex);
	    }else if($(_this).closest("a").hasClass("showBigImageBtn")){
	    	var _this = $(_this).closest("a");
	        $("#showBigImage .workCode").text("编码："+$(_this).data("code"));
	        $("#showBigImage .workImage").attr("src",$(_this).data("image"));
	        $("#showBigImage").modal();
	    }
	    return false;
	});
	// 搜索
	$("#searchWorkBar").click(function(event){
	    var _this = $(event.target);
	    
        if($(_this).hasClass("searchWorkBtn")){
	        var account = $("#searchWorkBar .searchWorkAccount").val(),
	        code = $("#searchWorkBar .searchWorkCode").val();
		    if(!account && !code){
		       getWorksData(1);
		       return false;
		    }
            $.get("${rc.contextPath}/tenyearcolorful/searchworks",{account:account,code:code},function(data){
                $("#worksTable").html(Mustache.render(worksTemplate,dataDealer(data)));
            });
        }	
	});
	
});

// browse pics
$(function(){
    $("#recreateBtn").click(function(){
        var vcode = $("#recreateCode").val();
        if(!vcode){
           alert("不能为空");
           return false;
        }
        $.get("${rc.contextPath}/tenyearcolorful/exportpic",{"code":vcode},function(data){
            if(data.isSuccess){
                alert(data.message);
            }else{
                alert(data.message);
            }
        },"json");
    });
	var pageIndex = 1,pageSize = 10,
    	worksShowTemplate = $('#worksShowTemplate').html();
    function showPics(ipageIndex){
		$.get("${rc.contextPath}/tenyearcolorful/getallworks",{pageSize:pageSize,pageIndex:ipageIndex,time:Math.random()},function(data){
		   if(data.list.length == 0){
		       alert("没有更多作品");
		   }
		   $("#worksShowTable").append(Mustache.render(worksShowTemplate,data));
		},'json');
		pageIndex  =ipageIndex+1;
    }
    showPics(1);
    $("#showMorePics").click(function(){
        showPics(pageIndex);
    });
    $("#worksShowTable").on('click',function(event){
    	var _this = $(event.target);
        if($(_this).hasClass("showBigImageBtn")){
	        $("#showBigImage .workCode").text("编码："+$(_this).data("code"));
	        $("#showBigImage .workImage").attr("src",$(_this).data("image"));
	        $("#showBigImage").modal();
	    }
    });
});
</script>    
</body>
</html>