<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">

<html>
<head>
    <meta property="wb:webmaster" content="0d3c26a55e5caddf" />
	<title>光宇游戏活动站点</title>
	<style>
		table{
			width:600px;
			margin:10px auto;
			border:1px solid #ddd;
			border-collapse: collapse;
		}
		.td01{
			border:1px solid #ddd;
			height:50px;
			width:30%;
			text-align:right;
			padding:0 10px;
		}
		.td02{
			border:1px solid #ddd;
			height:50px;
			width:70%;
			text-align:left;
			padding:0 10px;
		}
	</style>
</head>

<body>
#if($!{CurrentVersion})
	<p style="width:600px;text-align:center;margin:50px auto;font-size:30px;">光宇游戏</p>
	
	<table>
		<tr>
			<td class="td01">IP地址</td>
			<td class="td02">$!{IP}</td>
		</tr>
		<tr>
			<td class="td01">Memcache缓存版本</td>
			<td class="td02">$!{CurrentVersion}</td>
		</tr>
		<tr>
			<td class="td01">最后修改时间</td>
			<td class="td02">$!{LastModifyTime}</td>
		</tr>
	</table>
#else
	光宇游戏
#end


<script src="http://www.gyyx.cn/inc/gyyx_statistics.js" type="text/javascript"></script>
<script src="http://s.gyyx.cn/WebGame/PageStat.js" type="text/javascript"></script><!--统计代码 -->
<input type="hidden"  value="hahaha">
</body>
</html>
