<!DOCTYPE html>
<html class="app">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>黑名单显示</title>
    <link href="${rc.contextPath}/resources/style/projectStyle.css" rel="stylesheet" />
    <link href="${rc.contextPath}/resources/style/main.css" rel="stylesheet"/>
    <script src="http://oa.gyyx.cn/Script/js/jquery.min.js"></script>
    <script src="http://oa.gyyx.cn/Script/app.v2.js"></script>
    <script src="http://oa.gyyx.cn/Script/js/jquery.validate.js"></script>
    <script src="http://oa.gyyx.cn/Script/js/alertMsg.js"></script>
    <script src="http://oa.gyyx.cn/Script/js/jquery.functions.js"></script>
    <script src="http://oa.gyyx.cn/Script/js/getUserInfo.js"></script>
    <script src="http://oa.gyyx.cn/Script/js/te_data.js"></script>
    <script src="${rc.contextPath}/resources/script/jquery-ui.dialog.min.js"></script>
    <!-- <script src="http://static.cn114.cn/action/wdinsurance/js/My97DatePicker/WdatePicker.js"></script> -->
    <script src="${rc.contextPath}/resources/script/My97DatePicker/WdatePicker.js"></script>
    <script type="text/javascript" charset="utf-8">
        document.write(teheadstr);
    </script>
    <script type="text/javascript">
	function goBack(){
	var redirectUrl = $("#js_redirectUrl").val();
	window.location.href=redirectUrl;
}
    </script>
    <link href="/memo/resources/style/jquery-ui.css" rel="stylesheet" />
</head>
<body>
    <section class="vbox">
        <header class="bg-dark dk header navbar navbar-fixed-top-xs js_template_top"></header>
        <section>
            <section class="hbox stretch">
                <aside class="bg-dark lter aside-md hidden-print js_template_left" id="nav"></aside>
                <section id="content">
                    <section class="vbox js_template_right">
                        <!--顶部标题导航 begin-->
                        <header class="header bg-white b-b clearfix">
                            <div class=" m-b-xs m-t-sm" style="text-align: center;">
                            </div>
        </header>
                        <!--顶部标题导航 end-->

        <!--主体内容 begin-->
        <section class="scrollable padder">
            <div class="m-b-md">
            </div>
            <!--数据表格  begin -->
            <div style="padding: 15px;">
				<div class="block" style=" padding: 15px; font-size: 18px; background-color: #fff;">
					<i class="fa fa-bars icon-muted"></i>&nbsp;
					<small >黑名单显示</small>
					<span style="position: absolute;right: 150px; font-size: 12px;">
					</span>
				</div>
            </div>
            <section class="panel panel-default">
                                <div class="table-responsive">
                                    <table class="table table-striped m-b-none">
                                        <thead>
                                            <tr>
                                                <th>订单号</th>
                                                <th>姓名</th>
                                                <th>手机号</th>
                                                <th>账号</th>
                                                <th>登录IP</th>
                                            </tr>
                                        </thead>
                                        <tbody>
											#foreach($!blackBean in $!blackList)
												<tr>
                                                <td>$!blackBean.orderCode</td>
                                                <td>$!blackBean.name</td>
                                                <td>$!blackBean.phone</td>
                                                <td>$!blackBean.account</td>
                                                <td>$!blackBean.ip</td>
                                            </tr>
											#end
                                            
                                        </tbody>
                                    </table>

                                </div>
                            </section>
    		<!--数据表格  end -->
         </section>
            <!--主体内容 end-->
		<footer class="footer bg-white b-t" id="testDomainFooter"><div class="row dataTables_wrapper">
			<div class="col-sm-6">
    			<span class="dataTables_info">共 $!count 页</span>
    			<span class="dataTables_info" id="nowPageSpan"></span>
    		</div>
    		<div class="col-sm-6">
       			 <div id="DataTables_Table_0_paginate" class="dataTables_paginate paging_full_numbers">
        			<a style="color: rgb(99, 99, 99);" value="首页" tabindex="0" class="first paginate_button paginate_button_disabled" disabled="disabled" href="blackListPage?pageNum=1">首页</a>
					#set($pageLast=$pageNum - 1)
        			<a id="LastPage" style="color: rgb(99, 99, 99);" value="上一页" tabindex="0" class="previous paginate_button paginate_button_disabled" disabled="disabled" href="blackListPage?pageNum=$pageLast">上一页</a>
        			<span>
						#foreach($page in [1..$!count])
							<a style="color:#000033" value='$page' tabindex="0" class="paginate_active" href="blackListPage?pageNum=$page">$page</a>
						#end
        		    </span>
					#set($pageNext=$pageNum+1)
        			<a id="NextPage" style="color:#000033" value="下一页" tabindex="0" class="next paginate_button" href="blackListPage?pageNum=$pageNext">下一页</a>
        			<a style="color:#000033" value="末页" tabindex="0" class="last paginate_button" href="blackListPage?pageNum=$count">末页</a>
        		</div>
    		</div>
		</footer>
			
                    </section>
                </section>
            </section>
        </section>
    </section>
    
    <!--添加网络组件弹层 begin-->
    <div id="addPop">
        <div class="row">
            <div class="col-sm-3 text-right m-t-xs">所属项目集</div>
            <div class="col-sm-6">
                <select class="form-control">
                    <option>请选择项目集</option>
                    <option>项目集1</option>
                </select>
            </div>
            <div class="col-sm-1">
                <span class="required">*</span>
            </div>
        </div>
        <div class="row m-t">
            <div class="col-sm-3 text-right m-t-xs">所属项目</div>
            <div class="col-sm-6">
                <select class="form-control">
                    <option>请选择项目集</option>
                    <option>项目集1</option>
                </select>
            </div>
            <div class="col-sm-1">
                <span class="required">*</span>
            </div>
        </div>
        <div class="row m-t">
            <div class="col-sm-3 text-right m-t-xs">网络组件名称</div>
            <div class="col-sm-6">
                <input type="text" class="form-control" />
            </div>
            <div class="col-sm-1">
                <span class="required">*</span>
            </div>
        </div>
        <div class="row m-t">
            <div class="col-sm-3 text-right m-t-xs">说明</div>
            <div class="col-sm-8">
                <textarea cols="30" rows="2" class="form-control"></textarea>
            </div>
            <div class="col-sm-1">
                <span class="required">*</span>
            </div>
        </div>
    </div>
    <!--添加网络组件弹层 begin-->

    <!--编辑网络组件弹层 begin-->
    <div id="editPop">
        <div class="row">
            <div class="col-sm-3 text-right m-t-xs">所属项目集</div>
            <div class="col-sm-6">
                <select class="form-control">
                    <option>请选择项目集</option>
                    <option>项目集1</option>
                </select>
            </div>
            <div class="col-sm-1">
                <span class="required">*</span>
            </div>
        </div>
        <div class="row m-t">
            <div class="col-sm-3 text-right m-t-xs">所属项目</div>
            <div class="col-sm-6">
                <select class="form-control">
                    <option>请选择项目集</option>
                    <option>项目集1</option>
                </select>
            </div>
            <div class="col-sm-1">
                <span class="required">*</span>
            </div>
        </div>
        <div class="row m-t">
            <div class="col-sm-3 text-right m-t-xs">网络组件名称</div>
            <div class="col-sm-6">
                <input type="text" class="form-control" />
            </div>
            <div class="col-sm-1">
                <span class="required">*</span>
            </div>
        </div>
        <div class="row m-t">
            <div class="col-sm-3 text-right m-t-xs">说明</div>
            <div class="col-sm-8">
                <textarea cols="30" rows="2" class="form-control"></textarea>
            </div>
        </div>
    </div>
    <!--编辑网络组件弹层 end-->
	<!-- 分页防止页码溢出 -->
	<script >
		$(function(){
    		
    		if($pageNum<=1){
    			$("#LastPage").attr("href","");	
				$("#LastPage").click(function(){
    			alert("当前页已经是首页！"); return false;
    			})	
    		}
    		
			
			if($pageNum>=$count){
				$("#NextPage").attr("href",""); 
				$("#NextPage").click(function(){
					alert("当前页已经是末页！");return false;
				})		
			}
			
		})
    </script>

</body>
</html>