<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gyyx.action.dao.common.IActionCommonFormBean">
	<resultMap type="ActionCommonFormBean" id="ActionCommonFormBeanMapper">
		<id column="code" property="code" />
		<result column="action_code" property="actionCode" />
		<result column="account_code" property="accountCode" />
		<result column="json_str" property="jsonStr" />
	</resultMap>
	<insert id="insertActionCommonFormBean" useGeneratedKeys="true" keyProperty="code" parameterType="ActionCommonFormBean">
		insert into action_common_form
		(action_code,account_code,json_str)
		values
		(#{actionCode},#{accountCode},#{jsonStr})
	</insert>
	
	<select id="selectActionCommonFormBeanBycode" parameterType="int" resultMap="ActionCommonFormBeanMapper">
		select * from action_common_form
		where code = #{code}
	</select>
	<select id="selectActionCommonFormByActionCode" parameterType="int" resultMap="ActionCommonFormBeanMapper">
		select * from action_common_form
		where action_code = #{actionCode}
	</select>
	<select id="selectActionCommonFormByActionAndAccountCode" parameterType="int" resultMap="ActionCommonFormBeanMapper">
		select * from action_common_form
		where action_code = #{actionCode} and account_code = #{accountCode}
	</select>
	<update id="updateActionCommonFormBean" parameterType="ActionCommonFormBean">
		update action_common_form
		set
		action_code = #{actionCode},json_str = #{jsonStr}
		where
		code = #{code}
	</update>
	
	<delete id="deleteActionCommonFormBeanBycode" parameterType="int">
		delete from action_common_form
		where code = #{code}
	</delete>
	
	
</mapper>
