<?xml version="1.0"?>
<configuration>
	<system.web>
		<compilation debug="true" />
		<httpRuntime maxRequestLength="102400 "/>
		<pages validateRequest="false"></pages>
        <globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" culture="zh-CN"/>
	</system.web>
  <appSettings>
    <add key="UploadUrl" value="http://interface.up.gyyx.cn/Image/WebSiteSaveToReal.ashx?group=wd1"/>
    <add key="width" value="200"/>
    <add key="height" value="200"/>
  </appSettings>
</configuration>
