<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    
    <title>问道-无限火力 重磅出击</title>
	   <script  type="text/javascript">
	 var rc="${rc.contextPath}";
	 </script>
    <link href="http://static.cn114.cn/action/wdFire/css/wxdl.css" rel="stylesheet" type="text/css">
    <script src="http://s.gyyx.cn/Lib/jquery.js" type="text/javascript"></script>
    <script src="http://s.gyyx.cn/WebGame/PageStat.js" type="text/javascript"></script>
    <!--统计代码 -->
    <script src="http://s.gyyx.cn/publictop/jquery.publictop.js?webname=wendao" type="text/javascript"></script>
    <script src="http://static.cn114.cn/action/wdFire/js/upload/swfupload.js"></script>
    <script src="http://static.cn114.cn/action/wdFire/js/upload/Handlers.js"></script>
    <script src="http://static.cn114.cn/action/wdFire/js/share.js" type="text/javascript"></script>
    <script src="http://static.cn114.cn/action/wdFire/js/fire.js" type="text/javascript"></script>
	<!--[if IE 6]><script src="http://static.cn114.cn/action/wdFire/js/DD_belatedPNG.js"></script><![endif]--> 
    <script>
    	alert("谢谢参与，活动已结束");
       
    </script>
</head>

<body>
    <div class="public_nav_top">
        <script type="text/javascript">Showtop(true);</script>
    </div>
    <div class="subwrap">
        <div class="main">
            <div class="nav"><a href="http://wd.gyyx.cn/index_wd_v5.htm" target="_blank">进入官网</a>|<a href="http://pay.gyyx.cn/" target="_blank">充值中心</a>|<a href="http://account.gyyx.cn/Member/Register" target="_blank">账号注册</a>|<a href="http://wd.gyyx.cn/download/" target="_blank">下载中心</a></div>
            <div class="datediv">活动时间：2015年4月23日-2015年5月5日</div>
            <div class="qdbtn">
                <p class="p01">签到</p>
                <p class="p02">点击此处人品值+2哟</p>
            </div>
            <div id="login" class="logintxt">
                <!--您尚未登录，请 <a href="javascript:;">登录</a>-->
            </div>
            <div class="wylg">
                <h3 class="title">我要来“搞”</h3>
                <div class="con">
                    <ul class="wylgTit">
                        <li alt="0" class="on">图文</li>
                        <li alt="1">视频</li>
                    </ul>
                    <div class="js_wylgTit">
                        <!--图文-->
                        <div class="wyform">
                            <div class="titdiv">
                                <label>标题:</label>
                                <input id="tuwen_title" type="text" class="intxt" name="tuwen_title" />
                                <span class="tip">提示：必填项，标题限制30个字</span>
                                <span class="error"></span>
                            </div>
                            <div class="titdiv" style="height: 60px;">
                                <label>内容:</label>
                                <textarea rows="3" id="tuwen_con" class="intext" name="tuwen_con"></textarea>
                                <span class="tip">提示：必填项，内容限制200个字</span>
                                <span class="error" style="top: 60px;"></span>
                            </div>
                            <div class="titdiv">
                                <label>上传图片:</label>
                                <span style="float: left;">
                                    <input type="button" id="btnUpload" class="upload" value="上传封面图片" />
                                    <input type="hidden" id="hid_addImgUrl" name="Picture" value="" />
                                    <input type="hidden" id="hid_addthumbImgUrl" name="PictureSmall" value="" />
                                </span>
                                <span class="tip">提示：只能上传一张图片</span>
                                <span class="error up_error"></span>
                            </div>
                            <div class="titdiv" style="height: 130px;">
                                <label>&nbsp;</label><img  width="128" height="128"  src="http://static.cn114.cn/action/wdFire/js/upload/testimg01.jpg" id="addImg" class="titleimgs_add">
                            </div>
                            <div class="titdiv">
                                <label>验证码:</label>
                                <input id="tuwen_yzm" type="text" class="inyzm" />
                                <img style="cursor: pointer" width="100" height="30" id="tuwen_yzm_pic" title="点击刷新" src="http://static.cn114.cn/action/wdFire/images/yzm.png" />
                                <span class="error "></span>
                            </div>
                            <div class="btndiv">
                                <label>&nbsp;</label>
                                <input id="tuwen_sub" type="button" class="btn" value="发表" />
                            </div>
                        </div>
                        <!--图文-->
                        <!--视频-->
                        <div class="wyform" style="display: none;">
                            <div class="titdiv">
                                <label class="">标题:</label><input id="video_title" type="text" class="intxt" /><span class="tip">提示：必填项，标题限制30个字</span><span class="error"></span>
                            </div>
                            <div class="titdiv">
                                <label>视频地址:</label><input id="video_url" type="text" class="intxt" /><span class="tip">提示：必填项，地址长度限制300个字符</span><span class="error"></span>
                            </div>
                            <div class="titdiv">
                                <label>验证码:</label>
                                <input id="video_yzm" type="text" class="inyzm" />
                                <img style="cursor: pointer" width="100" height="30" id="video_yzm_pic" title="点击刷新" src="http://static.cn114.cn/action/wdFire/images/yzm.png" />
                                <span class="error"></span>
                            </div>
                            <div class="btndiv">
                                <label>&nbsp;</label>
                                <input id="video_sub" type="button" class="btn" value="发表" />
                            </div>
                            <div class="line"></div>
                            <div class="wytit">温馨提示</div>
                            <div class="wytxt">
                                问道海外版在过去的几年里，让身处世界各地的海外华人朋友们拥有了一个好的交流平台，我们海外运营团队将秉承海外版良好的服务，继续打造有特色的问道海外版，并不断为全世界的海外华人朋友们带来更多的快乐，希望大家能继续的支持问道海外版问道海外版在过去的几年里，让身处世界各地的海外华人朋友们拥有了一个好的交流平台，我们海外运营团队将秉承海外版良好的服务，继续打造有特色的问道海外版，并不断为全世界的海外华人朋友们带来更多的快乐，希望大家能继续的支持问道海外版问道海外版在过去的几年里，让身处世界各地的海外华人朋友们拥有了一个好的交流平台，我们海外运营团队将秉承海外版良好的服务，继续打造有特色的问道海外版，并不断为全世界的海外华人朋友们带来更多的快乐，希望大家能继续的支持问道海外版问道海外版在过去的几年里，让身处世界各地的海外华人朋友们拥有了一个好的交流平台，我们海外运营团队将秉承海外版良好的服务，继续打造有特色的问道海外版，并不断为全世界的海外华人朋友们带来更多的快乐，希望大家能继续的支持问道海外版
                            </div>
                        </div>
                        <!--视频-->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="pfmenu">
        <ul>
            <li><a  class="pngFix" href="${rc.contextPath}/wdfire/index">活动<br>
                首页</a></li>
            <li><a   class="pngFix" href="${rc.contextPath}/wdfire/rule">活动<br>
                规则</a></li>
            <li><a  class="pngFix" href="${rc.contextPath}/wdfire/manifestolist">宣言<br>
                列表</a></li>
				<li class="on "><a class="pngFix"  href="${rc.contextPath}/wdfire/contribute">我要<p>来“搞”</p>
            </a></li>
            <li><a class="last pngFix" href="${rc.contextPath}/wdfire/lottery">签到<br>
                抽奖</a></li>
        </ul>
    </div>

    <div class="pfbox pngFix">
        <div class="link">
            <a title="分享到新浪微博" href="javascript:void(0);" class="a01 sina xinlang">新浪</a>
            <a title="分享到QQ空间" href="javascript:void(0)" class="a02 qqzone Qzone">空间</a>
        </div>
        <div style="display: none" class="txt" id="fenxiang"> 《问道》九周年广撒豪礼，无限火力重磅出击，灵符天降助你功成名就</div>
        <div class="pftxt">
            <p>活动客服QQ</p>
            <p>12345555</p>
            <p>7582232232</p>
        </div>
    </div>
    <!--弹出框 s-->
    <div class="tcbox js_commonPop" style="display: none;">
        <div id="pop_con" class="pop_con">
            <a class="close js_popclose" href="javascript:;"></a>
            <div class="tctit"></div>
            <div class="tccon">
                <p class="p01 js_popTip "></p>
                <p class="p02 js_popContent">
                    <input type="button" value="确定" class="tjbtn" />
                </p>
            </div>
        </div>
        <div class="pop_mask"></div>
    </div>
    <!--弹出框 e-->

    <div class="public_nav_bottom">
        <script type="text/javascript">ShowBottom();</script>
    </div>
    <script type="text/javascript" src="http://static.cn114.cn/action/wdFire/js/ymcore.min.js"></script>
    <script type="text/javascript">
        YM.UI.Sidebar({ container: 'div.pfmenu', closeBtn: '.close', offTop: 100 });
        YM.UI.Sidebar({ container: 'div.pfbox', closeBtn: '.close', offTop: 100 });
    </script>


</body>
</html>
