<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>问道1.60门派招生活动</title>
    <link rel="stylesheet" type="text/css" href="http://static.cn114.cn/action/wdwxwebsite/css/swiper.css"/>
    <link rel="stylesheet" type="text/css" href="http://static.cn114.cn/action/wdwxwebsite/css/nologinsingup.css"/>
    <script type="text/javascript" src="http://s.gyyx.cn/common/Statistics/gyyx_statistics.js"></script> <!--光宇统计-->
    
    <script  type="text/javascript">
		var rc="${rc.contextPath}";
	</script>
	<script>
	var _hmt = _hmt || [];
	(function() {
	  var hm = document.createElement("script");
	  hm.src = "//hm.baidu.com/hm.js?4d78a5ee01f5eefa6b21b930876947b2";
	  var s = document.getElementsByTagName("script")[0]; 
	  s.parentNode.insertBefore(hm, s);
	})();
	</script>
</head>
<body>
	<div id="logo">
		<img src="http://static.cn114.cn/action/wdwxwebsite/img/logo.jpg" />
		<h1>活动时间：<span>9月13日12:00-10月7日23:59</span></h1>
	</div>
	<div id="main2">
		<p class="title"><a href="#" class="on">金</a><a href="#">木</a><a href="#">水</a><a href="#">火</a><a href="#">土</a></p>
		<div id="showinfo">
			<div class="swiper-container">
		        <div class="swiper-wrapper">
		            
		        </div>
		   </div>
		</div>
		<h1 class="font1">玩家评论</h1>
		<h2 class="font2"><a href="javascript:;" id="js_writecomment">写评论</a></h2>
		<div id="coment">
		</div>
	</div>
	<div id="footer">
		<a href="javascript:;" id="signup">
			<img src="http://static.cn114.cn/action/wdwxwebsite/img/img1.jpg" />
			<b>报名</b>
		</a>
		<a href="javascript:;" class="on" id="show">
			<img src="http://static.cn114.cn/action/wdwxwebsite/img/img2on.jpg" />
			<b>展示</b>
		</a>
		<a href="javascript:;" id="lottery">
			<img src="http://static.cn114.cn/action/wdwxwebsite/img/img3.jpg" />
			<b>抽奖</b>
		</a>
		<a href="javascript:;" id="rule">
			<img src="http://static.cn114.cn/action/wdwxwebsite/img/img4.jpg" />
			<b>规则</b>
		</a>
	</div>
</body>
<script src="http://static.cn114.cn/action/wdwxwebsite/js/jquery-1.8.2.min.js"></script>
<script type="text/javascript" src="http://static.cn114.cn/action/wdwxwebsite/js/gyyx_wxshare.min.js" ></script>
<script type="text/javascript" src="http://static.cn114.cn/action/wdwxwebsite/js/swiper.js" ></script>
<script type="text/javascript" src="http://static.cn114.cn/action/wdwxwebsite/js/commentshowpage.js" ></script>
<script type="text/javascript" src="http://static.cn114.cn/action/wdwxwebsite/js/pubfx.js" ></script>
