<!DOCTYPE html>
<html class="app">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="author" content="Layout:luochongfei" />
    <title>主页</title>
    <link href="/action-oa/resources/style/projectStyle.css" rel="stylesheet" />
    <script src="http://oa.gyyx.cn/Script/js/jquery.min.js"></script>
    <script src="http://oa.gyyx.cn/Script/app.v2.js"></script>
    <script src="http://oa.gyyx.cn/Script/js/jquery.validate.js"></script>
    <script src="http://oa.gyyx.cn/Script/js/alertMsg.js"></script>
    <script src="http://oa.gyyx.cn/Script/js/jquery.functions.js"></script>
    <script src="http://oa.gyyx.cn/Script/js/getUserInfo.js"></script>
    <script src="http://oa.gyyx.cn/Script/js/te_data.js"></script>
    <script src="/action-oa/resources/script/jquery-ui.dialog.min.js"></script>
    <script type="text/javascript" charset="utf-8">
    	alert("活动已下线");
        document.write(teheadstr);
    </script>
    <script type="text/javascript" charset="utf-8">
    function goCheckDiscuss(){
        window.location.href='goCheckDiscuss';
    }
    function goCheckImg(){
        window.location.href='goCheckImg';
    }
    
    </script>
    <link href="/action-oa/resources/style/jquery-ui.css" rel="stylesheet" />
	<!-- ************************************************************* -->
	<script type="text/javascript" charset="utf-8">	
	
	
	//通过
		 function passDis( commentCode ) {
	   		var nowpageNew = document.getElementById("nowpageNew").value;
			$.ajax
			({
				type:"POST",
				url:"${rc.contextPath}/oachristmasLight/checkCommentSuccess/"+commentCode,
				data: {
					"commentCode":commentCode,
					"nowpageNew": nowpageNew,
				},
				success:function( data ) {
					alert("审核成功！")
					$("#tableTemp").html(data);
				}
			});	
	   	 }
	
		 
	//删除
		function cancelDis( commentCode ) {
	   		var nowpageNew = document.getElementById("nowpageNew").value;
			$.ajax
			({
				type:"POST",
				url:"${rc.contextPath}/oachristmasLight/checkCommentFail/"+commentCode,
				data: {
					"commentCode":commentCode,
					"nowpageNew": nowpageNew,
				},
				success:function( data ) {
					alert("删除成功！");
					$("#tableTemp").html(data);
				}
			});	
	   	 }
		 //头form跳转
		function topBut() {
			$.ajax
			({
				type:"POST",
				url:"${rc.contextPath}/oachristmasLight/checkDisInfo",
				data:$('#topForm').serialize(),
				success:function( data ) {
					$("#tableTemp").html(data);
				}
			
			});
		
		
		}
		
		//页码跳转
		function pageJump( nowPage ) {
			$.ajax 
			({
				type:"POST",
				url:"${rc.contextPath}/oachristmasLight/checkDisInfo1/"+ nowPage,
				data:{
				},
				success:function(data){
					$("#tableTemp").html(data);
				}
			});
		
		}
		//尾页跳转
		function lastPage() {
			var nowPage = document.getElementById("sumPageNum").value;
			$.ajax 
			({
				type:"POST",
				url:"${rc.contextPath}/oachristmasLight/checkDisInfo1/"+ nowPage,
				data:{
				},
				success:function(data){
					$("#tableTemp").html(data);
				}
			});
		}
		//首页跳转
		function homePage() {
			$.ajax 
			({
				type:"POST",
				url:"${rc.contextPath}/oachristmasLight/checkDisInfo1/"+ "1",
				data:{
				},
				success:function(data){
					$("#tableTemp").html(data);
				}
			});
		}
    </script>
	
	<!-- ************************************************************* -->
</head>
<body>
    <section class="vbox">
        <header class="bg-dark dk header navbar navbar-fixed-top-xs js_template_top"></header>
        <section>
            <section class="hbox stretch">
                <aside class="bg-dark lter aside-md hidden-print js_template_left" id="nav"></aside>
                <section id="content">
                    <section class="vbox js_template_right">
                        <!--顶部标题导航 begin-->
                        <header class="header bg-white b-b clearfix">
                           
                        </header>
                        <!--顶部标题导航 end-->

                        <!--主体内容 begin-->
                        <section class="scrollable padder">
                            <div class="m-b-md"> </div>
                            <!--数据表格  begin -->
                            <section class="panel panel-default" id="tableTemp">
                               <div class="table-responsive" >
	<table class="table table-striped m-b-none">
		<form action="" method="post">
		<thead>
			<tr>
                <th>评论内容</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>

            
                 #foreach ( $!{li} in $!{listDis} ) 
                 <tr>
                     <td>$li.comment</td>
                     <td>$li.status</td>
                     <td>
						#if( $li.status.equals("checked") )
							<a class="btn btn-xs btn-info js_editRole" data-toggle="tooltip" data-title="通过审核" style="height:22px;width:58px"   onclick="cancelDis('${li.code}')" >删除</a>
						#elseif ( $li.status.equals("uncheck") )
							 <a class="btn btn-xs btn-info js_editRole" data-toggle="tooltip" data-title="通过审核" style="height:22px;width:40px"  title="" onclick="passDis('${li.code}')" >审核</a>
							 <a class="btn btn-xs btn-info js_editRole" data-toggle="tooltip" data-title="通过审核" style="height:22px;width:58px"   onclick="cancelDis('${li.code}')" >删除</a>
						#else
							 <a class="btn btn-xs btn-info js_editRole" data-toggle="tooltip" data-title="通过审核" style="height:22px;width:40px"  title="" onclick="passDis('${li.code}')" >审核</a>
							 <a class="btn btn-xs btn-info js_editRole" data-toggle="tooltip" data-title="通过审核" style="height:22px;width:58px"   onclick="cancelDis('${li.code}')" >删除</a>
						#end
                     </td>
                </tr>
                #end
            
        </tbody>
		</form>
     </table>
</div>
<div class="row dataTables_wrapper">
	<div class="col-sm-6">
		<div id="DataTables_Table_0_info" class="dataTables_info">共$!{sumDisNum}条</div>
			<input type="hidden" id="nowpageNew" name="nowpageNew" value="${nowpageNew}">
			<input type="hidden" id="sumPageNum" name="sumPageNum" value="${sumPageNum}">
        </div>
        <div class="col-sm-6">
            <div href="" id="DataTables_Table_0_paginate" class="dataTables_paginate paging_full_numbers">
                <a id="DataTables_Table_0_first" class="first paginate_button paginate_button_disabled" tabindex="0" onclick="homePage()" >首页</a>
                      #foreach( ${lip} in ${pageNum} )        
                           <span>
                                 <a  class="paginate_button" tabindex="0" onclick="pageJump('${lip}')" >${lip}</a>
                           </span> 
                      #end
               <a  name="disLastpage" class="last paginate_button" tabindex="0" onclick="lastPage()" >末页</a>
            </div>
		</div>
</div>
                            </section>
                          
                            <!--数据表格  end -->
                        </section>
                        <!--主体内容 end-->
                        <!-- 页脚内容begin-->
                     
                        <!-- 页脚内容end-->
                    </section>
                </section>
            </section>
        </section>
    </section>

    <!--添加网络组件弹层 begin-->
    <div id="addPop">
        <div class="row">
            <div class="col-sm-3 text-right m-t-xs">所属项目集</div>
            <div class="col-sm-6">
                <select class="form-control">
                    <option>请选择项目集</option>
                    <option>项目集1</option>
                </select>
            </div>
            <div class="col-sm-1">
                <span class="required">*</span>
            </div>
        </div>
        <div class="row m-t">
            <div class="col-sm-3 text-right m-t-xs">所属项目</div>
            <div class="col-sm-6">
                <select class="form-control">
                    <option>请选择项目集</option>
                    <option>项目集1</option>
                </select>
            </div>
            <div class="col-sm-1">
                <span class="required">*</span>
            </div>
        </div>
        <div class="row m-t">
            <div class="col-sm-3 text-right m-t-xs">网络组件名称</div>
            <div class="col-sm-6">
                <input type="text" class="form-control" />
            </div>
            <div class="col-sm-1">
                <span class="required">*</span>
            </div>
        </div>
        <div class="row m-t">
            <div class="col-sm-3 text-right m-t-xs">说明</div>
            <div class="col-sm-8">
                <textarea cols="30" rows="2" class="form-control"></textarea>
            </div>
            <div class="col-sm-1">
                <span class="required">*</span>
            </div>
        </div>
    </div>
    <!--添加网络组件弹层 begin-->

    <!--编辑网络组件弹层 begin-->
    <div id="editPop">
        <div class="row">
            <div class="col-sm-3 text-right m-t-xs">所属项目集</div>
            <div class="col-sm-6">
                <select class="form-control">
                    <option>请选择项目集</option>
                    <option>项目集1</option>
                </select>
            </div>
            <div class="col-sm-1">
                <span class="required">*</span>
            </div>
        </div>
        <div class="row m-t">
            <div class="col-sm-3 text-right m-t-xs">所属项目</div>
            <div class="col-sm-6">
                <select class="form-control">
                    <option>请选择项目集</option>
                    <option>项目集1</option>
                </select>
            </div>
            <div class="col-sm-1">
                <span class="required">*</span>
            </div>
        </div>
        <div class="row m-t">
            <div class="col-sm-3 text-right m-t-xs">网络组件名称</div>
            <div class="col-sm-6">
                <input type="text" class="form-control" />
            </div>
            <div class="col-sm-1">
                <span class="required">*</span>
            </div>
        </div>
        <div class="row m-t">
            <div class="col-sm-3 text-right m-t-xs">说明</div>
            <div class="col-sm-8">
                <textarea cols="30" rows="2" class="form-control"></textarea>
            </div>
        </div>
    </div>
    <!--编辑网络组件弹层 end-->

    <script>
        $(function () {
            //准备添加网络组件弹层
            $("#addPop").dialog({
                //标题【必须，否则为空】
                title: "添加一个网络组件",
                autoOpen: false,
                width: 550,
                modal: true,
                btnWrapTextAlign: "right",
                show: {
                    effect: "drop",
                    distance: 300,
                    direction: "up",
                    duration: 300
                },
                hide: {
                    effect: "drop",
                    distance: 100,
                    direction: "up",
                    duration: 200

                },
                buttons: [
                    {
                        text: "取消",
                        click: function () {
                            $(this).dialog("close");
                        },
                        btnCls: "btn btn-default"
                    },
                    {
                        text: "确认",
                        click: function () {
                            alert("提交成功！");
                        },
                        btnCls: "btn-info btn-s-md"
                    }
                ]
            });

            //准备编辑网络组件弹层
            $("#editPop").dialog({
                //标题【必须，否则为空】
                title: "编辑网络组件",
                autoOpen: false,
                width: 550,
                modal: true,
                btnWrapTextAlign: "right",
                show: {
                    effect: "drop",
                    distance: 300,
                    direction: "up",
                    duration: 300
                },
                hide: {
                    effect: "drop",
                    distance: 100,
                    direction: "up",
                    duration: 200

                },
                buttons: [
                    {
                        text: "取消",
                        click: function () {
                            $(this).dialog("close");
                        },
                        btnCls: "btn btn-default"
                    },
                    {
                        text: "确认",
                        click: function () {
                            alert("提交成功！");
                        },
                        btnCls: "btn-info btn-s-md"
                    }
                ]
            });

            //点击开启添加网络组件弹层
            $("#btn").click(function (event) {
                $("#addPop").dialog("open");
                event.preventDefault();
            });

            //点击开启编辑网络组件弹层
            $(".js_editNet").click(function (event) {
                $("#editPop").dialog("open");
                event.preventDefault();
            });

        });
    </script>

</body>
</html>