/*add by tianhaiting 2014-9-18*/
.control-label { padding:7px 0 0 0; text-align:right; }
.control-label01 { padding:7px 0 0 0; text-align:right;  }
.col-lg-0-96, .col-lg-1-44,.col-sm-1-5,.col-lg-1-6 {position:relative;min-height:1px;padding-left:15px; float:left;}
.col-lg-0-96 { width:8%; }
.col-lg-1-44 { width:12%; }
.col-lg-1-6 { width:14%; }
.col-sm-1-5 { width:10%; }
.label-float-left { float:left; }

.red_tip { color:#fb6b5b;display:block;float:left;padding:7px 0 0 0; }
.panel .table td, .panel .table th { padding:6px 10px;word-break:break-all;word-wrap:break-word;}/*change by chenqiaoling 2014.11.12*/
.rcmd-thumbnail { max-height: 50px; max-width: 80px;}
.photoDetails {display:block;margin:auto;max-width:558px; }



.uploadArea {width:292px; height:161px; position:relative;}
           #divFileProgressContainer {position: absolute;width: 292px;height: 163px;}
           #divFileProgressContainer2 {position: absolute;width: 292px;height: 163px;}
           .upl {width: 292px;height: 163px;background: url(../images/down.png) no-repeat 0 0;margin: 0 auto;display: block;position: absolute;}
           .js_showImg img{width:292px; height:161px;}
