<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gyyx.action.dao.novicecard.IErWeiMaMapper">

	<resultMap type="ErWeiMa" id="ErWeiMa">
		<id column="code" property="code" />
		<result column="card_no" property="cardNo" />
		<result column="used_count" property="usedCount" />
		<result column="max_count" property="maxCount" />
		<result column="game_id" property="gameId" />
		<result column="description" property="description" />
		<result column="item_id" property="itemId" />
		<result column="start_time" property="startTime" />
		<result column="end_time" property="endTime" />
		<result column="is_limit" property="isLimit" />
		<result column="batch_no" property="batchNo" />
		<result column="type_id" property="typeId" />
	</resultMap>

	<select id="selectErWeiMaValid" parameterType="ErWeiMa" resultMap="ErWeiMa">
		SELECT code,card_no,used_count,max_count,game_id,description,item_id,start_time,end_time,is_limit,batch_no,type_id 
		FROM novice_card_erweima 
		WHERE card_no=#{cardNo} and batch_no=#{batchNo} and game_id=#{gameId}
	</select>

</mapper>
